<div class="tabbable discover_item_details">
  <ul class="nav nav-tabs">
    <li class="active"><%= link_to t(".agencies"), "#ad-agencies-#{item.id}", :data => { :toggle => "tab" } %></li>
    <li><%= link_to t(".brands"), "#ad-brands-#{item.id}", :data => { :toggle => "tab" } %></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id='<%= "ad-agencies-#{item.id}" %>'>
      <%- item.company.agencies_for_details.each do |a| %>
        <div class="association">
          <%= link_to image_tag(a.logo), tool_path(a) %>
        </div>
      <% end %>
    </div>
    <div class="tab-pane" id='<%= "ad-brands-#{item.id}" %>'>
      <%- item.company.brands_for_details.each do |b| %>
        <div class="association">
          <%= link_to image_tag(b.logo), tool_path(b) %>
        </div>
      <% end %>
    </div>
  </div>
</div>
