<div class="tabbable discover_item_details">
  <ul class="nav nav-tabs">
    <li class="active"><%= link_to t(".description"), "#ag-description-#{item.id}", :data => { :toggle => "tab" } %></li>
    <li><%= link_to t(".brands"), "#ag-brands-#{item.id}", :data => { :toggle => "tab" } %></li>
    <li><%= link_to t(".locations"), "#ag-locations-#{item.id}", :data => { :toggle => "tab" } %></li>
    <li><%= link_to t(".people"), "#ag-people-#{item.id}", :data => { :toggle => "tab" } %></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id='<%= "ag-description-#{item.id}" %>'>
      <p class="description"><%= item.company.description %></p>
    </div>
    <div class="tab-pane" id='<%= "ag-brands-#{item.id}" %>'>
      <%- item.company.brands_for_details.each do |b| %>
        <div class="association">
          <%= link_to image_tag(b.logo), tool_path(b) %>
        </div>
      <% end %>
    </div>
    <div class="tab-pane" id='<%= "ag-locations-#{item.id}" %>'></div>
    <div class="tab-pane" id='<%= "ag-people-#{item.id}" %>'></div>
  </div>
</div>
