<div id='add-basic-<%= company.class.name.downcase %>' class="tab-pane active">
  <%= f.error_messages %>
  <div class="control-group">
    <%= f.label :name, t('.name', :company_name => t(company.class.name.downcase)), :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => "input-large" %>
    </div>
  </div>
  <%= f.fields_for :locations do |location| %>
    <%= location.hidden_field :name %>
    <%= location.fields_for :address do |address| %>
      <div class="control-group">
        <%= address.label :street, t('.street'), :class => 'control-label' %>
        <div class="controls">
          <%= address.text_field :street, :class => "input-large" %>
        </div>
      </div>
      <div class="control-group">
        <%= address.label :city, t('.city'), :class => 'control-label' %>
        <div class="controls">
          <%= address.text_field :city, :class => "input-large" %>
        </div>
      </div>
      <div class="control-group">
        <%= address.label :state_abbrev, t('.state'), :class => 'control-label' %>
        <div class="controls">
          <%= address.select :state_abbrev, us_states, :class => "input-large" %>
        </div>
      </div>
      <div class="control-group">
        <%= address.label :postal_code, t('.zip'), :class => 'control-label' %>
        <div class="controls">
          <%= address.text_field :postal_code, :class => "input-medium" %>
        </div>
      </div>
    <% end %>
  <% end %>
  <div class="control-group">
    <%= f.label :phone, t('.phone'), :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :phone, :class => "input-large" %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :email, t('.email'), :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :email, :class => "input-large" %>
    </div>
  </div>
</div>