<div class="tabbable discover_item_details">
  <ul class="nav nav-tabs">
    <li class="active"><%= link_to t(".agencies"), "#br-agencies-#{item.id}", :data => { :toggle => "tab" } %></li>
    <li><%= link_to t(".advertisers"), "#br-advertisers-#{item.id}", :data => { :toggle => "tab" } %></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id='<%= "br-agencies-#{item.id}" %>'>
      <%- item.company.agencies_for_details.each do |a| %>
        <div class="association">
          <%= link_to image_tag(a.logo), tool_path(a) %>
        </div>
      <% end %>
    </div>
    <div class="tab-pane" id='<%= "br-advertisers-#{item.id}" %>'>
      <%- item.company.advertisers_for_details.each do |a| %>
        <div class="association">
          <%= link_to image_tag(a.logo), tool_path(a) %>
        </div>
      <% end %>
    </div>
  </div>
</div>
