<%- items.each do |item| %>
  <div class="slider_item">
    <%= link_to image_tag(item.logo), tool_path(item), :class => "slider_icon span4" %>
    <div class="company_overview span8">
      <p class="company_name"><%= item.name.truncate(30) %></p>
      <%= render :partial => "location", :collection => item.locations %>
    </div>
  </div>
<% end %>
