<div id='add-description-<%= company.class.name.downcase %>' class="tab-pane description">
  <div class="control-group">
    <%= f.label :logo, t('.logo'), :class => 'control-label' %>
    <div class="controls">
      <%= f.file_field :logo, :class => "input-large" %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :description, t('.description'), :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :description, :class => "input-large" %>
    </div>
  </div>
</div>
