<div class="modal-header">
  <button class="close" data-dismiss="modal" type="button">×</button>
  <h3><%= t(".edit_#{object.type.downcase}") %></h3>
</div>
<div class="modal-body">
  <div class="form_container visible_form" id="<%= object.type.downcase %>_form">
    <%= render :partial => "#{object.type.downcase.pluralize}/form" %>
  </div>
</div>
<div class="modal-footer">
  <a class="button violet" id="submit_button" href="#"><%= t('save') %></a>
  <a data-dismiss="modal" class="button" href="#"><%= t('cancel') %></a>
</div>

<script type="text/javascript">
  $("#submit_button").click(function(event){
    $(".visible_form form").submit();   
    event.preventDefault();
  });
</script>
