<div class="row-fluid section-company">
  <div class="span2">
    <%= link_to image_tag(item.linkedin_logo), tool_path(item) %>
  </div>
  <div class="span10">
    <p class="company_name"><%= item.name.truncate(30) %></p>
    <%= render :partial => "location", :collection => item.locations %>
    <p>
      <%= t('.lite_description') %>
      <%= item.description.truncate(130) if item.description %>
    </p>
  </div>
</div>
