<tr id="<%= item.discover_type %>_profile_<%= item.id %>">
  <td class="user">
    <div class="row-fluid row-separator">
      <div class="span3">
        <%= link_to image_tag(item.logo, :size => "100x100", :alt => item.logo, :class => "discover_icon"), profile_link(item) %>
      </div>
      <div class="span9">
        <span class="<%= item.discover_type %>"><%= link_to item.fullname.truncate(25), profile_link(item) %></span>
        <p><%= item.title %></p>
        <p class="<%= status_class_color(item.online_status) %>">
          <%= item.item_type.titleize if item.item_type %>
        </p>
        <p class="<%= status_class_color(item.online_status) %>">
          <%= item.online_status %>
        </p>
      </div>
    </div>
  </td>
  <td class="location">
    <div class="row-separator">
      <%= discover_item_info(item) %>
    </div>
  </td>
  <td class="options">
    <%= render_view_profile(item) %>
    <%= request_connection_link(item) %>
  </td>
</tr>
