<div id="add_new_entry">
  <div class="modal-header">
    <button class="close" data-dismiss="modal" type="button">×</button>
    <div class="rightFloat">
      <%= select_tag :entry_type, options_for_select(entry_types) %>
    </div>
    <h3><%= t('.add_new_entry') %></h3>
  </div>
  <div class="modal-body">
    <div class="form_container <%= visible_form_class('publisher') %>" id="publisher_form">
      <%= render :partial => "publishers/form" %>
    </div>
    <div class="form_container <%= visible_form_class('agency') %>" id="agency_form">
      <%= render :partial => "agencies/form" %>
    </div>
    <div class="form_container <%= visible_form_class('brand') %>" id="brand_form">
      <%= render :partial => "brands/form" %>
    </div>
    <div class="form_container <%= visible_form_class('advertiser') %>" id="advertiser_form">
      <%= render :partial => "advertisers/form" %>
    </div>
  </div>
  <div class="modal-footer">
    <a class="button violet" id="submit_button" href="#"><%= t('save_and_add') %></a>
    <a data-dismiss="modal" class="button" href="#"><%= t('cancel') %></a>
  </div>
</div>

<script type="text/javascript">

  var InitEntryTypeForm = ( function(obj) {
    $(".form_container").removeClass('visible_form');
    $('div.modal-body div.form_container').hide();
    $("#" + $(obj).val() + '_form').addClass('visible_form').show();
  })

  $("#entry_type").change( function() { InitEntryTypeForm(this) } );
  InitEntryTypeForm( $('#entry_type') )

  $("#submit_button").click(function(event){
    $(".visible_form form").submit();   
    event.preventDefault();
  });
</script>
