<div class="nice_filter_modal">
  <div class="modal-header">
    <button class="close" data-dismiss="modal" type="button">×</button>
    <h3><%= t('.fine_filter_options') %></h3>
  </div>
  <div class="modal-body">
    <div class="filter_part">
      <%= form_tag fine_fetch_tools_path, :remote => true do %>
        <h4 class="filter_header"><%= t(".build_your_filter") %></h4>
        <p class="left"><%= t(".what_are_you_looking_for") %></p>
        <div id="filter_type" class="btn-group">
          <button class="btn dropdown-toggle-search all-rounded" data-toggle="dropdown" href="">
            <div class="current-value"><%= t('.publisher') %></div>
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li><a href="" data-type="publisher"><%= t('.publisher') %></a></li>
            <li><a href="" data-type="brand"><%= t('.brand') %></a></li>
            <li><a href="" data-type="agency"><%= t('.agency') %></a></li>
            <li><a href="" data-type="person"><%= t('.person') %></a></li>
          </ul>
        </div>
        <%= hidden_field_tag 'search[type]' %>
        <p class="clear_p">
          <%= t(".publisher_have", :item => content_tag(:span, t('.publisher'), :id => 'type-label')).html_safe %>
        </p>
        <p><%= t(".criteria") %></p>
        <div class="checkboxes">
          <div class="publisher brand person">
            <span class="icon-plus trigger" data-toggle=".states"></span>
            <%= check_box_tag 'search[cities][]', :states, false, :id => :states, :title => t('.all_states'), :id => :states, :class => :parent, 'data-parent' => :states %>
            <%= label_tag :states, t('.state') %>
            <ul class="states">
              <% @addresses.each do |state, addresses| %>
                <li>
                  <div class="publisher person brand">
                    <span class="icon-plus trigger" data-toggle=".state_<%= state %>"></span>
                    <%= check_box_tag '', state, false, :id => "state_#{state}", :title => state, 'data-parent' => :states, :class => :parent %>
                    <%= label_tag "state_#{state}", state %>
                    <ul class="states state_<%= state %>">
                      <% addresses.each_with_index do |city, i| %>
                        <li>
                          <%= check_box_tag "search[cities][]", city, false, :id => "city_#{state}_#{i+1}", :title => city %>
                          <%= label_tag "city_#{state}_#{i+1}", city %>
                        </li>
                      <% end %>
                    </ul>
                  </div>
                </li>
              <% end %>
            </ul>
          </div>
          <div class="person">
            <span class="icon-plus trigger" data-toggle=".search_roles"></span>
            <%= check_box_tag 'search[role_ids][]', :all, false, :id => :search_roles, :title => t('.all_roles'), :class => :parent %>
            <%= label_tag :search_roles, t('.role') %>
            <ul class="search_roles">
              <% @roles.each do |role| %>
                <li>
                  <%= check_box_tag 'search[role_ids][]', role.id, false, :id => "role_#{role.id}", :title => role.name %>
                  <%= label_tag "role_#{role.id}", role.name %>
                </li>
              <% end %>
            </ul>
          </div>
          <div class="publisher">
            <span class="icon-plus trigger" data-toggle=".search_ad_types"></span>
            <%= check_box_tag 'search[ad_type_ids][]', :all, false, :id => :search_ad_types, :title => t('.all_ad_types'), :class => :parent %>
            <%= label_tag :search_ad_types, t('.ad_type') %>
            <ul class="search_ad_types">
              <% @ad_types.each do |type| %>
                <li>
                  <%= check_box_tag 'search[ad_type_ids][]', type.id, false, :id => "ad_type_#{type.id}", :title => t("publishers.ad_type_group.#{type.name}") %>
                  <%= label_tag "ad_type_#{type.id}", t("publishers.ad_type_group.#{type.name}") %>
                </li>
              <% end %>
            </ul>
          </div>
          <div class="publisher brand">
            <span class="icon-plus trigger" data-toggle=".search_categories"></span>
            <%= check_box_tag 'search[category_ids][]', :all, false, :id => :search_categories, :title => t('.all_categories'), :class => :parent %>
            <%= label_tag :search_categories, t('.category') %>
            <ul class="search_categories">
              <% @categories.each do |category| %>
                <li>
                  <%= check_box_tag 'search[category_ids][]', category.id, false, :id => "category_#{category.id}", :title => category.name %>
                  <%= label_tag "category_#{category.id}", category.name %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      <% end %>
    </div>
    <div class="result_part">
      <h4 class='filter_header'><%= t('.your_filter') %></h4>
      <div class="checkboxes">
        <ul id="filters"></ul>
      </div>
      <div class='inline-filter'>
        <input id="search_name" type='text' class='filter' placeholder='<%= t('.type_your_search_here') %>' />
      </div>
      <h4 class='filter_header'><%= t('.search_results') %></h4>
      <ul class='header'>
        <li><%= t('.site_name') %></li>
        <li><%= t('.location') %></li>
        <li><%= t('.category') %></li>
        <li><%= t('.options') %></li>
      </ul>
      <div class="search-results">
        <table>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
