<% nice_filter_search_items.each do |item| %>
  <tr data-like="<%= item.search_like %>">
    <td>
      <div class='site'>
        <img src='<%= item.logo %>' size='32x32' />
        <%= link_to  item.short_search_site_name, "javascript:void(false)", :title => item.search_site_name %>
      </div>
    </td>
    <td><%= item.search_location %></td>
    <td><%= item.search_category %></td>
    <td>
      <%= link_to t(".view_profile"), user_profile_path(item), :class => "btn btn-small" %>
      <%= request_connection_link(item) %>
    </td>
  </tr>
<% end %>
