<div class="tabbable discover_item_details">
  <ul class="nav nav-tabs">
    <li class="active"><%= link_to t(".description"), "#sel-description-#{item.id}", :data => { :toggle => "tab" } %></li>
    <li><%= link_to t(".brands"), "#sel-achievements-#{item.id}", :data => { :toggle => "tab" } %></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id='<%= "sel-description-#{item.id}" %>'>
      <p class="description"><%= item.user_profile.description %></p>
    </div>
    <div class="tab-pane" id='<%= "sel-achievements-#{item.id}" %>'></div>
  </div>
</div>
