<div id="profile_accepted_units" class="tab-pane">
  <div class="row_fluid">
    <% if @company.ad_types.blank? %>
      <div class="no_items"><%= t('no_items') %></div>
    <% else %>
      <div class="mod-connections">
        <table class="table">
          <thead>
            <tr>
              <th class="user_list">
                <span><%= t('.logo') %></span>
              </th>
              <th class="user_list">
                <span><%= t('.unit_name') %></span>
              </th>
              <th class="location_list">
                <span><%= t('.content_category') %></span>
              </th>
            </tr>
          </thead>
          <tbody class="section-connections">
            <% @company.ad_types.each do |type| %>
              <tr>
                <td><%= image_tag @company.logo %></td>
                <td><%= type.unit_name %></td>
                <td><%= type.content_category %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    <% end %>
  </div>
</div>
