<div class="carousel-nav-div">
  <%= link_to raw('&lsaquo;'), '#', :class => "carousel_control left", :id => "prev-news" %>
</div>
<div id="news-ribbon">
  <div id="news-slider">
    <div class="news-item" style="background-image: url(/assets/demo/account_logos/nike.png)"></div>
    <div class="news-item" style="background-image: url(/assets/demo/account_logos/petco.png)"></div>
    <div class="news-item" style="background-image: url(/assets/demo/account_logos/bmw.png)"></div>
    <div class="news-item" style="background-image: url(/assets/demo/account_logos/toyota_off.png)"></div>
  </div>
</div>
<div class="carousel-nav-div">
  <%= link_to raw('&rsaquo;'), '#', :class => "carousel_control right", :id => "next-news" %>
</div>
