<div class="tabbable discover_item_details">
  <ul class="nav nav-tabs">
    <li class="active"><%= link_to t(".traffic_data"), "#traffic-data-#{item.id}", :data => { :toggle => "tab" } %></li>
    <li><%= link_to t(".ad_types"), "#ad-types-#{item.id}", :data => { :toggle => "tab" } %></li>
    <li><%= link_to t(".description"), "#description-#{item.id}", :data => { :toggle => "tab" } %></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id='<%= "traffic-data-#{item.id}" %>'>
      <div class="leftFloat">
      </div>
      <div class="leftFloat">
      </div>
    </div>
    <div class="tab-pane" id='<%= "ad-types-#{item.id}" %>'></div>
    <div class="tab-pane" id='<%= "description-#{item.id}" %>'>
      <p class="description"><%= item.company.description %></p>
    </div>
  </div>
</div>
