<%- items.each do |package| %>
  <div class="slider_item">
    <%= link_to image_tag(package.logo), [package.packagable, package], :class => "slider_icon span4" %>
    <div class="company_overview span8">
      <p><%= package.name.truncate(30) %></p>
    </div>
  </div>
<% end %>
