<%= link = content_tag(:a, t(".#{type}"), :href => "javascript:void(0)") %>
<%= result << content_tag(:li, link, :id => id, :class => type) %>
<%= result << content_tag(:li, "", :class => "divider") if divider %>
