<% present tab_card do |presenter| -%>
  <div class="span6 tab_card" data-role="<%= presenter.type %>">
    <div class="logo">
      <%= link_to presenter.logo(:size => "100x100"), presenter.profile_path %>
    </div>
    <div class="name">
      <%= link_to presenter.name, presenter.profile_path %>
    </div>
    <%= presenter.title %>
    <%= presenter.company_name %>
    <div class="city_and_country">
      <%= presenter.location %>
    </div>
  </div>
<% end -%>
