<div class="m_icon">
  <div class="comscore_icon" alt="comscore logo"></div>
  <%= link_to t(".comscore"), "http://www.comscore.com/", :class => "advertiser_link" %>
</div>
<div class="m_icon">
  <div class="compete_icon" alt="compete logo"></div>
  <%= link_to t(".compete"), "http://www.compete.com/", :class => "advertiser_link" %>
</div>
<div class="m_icon">
  <div class="quantcast_icon" alt="quantcast logo"></div>
  <%= link_to t(".quantcast"), "http://quantast.com/#{@company.name}", :class => "advertiser_link" %>
</div>
