<div class="row-fluid">
  <div id="update_module" class="span12">
    <%= image_tag "/assets/spinner.gif", :id => "spinner" %>
  </div>
</div>
<h1><%= t(".add_conections") %></h1>
<div id="discover_items" class="mod-connections">
  <table id="profile_list" class="table">
    <thead>
      <tr>
        <th colspan="3" class="section-search">
          <div class="row-fluid">
            <div class="span10">
              <div class="row-fluid">
                <div class="span4">
                  <input type="text" placeholder="<%= t(".search_placeholder")%>" id="discover-search" class="input-text">
                </div>
                <div class="span8">
                  <div id="profile_type" class="btn-group">
                    <button class="btn dropdown-toggle-search" data-toggle="dropdown" href="#">
                      <div class="current-value" data-value=""><%= t('.all') %></div>
                      <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                      <li>
                        <%= link_to t('.all'), "", :data => {:value => ""} %>
                      </li>
                      <% entry_types.each do |value, key| %>
                        <li>
                          <%= link_to value, "", :data => {:value => key} %>
                        </li>
                      <% end %>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="span2">
              <%= link_to t(".advanced_search"), nice_filter_tools_url, :class => "btn btn-primary", :id => "nice_filter", :remote => true %>
            </div>
          </div>
        </th>
      </tr>
      <tr>
        <th class="user_list">
          <span><%= t('.user') %></span>
        </th>
        <th class="location_list">
          <span><%= t('.information') %></span>
        </th>
        <th class="options_list">
          <span><%= t('.options') %></span>
        </th>
      </tr>
    </thead>
    <tbody class="section-connections">
      <%= render :partial => "item", :collection => @discover_items %>
    </tbody>
  </table>
</div>

<script type='text/javascript'>
  Marketplace = function(){}
  Marketplace.data_items = <%= @data_for_autocomplete.html_safe %>;
  Post.load_status_update_bar('<%= new_post_path %>');
</script>
