<div class="profile_main_content">
  <%= render :partial => "shared/view_profile", :locals => { :object => @company } %>
	<% present @company do |company_presenter| -%>
    <div class="row-fluid tabs">
      <div class="span12">
        <ul class="nav nav-tabs">
          <%= company_presenter.nav_tabs %>
        </ul>
        <div class="tab-content">
          <%= company_presenter.render_tabs %>
        </div>
      </div>
    </div>
  <% end -%>
</div>
