<div class="hide_notification_popup">
  <div>
    <%= link_to notice_path(notice), :method => :delete, :remote => true do %>
      <button type="button" class="grey close">×</button>
      <span class="text"><%= t('notices.hide_prompt.hide_only_this_item') %></span>
    <% end %>
  </div>
  <div>
    <%= link_to destroy_all_notices_path, :remote => true do %>
      <button type="button" class="blue close">×</button>
      <span class="text"><%= t('notices.hide_prompt.hide_all_items') %></span>
    <% end %>
  </div>
</div>
