<tr class='date_sent' data-id="<%= notice_date_identifier(date) %>">
  <td>
    <span><%= t('notices.index.date_sent', :date => date.strftime("%b %-d, %Y")) %></span>
  </td>
  <td></td>
  <td></td>
  <td></td>
</tr>
