<tr class=<%= 'unread' if presenter.unread? %> data-id="notification_<%= presenter.id %>" data-date_id="<%= notice_date_identifier(presenter.created_at.to_date) %>">
  <td class='actor'>
    <div class='avatar'>
      <%= image_tag(presenter.actor.logo.thumb.url, :size => "38x38") %>
    </div>
  </td>
  <td class="icon">
    <%= presenter.icon %>
  </td>
  <td>
    <div class='description'>
      <%= presenter.header %>
      <%= presenter.message %>
    </div>
    <div class='created_at'>
      <%= presenter.created_at_time %>
    </div>
  </td>
  <td class="close_button">
    <i class="icon-remove" data-close-id="<%= presenter.id %>"></i>
  </td>
</tr>
<script type="text/javascript">
  Notices.attachHidePopup(<%= presenter.id %>, '<%= j(render :partial => 'layouts/notices/hide_notice_popup', :locals => { :notice => presenter }) %>');
  Notices.attachDetailsPopup(<%= presenter.id %>, '<%= timeline_event_path(presenter) %>');
</script>
