<div class="modal-header">
  <button class="close" data-dismiss="modal" type="button">×</button>
  <h3><%= t(".add_a_connection") %></h3>
</div>
<div id="connections-new" class="modal-body">
  <div class="row-fluid">
    <div class="span12">
      <div class="row-fluid">
        <div class="span5">
          <h4><%= t(".search_by") %></h4>
          <%= render :partial => "search_form" %>
        </div>
        <div class="span7">
          <div class="row-fluid">
            <div class="span12">
              <h2><%= @results ? t(".results") : t(".suggestions") %></h2>
            </div>
          </div>
          <div class="row-fluid">
            <div id="connection-container" class="span12">
              <ul class="row-fluid block-grid two-up suggestions">
                <%= render :partial => "user_search", :locals => { :users => @results || @suggestions } %>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <%= link_to t("close"), "#", :class => "button", "data-dismiss" => "modal" %>
</div>
