<%= form_for(@connection, :html => { :class => :nice, :remote => true }, :builder => StandartBuilder ) do |f| %>
  <div class="modal-header">
    <button class="close" data-dismiss="modal" type="button">×</button>
    <h3><%= t(".request_connection") %></h3>
  </div>
  <div class="modal-body">
    <div class="row-fluid">
      <div class="span12">
        <div class="row-fluid">
          <%= f.error_messages %>
        </div>
        <div class="row-fluid">
          <div class="span12">
            <h2><%= t(".connect_with_this_user") %></h2>
            <p style="margin: 1em"><%= t(".after_accepting") %></p>
            <h2><%= t(".personal_message") %></h2>
          </div>
        </div>
        <%= f.hidden_field :friend_id %>
        <div class="row-fluid">
          <div class="span12">
            <%= f.text_area :message, :id => 'connection-message', :class => 'span12', :placeholder => t(".hello_placeholder"), :rows => 3, :cols => 40 %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <%= f.submit t(".connect"), :class => "button violet" %>
    <%= link_to t("close"), "#", :class => "button", "data-dismiss" => "modal" %>
  </div>
<% end %>
