<div class="row-fluid">
  <div class="container-box-header clearfix">
    <h2 class="left"><%= t('.people') %></h2>
    <div class="btn-group left with_indicators people_buttons span6">
      <button class="btn active" data-remote-url="<%= show_users_users_path(:t => "newest") %>">
        <%= t('.new_users') %>
      </button>
      <button class="btn" data-remote-url="<%= show_users_users_path(:t => "incoming") %>">
        <%= t('.incoming_requests') %>
      </button>
      <div class="incoming indicator_container">
        <%= indicator(:count => @incoming_requests_count, :class => 'badge badge-info') %>
      </div>
      <button class="btn" data-remote-url="<%= show_users_users_path(:t => "outgoing") %>">
        <%= t('.outgoing_requests') %>
      </button>
      <div class="indicator_container">
        <%= indicator(:count => @outgoing_requests_count, :class => 'badge badge-info') %>
      </div>
    </div>
    <div class="rightFloat">
      <form class="form-search" action="<%= connections_path %>">
        <input type="text" class="search_input" placeholder="<%= t(".search_placeholder") %>" value="<%= params[:search] %>">
        <input type="submit" class="btn" value="<%= t('search') %>">
      </form>
    </div>
  </div>
</div>
<div class="row">
  <div class="container-box-body">				
    <div id="user-container" class="clearfix">
      <%= render :partial => "users/show_users" %>
    </div>
  </div>
</div>
