<%= form_tag(search_connections_path, :remote => true, :method => :get, :id => "form_search") do %>
  <div class="row-fluid gray-field">
    <div class="span3"><%= t(".name") %></div>
    <div class="span9"><%= text_field_tag "name", params[:name], :class => "input-text" %></div>
  </div>
  <div class="row-fluid">
    <div class="span3"><%= t(".title") %></div>
    <div class="span9"><%= text_field_tag "title", params[:title], :class => "input-text" %></div>
  </div>
  <div class="row-fluid gray-field">
    <div class="span3"><%= t(".phone") %></div>
    <div class="span9"><%= text_field_tag "phone", params[:phone], :class => "input-text" %></div>
  </div>
  <div class="row-fluid">
    <div class="span3"><%= t(".email") %></div>
    <div class="span9"><%= text_field_tag "email", params[:email], :class => "input-text" %></div>
  </div>
  <div class="row-fluid gray-field">
    <div class="span3"><%= t(".company") %></div>
    <div class="span9"><%= text_field_tag "company", params[:company], :class => "input-text" %></div>
  </div>
  <div class="row-fluid">
    <div class="span12">
      <div class="span3">
        <%= t(".type") %>
      </div>
      <div class="span9">
        <div class="row-fluid">
          <div class="span4"><%= t("seller") %></div>
          <div class="span8"><%= check_box_tag "user_type[]", Role::SELLER, params[:user_type].try(:include?, Role::SELLER) %></div>
        </div>
        <div class="row-fluid">
          <div class="span4"><%= t("buyer") %></div>
          <div class="span8"><%= check_box_tag "user_type[]", Role::BUYER, params[:user_type].try(:include?, Role::BUYER) %></div>
        </div>
        <div class="row-fluid">
          <div class="span4"><%= t("supplier") %></div>
          <div class="span8"><%= check_box_tag "user_type[]", Role::PUBLISHER, params[:user_type].try(:include?, Role::PUBLISHER) %></div>
        </div>
      </div>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span12">
      <%= submit_tag t("search"), :class => "btn btn-inverse white-color" %>
    </div>
  </div>
<% end %>
