<% users.each_with_index do |user, i| %>
  <li class="span6">
    <div class="connection-detail my-connection ui-draggable row-fluid">
      <div class="span12">
        <%= link_to image_tag(user.avatar.thumb.url), user_profile_path(user.user_profile), :class => "span3 user-profile-img" %>
        <div class="span9">
          <div class="row-fluid">
            <%= link_to user.fullname.truncate(19), user_profile_path(user.user_profile), :class => "name user-profile" %>
            <div class="title"><%= user.title.try(:truncate, 25) %></div>
            <div class="location"><%= user.user_profile.location %></div>
          </div>
        </div>
      </div>
    </div>
  </li>
<% end %>
