<div class="connection-detail my-connection" id="<%= user.id %>">
  <div class="row-fluid top-row">
    <div class="span3">
      <%= link_to image_tag(user.avatar.thumb.url), user_profile_path(user.user_profile), :class => "user-profile-img" %>
    </div>
    <div class="span9">
      <%= link_to user.fullname.truncate(19), user_profile_path(user.user_profile), :class => "name user-profile" %>
      <div class="title"><%= user.title.try(:truncate, 25) %></div>
      <div class="company"><%= user.user_profile.company_name.truncate(25) %></div>
    </div>
  </div>
  <div class="row-fluid">
    <div class="description" id="connection-description-<%= user.id %>" style="display:none">
      <div><%= t('.location') %></div>
      <p><%= user.user_profile.location %></p>
      <div><%= t('.description') %></div>
      <p><%= user.description.try(:truncate, 230, :separator => ' ') %></p>
      <div><%= t('.experience') %></div>
      <p><%= user.experience.try(:truncate, 230, :separator => ' ') %></p>
    </div>
  </div>
  <div class="row-fluid">
    <div class="right">
      <div class="activity-feed-actions">
        <% connection = current_user.find_active_connection(user) %>
        <%= form_for connection, :html => { :class => "connection-form" }, :remote => true do |f| %>
          <div id="connection-<%= connection.id %>-actions">
            <%= link_to t('view'), "#", :onclick => "toggleConnectionDescription('#{user.id}')" %> &bull;
            <%= f.submit t('delete'), :class => "submit-link", :value => "Delete" %>
          </div>
          <div id="connection-<%= connection.id %>-undo" style="display:none">
            <%= t('.connection_has_been_deleted') %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
