$("#connections-list").html("<%= escape_javascript(render('list'))%>");
$(".connection-tab").removeClass("active")
<% if params[:t].blank? %>
$("#tab-all").addClass("active")
<% else %>
$("#tab-<%= params[:t] %>").addClass("active")
<% end %> 
resetDraggable();
initializeUserProfilePopups();
