<div id="new_contacts_modal" class="modal hide fade"></div>
<div id="new_groups_modal" class="modal hide fade"></div>
<div class="row-fluid">
  <div id="people_buttons" class="container-box">
    <%= render :partial => "people_buttons" %>
  </div>
</div>
<div class="row-fluid" id="connection-containment-area">

  <div class="span6" id="my-connections">
    <div class="row-fluid">
      <div class="container-box">
        <div class="row-fluid">
          <div class="container-box-header padding-right">
            <h2 class="left"><%= t('.my_connections') %></h2>
            <%= link_to t('.add_contacts'), add_contacts_connections_path, :class => "btn btn-inverse right", :remote => true %>
          </div>
        </div>
        <div class="row-fluid">
          <div class="container-box-body">				
            <div id="connection-container">
              <%= render_connections_list(params[:c] ||= 'all') %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="span6" id="my-groups">
    <div class="row-fluid">
      <div class="container-box">
        <div class="row-fluid">
          <div class="container-box-header padding-right">
            <h2 class="left"><%= t('.my_groups') %></h2>
            <%= link_to t('.add_group'), new_circle_path, :class => "btn btn-inverse right", :remote => true %>
          </div>
        </div>
        <div class="row-fluid">
          <div class="container-box-body">				
            <div id="group-container">
              <%= render :partial => 'groups' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
