var $container = $("table#requests tr td#connection-<%= @connection.id %>");
var $container_block_user = $("table#requests #connection-<%= @connection.id %>-block-user");
$container.children().remove();

<% present @connection do |connection| %>
  <% if connection.pending? %>
    $container.append("<%= escape_javascript(connection.render_buttons) %>");
    $container_block_user.append("<%= escape_javascript(connection.block_button) %>");
  <% elsif connection.deleted? %>
    $container.append("<%= escape_javascript(connection.render_deleted) %>");
  <% else %>
    $container.append("<%= escape_javascript(connection.render_undo) %>");
    $container_block_user.children('.block_user').remove();
  <% end %>
<% end %>
