<div class="hero-unit">
  <h1 class="welcome"><%= t('.private_collaborative_marketplace')%></h1>
  <p class="welcome"><%= t('.your_private_collaborative')%></p>
</div>

<div class="row-fluid">
  <div class="span7">
    <div class="well">
      <h2><%= t('.graphic_messaging')%></h2>
      <h2><%= t('.new_feature')%></h2>
    </div>
  </div>

  <div class="span5 sign-up-box">
    <h2 class="sign-up-its-free"><%= t(".free_signup")%></h2>
    <div>
      <p class="sign-up-its-free grey_button"><a class="btn-large btn-primary" href="/auth/linkedin"><%= t('.sign_up_linkedin')%></a></p>
      <p class="sign-up-its-free"><%= t('.do_not_have_linkedin_account')%> <%= t('.sign_up')%><a href="https://www.linkedin.com/reg/join"> <%= t('.here')%></a>!</p>
    </div>
  </div>
</div>