<div class="row-fluid">
  <div class="span6 offset2">
    <p><%= title %></p>
    <div class="form-search rightFloat">
      <input type="text" class="input-medium search-query" id="signup_connections_search_box" autocomplete='off'>
      <button type="submit" class="btn"><%= t("search") %></button>
    </div>
  </div>
</div>
