<%= render :layout => "signup/progress_bar_layout", :locals => { :title => t(".add_connections"), :step => t(".step5"), :progress_percentage => 83 } do %>
  <%= render :partial => 'search_box', :locals => {:title => t(".select_existing")} %>
  <div class="row-fluid">
    <div class="offset2 well leftFloat" id="connections" data-connections="<%= @connections.to_json(:only => [:id, :first_name, :last_name]) %>">
      <%= form_tag signup_beanstock_connections_path(:id => current_user.uid), :id => "beanstock_connections", :class => "span6" do %>
        <% @connections.each_slice(3) do |cg| %>
          <div class="row-fluid">
            <%- cg.each do |c| %>
              <div class="add-connection-tile span2">
                <div class="add-connection-checkbox leftFloat">
                  <%= check_box_tag 'connections[]', c.id, nil, :id => dom_id(c) %>
                </div>
                <div class="user-pic-small leftFloat">
                  <%= image_tag c.user_profile.avatar, :size => "50x50" %>
                </div>
                <p>
                  <%= link_to c.fullname, user_profile_path(c.id) %>
                </p>
              </div>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span6 offset2">
      <div class="rightFloat">
        <%= link_to t("back"), signup_skills_path(:id => current_user.uid), :class => "btn-large btn leftFloat" %>
        <%= link_to t(".invite_contacts"), "#", :onclick => "$('#beanstock_connections').submit();", :class => "btn btn-large btn-primary leftFloat" %>
      </div>
    </div>
  </div>
<% end %>
