<ul class="dropdown-menu notifications">
  <li class='messages_header'>
    <div class="leftFloat title">
      <%= t('.notices') %>
    </div>
  </li>
  <li>
    <%= render_notices_for_popup %>
  </li>
  <li class='show_all'><%= link_to t('.show_all'), notices_path %></li>
</ul>
