<% if @all_notices_size.zero?  %>
  Notices.clear();
<% else %>
  Notices.update_list("<%= j(render :partial => 'notices/notices_list') %>");
  Notices.update_dropdown("<%= j(render :partial => 'notices/dropdown') %>");
  Notices.update_badge("<%= @all_notices_size %>");
<% end %>
