<%= render :partial => 'shared/inbox_tabs' %>
<div class="tab-content inbox_tab_content">
  <div class="tab-pane active" id="show_notifications">
    <div class='notifications_header'>
      <%= link_to t(".notice_settings"), "#", :class => "btn", :remote => true %>
    </div>
    <div class='notifications_list'>
      <%= render :partial => 'notices/notices_list' %>
    </div>
  </div>
</div>
