<% container_identifier = element_identifier(subject) %>
<div class="comments_for_<%= container_identifier %>">
  <% if comments.present? %>
    <div class="row-fluid">
      <p class="bold" style="margin-top: 10px"><%= t('comments.comment.comments') %></p>
      <% comments[0..1].each do |comment| %>
        <%= render :partial => 'comments/activity_feed_comment_body', :locals => { :comment => comment, :subject => subject, :post_owner => post_owner } %>
      <% end %>
      <% if comments.size > 2 %>
        <div class="hidden_comments hidden">
          <% comments[2..comments.size-1].each do |comment| %>
            <%= render :partial => 'comments/activity_feed_comment_body', :locals => { :comment => comment, :subject => subject, :post_owner => post_owner } %>
          <% end %>
        </div>
        <%= link_to(t('comments.comment.view_all_comments'), '#', :class => 'view-all') %>
        <%= link_to(t('comments.comment.view_first_two_comments'), '#', :class => 'view-first hidden') %>
      <% end %>
    </div>
  <% end %>
</div>
