<div class="comment_body_<%= comment.id %>">
  <table>
    <tr>
      <td>
        <b><%= link_to comment.user.abbrev_name, user_profile_path(comment.user.user_profile), class: 'user-profile' %><%= t('comments.comment.says') %></b>
        <div class="comment_content">
          <input type="hidden" value="test" name="test">
          <%= best_in_place_if current_user.can_manage_comment?(comment, post_owner), comment, :comment, :type => :textarea, :display_as => :truncated_comment, :data => { :displayed_length => Comment::DISPLAYED_LENGTH }, :path => comment_path(comment, :post_owner_id => post_owner.id) %> <%= link_to raw(t('comments.comment.view_full_comment')), subject, :class => "view-more #{ 'hidden' if comment.comment.size < Comment::DISPLAYED_LENGTH }" %>
        </div>
      </td>
      <td>
        <% if current_user.can_manage_comment?(comment, post_owner) %>
          <%= link_to(comment_path(comment, :post_owner_id => post_owner.id), :method => :delete, :remote => true, :class => 'remove_comment comment_actions') do %>
            <i class='icon-trash'></i>
          <% end %>
        <% end %>
      </td>
    </tr>
  </table>
</div>
