<% present comment do |comment_presenter| %>
  <div class="full-comment">
    <div class="row">
      <div class="two columns text-center bold">
        <%= link_to image_tag(comment_presenter.user.user_profile.avatar.thumb.url, :width => 48, :height => 48), user_profile_path(comment_presenter.user.user_profile), :class => "user-profile-img" %> <br/>
        <%= link_to comment_presenter.user.abbrev_name, user_profile_path(comment_presenter.user.user_profile), class: 'user-profile' %>
      </div>
      <div class="six columns">
        <p><%= comment_presenter.title %></p>
        <div class="row">
          <%= render partial: 'shared/url_preview', :locals => { :item => comment_presenter } if comment_presenter.shared_link? %>
        </div>
      </div>
      <div class="four columns">
        <div class="activity-time-ago right"><%= time_ago_in_words(comment_presenter.created_at) %> ago</div>
      </div>
    </div>
    <div class="row">
      <% if comment_presenter.like_link_is_displayable? %>
        <div class="activity-feed-actions left">
          <%= render :partial => "likes/like_button", :locals => { :likeable => comment_presenter } %>
          <% if comment_presenter.shared_link? %>
            &bull;
            <%= link_to t('posts.share'), shares_path(:user => current_user, :activity => comment_presenter), :method => 'post' %>
          <% end %>
        </div>
      <% end %>
      <div class="activity-feed-actions right">
        <%= render :partial => "likes/like_count", :locals => { :likeable => comment_presenter } %>
      </div>
    </div>
  </div>
<% end -%>
