var $market_ticker = $("#market-stream");
if ($market_ticker.size() > 0) {
  var $popup = $("div[data-event=event_popup_<%= @comment.commentable_timeline_event.id %>]");
  $popup.find("textarea.write_remote_comment").val("").blur();
  $popup.find("div.comments").append("<%= escape_javascript(generate_presenter(@comment.timeline_event).display) %>");
} else {
  var container_class = ".comments_for_<%= element_identifier(@subject) %>";
  var $comments_container = $(container_class);
  if($comments_container) {
    $comments_container.html("<%= escape_javascript(render :partial => 'comments/activity_feed_comments', :locals => { :comments => @subject.comments, :subject => @subject, :post_owner => current_user } ) %>");
  }
  $('#add_inline_comment_for_<%= element_identifier(@subject) %>').val('');
  var a = $('#comments-count-<%= @subject.id %> a');
  a[0].firstChild.data = parseInt(a.text(), 10) + 1;
  addToggleCommentsObserver();
  reLayout($comments_container);
}
