var container_class = ".comments_for_<%= element_identifier(@subject) %>";
var $comments_container = $(container_class);
if($comments_container) {
  $comments_container.html("<%= escape_javascript(render :partial => 'comments/activity_feed_comments', :locals => { :comments => @subject.comments, :subject => @subject } ) %>");
}
$('#add_inline_comment_for_<%= element_identifier(@subject) %>').val('');
addToggleCommentsObserver();
reLayout($comments_container);
