<div class="block_choosen_user_container">
  <%= text_field_tag "blocked_user", nil, :placeholder => t('.enter_the_name'), :class =>"blocked_users_autocomlete", :data => { :autocomplete_source => autocomplete_conversations_path } %>
  <%= link_to t('.block_this_user'), block_autocomplete_user_blocked_connections_path, :class => "btn", :id => "block_choosen_user" %>
  <%= hidden_field_tag "blocked_user_id" %>
</div>

<div id="blocked_users_container">
  <table id="blocked_users" class="blocked_users">
    <%= render :partial => "blocked_user", :collection => @blocked_users, :as => :user %>
  </table>
</div>