<tr class="blocked_user" data-connection-id="<%= user.id %>">
  <td class="user_avatar">
    <%= link_to image_tag(user.user_profile.avatar, :size => "50x50", :alt => "no_image"), user_profile_path(user) %>
  </td>
  <td class="user_info">
    <div class="user_name">
      <h4><%= user.fullname %></h4>
    </div>
    <span class="user-role <%= user.role.name %> leftFloat"><%= user.role.name %></span>
    <div class="user_description"><%= user.title %></div>
  </td>
  <td class="actions">
    <%= link_to t(".unblock_user"), unblock_user_blocked_connections_path(:user_id => user), :"data-action" => "unblock_user", :class => "btn rightFloat", :remote => true %>
  </td>
</tr>