var blocked_user = '<%= escape_javascript(render :partial => "blocked_user", :locals => { :user => @blocked_user }) %>';
$('table#blocked_users').prepend(blocked_user);
$("#blocked_users_container").getNiceScroll().resize();