var blocked_users = '<%= escape_javascript(render :partial => "blocked_users") %>';
$(".left_arrea").getNiceScroll().remove();
$('#connections_container .manage_connections').empty();
$('#connections_container .manage_connections').append(blocked_users);

$(function() {
  init_scroll_and_autocomplete();
});