$("#activity-container").find("[data-ident='<%= @timeline_event.id %>']").find("div.activity-header div.details div.name div.bold").html("<%= escape_javascript(shared_by @timeline_event) %>");
AjaxActors.hide_inline_loader_by_id("<%= @timeline_event.id %>");
