<div class="row-fluid process-head">
  <div class="span4 offset1">
    <h1><%= title %></h1>
  </div>
  <div class="span6">
    <h3><%= t(".setup_progress") %></h3>
    <div><p><%= step %></p>
      <div class="progress progress-striped active">
        <div class="bar profile-progress" style="width: <%= progress_percentage %>%;"></div>
      </div>
    </div>
  </div>
</div>
<hr>
<div class="row-fluid">
  <%= yield %>
</div>
