<%= render :layout => "signup/progress_bar_layout", :locals => { :title => t(".verify_email"), :step => t(".step2"), :progress_percentage => 33 } do %>
  <div class="span6 offset2">
    <h4 class="signup-subtext"><%= t(".please_verify_email") %></h4>
    <%= form_for @user, :url => signup_user_path(@user.uid), :html => { :class => "form-horizontal" } do |f| %>
      <fieldset>
        <div class="well">
          <div class="control-group">
            <label class="control-label" for="email"><%= t(".email_address") %></label>
            <div class="controls">
              <%= f.text_field :email, :placeholder => "email@linkedin.com", :class => "input-large" %>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="type"><%= t(".account_type") %></label>
            <div class="controls">
              <%= f.select :role_id, user_roles.map { |a| [t("#{a.name}"), a.id]}, {}, :class => "span2" %>
              <i class="icon-my-question" id="help-account-type" data-original-title="<%= t(".title") %>" data-content="<%= t(".content") %>"></i>
            </div>
          </div>
        </div>
        <div class="rightFloat">
          <%= link_to t("back"), "#", :class => "btn-large btn leftFloat" %>
          <%= f.submit t(".next_experience"), :class => "btn btn-large btn-primary leftFloat" %>
        </div>
      </fieldset>
    <% end %>
  </div>
<% end %>
