<%= t(".review_requestor") %> <%= link_to "requestor detail - will require login and then forward to page", "#" %>
<br>
<% if @message.present? %>
  <%= t(".personal_message") %> <%= @message %>
  <br>
<% end %>
<%= t(".approve") %> <%= link_to "for approval", "#" %>
<br>
<%= t(".deny") %> <%= link_to "for deny", "#" %> 
