<div class="row-fluid actions-menu">
  <div class="span6">
    <div>
      <%= text_field_tag :search_message, params[:search], :class => "search-query", "placeholder" => "#{ t('.search_messages') }" %>
    </div>
  </div>
  <div id="sort_by_old" class="btn-group span3 filter_by">
    <button class="btn dropdown-toggle" data-toggle="dropdown" href="#">
      <div class="current-value" data-value="" style="float: left; margin-right: 10px;"><%= Constants::Messages::SORT.first[1] %></div>
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <% Constants::Messages::SORT.each do |key, value| %>
        <li>
          <%= link_to value, conversations_path(:sort => key), "data-value" => key, :id => key, :remote => true %>
        </li>
      <% end %>
    </ul>
  </div>
  <div id="filter_by_user_role" class="btn-group span3 filter_by">
    <button class="btn dropdown-toggle" data-toggle="dropdown" href="#">
      <div class="current-value" data-value="" style="float: left; margin-right: 10px;"><%= t('.all') %></div>
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li>
        <%= link_to t('.all'), conversations_path, "data-value" => t('.all'), :id => t('.all'), :remote => true %>
      </li>
      <% Role.all.each do |role| %>
        <li>
          <%= link_to role.name.capitalize, conversations_path(:role_id => role.id), "data-value" => role.name, :id => role.name, :remote => true %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
