<div id="actions_bar_messages">
  <%= link_to conversations_path do %>
    <div class="back-to-conversations move-left">
      <i class="img-back-to-conversation"></i>
    </div>
  <% end %>
  <div class="conversation-header move-right">
    <div class="move-left">
      <i class="img-conversation"></i>
      <span class="originator-name"><%= conversation.originator.fullname %></span>
    </div>
    <div class="move-right">
      <%= text_field_tag :search_message, params[:search], :class => "search-query search-message", "placeholder" => "#{ t('.search_this_conversation') }" %>
    </div>
  </div>
  <div class="clear-both"></div>
</div>
