<% if current_user.is_archived?(conversation) %>
  <%= link_to '#', :onclick => "Conversation.sendToConversation('#{ unarchive_conversation_path(conversation) }'); return false;" do %>
    <i class="img-unarchive" title="Unarchive this conversation"></i>
  <% end %>
<% else %>
  <%= link_to '#', :onclick => "Conversation.sendToConversation('#{ archive_conversation_path(conversation) }'); return false;" do  %>
    <i class="img-archive" title="Archive this conversation"></i>
  <% end %>
<% end %>
