<div class='chat_message'>
  <div class='message_header'>
    <div class="message_owner <%= message_owner_class(chat_message) %>">
      <%= chat_message.sender_name %>
    </div>
    <div class='message_time'>
      <%= chat_message.send_at %>
    </div>
  </div>
  <div class='message_text'>
    <%= chat_message.body %>
  </div>
</div>
