<% if @conversations.empty? %>
  <p class="have-no-messages"><%= t(".no_messages") %></p>
<% else %>
  <div class="border">
    <div class="row-fluid">
      <div class="span12">
        <span><%= t(".messages") %></span>
        <span><%= t(".options") %></span>
      </div>
    </div>
    <div class="container-border">
      <table id="conversations">
        <%= render :partial => 'conversation', :collection => @conversations %>
      </table>
    </div>
  </div>
<% end %>
