<tr id="conversation_<%= conversation.id %>" class="<%= unread(conversation) %>">
  <td class="avatar">
    <%= link_to image_tag(conversation.originator.logo, :size => "48x48"), user_profile_path(conversation.originator.user_profile), :class => "user-profile-img" %>
  </td>
  <td class="view-message-info">
    <div class="info">
      <div class="full-name"><%= link_to conversation.originator.fullname, user_profile_path(conversation.originator.user_profile), :class => "name user-profile" %></div>
      <div class="close_button">
        <div class="icons">
          <%= link_to '#', :onclick => "Conversation.sendToConversation('#{ trash_conversation_path(conversation) }'); return false;" do %>
            <i class="img-remove"></i>
          <% end %>
        </div>
      </div>
    </div>
    <div class="message-subject <%= unread(conversation) %>">
      <%= t(".subject") %> <%= link_to conversation.last_message.subject, conversation_path(conversation) %>
    </div>
    <div class="user-role">
      <div class="role"><%= conversation.originator.role.name.capitalize %></div>
      <div class="close_button">
        <div class="icons">
          <%= render :partial => "archive_unarchive_conversation", :locals => { :conversation => conversation } %>
          <%= message_status_img(conversation) %>
        </div>
      </div>
    </div>
    <div class="short-message">
      <%= link_to conversation_path(conversation) do %>
        <%= truncate(conversation.last_message.body, :length => 70) %>
      <% end %>
      <div><%= receiving_date(conversation.last_message) %></div>
    </div>
  </td>
</tr>
