<ul class="dropdown-menu messages-dropdown">
  <li class='messages_header'>
    <div class="leftFloat title">
      <%= t('.inbox_messages') %>
    </div>
    <div class="rightFloat new_message">
      <%= link_to t('.send_a_new_message'), new_conversation_path, :remote => true %>
    </div>
  </li>
  <li>
    <table>
      <%= render :partial => "conversations/message_for_dropdown", :collection => @messages_for_dropdown, :as => :message %>
    </table>
  </li>
  <li class='show_all'><%= link_to t('.show_all'), conversations_path %></li>
</ul>
