<div id="new_message">
  <h3><%= t('.compose_new_message') %></h3>
  <div>
    <%= form_for @message, :html => { :id => 'message' }, :url => link_for_submit, :remote => true, :builder => StandartBuilder do |f| %>
      <div>
        <%= f.error_messages(:attribute_name => false) %>
      </div>
      <%= f.hidden_field :source_page, :value => params[:controller] %>
      <div class="select-receipts">
        <div class="move-left">
          <%= t('.recipients') %>:
          <div><%= f.text_field :recipients, :data => { :autocomplete_source => autocomplete_conversations_path }, :value => @recipient.try(:fullname) %></div>
          <%= f.hidden_field :recipients_ids , :value => @recipient.try(:id) %>
          <%= t('.subject') %>:
          <div><%= f.text_field :subject %></div>
        </div>
        <div id="receipts-list" class="hide-receipts-list"></div>
      </div>
      <div class="clear-both"></div>
      <%= t('.message') %>:
      <div><%= f.text_area :body %></div>
      <div class="send-message-actions">
        <div class="buttons move-left">
          <%= f.submit t('.send'), :class => "button violet" %>
          <%= link_to t('.cancel'), '#', :onclick => 'Conversation.newMessageClose();', :class => 'button' %>
        </div>
        <div class="move-right">
          <i class="img-attach" onclick="Conversation.removeFile();"></i>
          <div class="attach-file">
            <%= label_tag t('.attach_file') %>
            <%= f.file_field :attachment, :class => 'input-file', :onChange => "Conversation.addedFile();" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<script type="text/javascript">
  $(function(){
    Conversation.addAutocomplete();
    $('#message_source_page').val(window.location.pathname)
  })
</script>
