<tr id="<%= message.id %>" class="message-row <% "unread(conversation, last_message)" %>">
  <td class="avatar">
    <%= link_to image_tag(message.sender.user_profile.avatar.thumb.url, :size => "48x48"), user_profile_path(message.sender.user_profile), :class => "user-profile-img" %>
  </td>
  <td class="view-message-info">
    <div class="author-name <%= cycle('dark', 'red') %>">
      <%= link_to message.sender.fullname, user_profile_path(message.sender.user_profile), :class => "name user-profile" %>
    </div>
    <div class="info">
      <div class="message-subject <% "unread(conversation, last_message)" %>">
        <%= message.subject %>
      </div>
      <div class="short-message">
        <%= message.body %>
      </div>
    </div>
  </td>
  <td>
    <div class="message-created-at"><%= receiving_date(message) %></div>
    <% if message.attachment.present? %>
      <%= link_to message.attachment.url do %>
        <div class="attachment">
          <i class="img-attach"></i>
        </div>
      <% end %>
    <% end %>
  </td>
</tr>
