<div id="messages_menu" class="row-fluid btn-toolbar">
  <div class="span9">
    <%= link_to conversations_path, :class => "btn btn-primary #{ 'active' if params['action'] == 'index' }", :remote => true do %>
      <%= t('.all_messages') %>
      <i class="incoming-messages"></i>
    <% end %>
    <%= link_to archived_conversations_path, :class => "btn btn-primary #{ 'active' if params['action'] == 'archived' }", :remote => true do %>
      <%= t('.archived_messages') %>
      <i class="archived-messages"></i>
    <% end %>
  </div>
  <div class="span3">
    <%= link_to t(".send_new_message"), new_conversation_path, :class => "btn btn-primary", :remote => true %>
  </div>
</div>
