<tr class=<%= unread(message.conversation) %>>
  <td class='actor'>
    <div class='avatar'>
      <%= image_tag(message.sender.user_profile.avatar.thumb.url, :size => "38x38") %>
    </div>
  </td>
  <td>
    <div class='info'>
      <div class='sender'>
        <%= link_to message.sender.fullname.truncate(19), user_profile_path(message.sender.user_profile) %>
      </div>
      <span class='subject'>
        <div>
          <%= link_to conversation_path(message.conversation) do %>
            <b><%= t('conversations.dropdown.subject') %>:</b>
            <%= message.subject %>
          <% end %>
        </div>
        <div>
          <%= link_to new_reply_conversation_path(message.conversation), :remote => true do %>
            <i class="img-reply" title=<%= t('.reply') %>></i>
          <% end %>
        </div>
        <div>
          <%= link_to forward_conversation_path(message.conversation, :message_id => message.id), :remote => true do %>
            <i class="img-forward" title=<%= t('.forward') %>></i>
          <% end %>
        </div>
      </span>
      <div class="clear-both"></div>
      <p class='text'>
        <span>
          <%= link_to truncate(message.body, :length => 50), conversation_path(message.conversation) %>
        </span>
      </p>
    </div>
    <div class='created_at'>
      <%= receiving_date(message) %>
    </div>
  </td>
  <td class="close_button">
    <div class="icons">
      <i class="img-remove"></i>
    </div>
  </td>
</tr> 
