<table id="messages">
  <%= render :partial => 'message', :collection => @conversation.messages %>
</table>
<%= render :partial => 'quick_reply_form', :locals => { :conversation => @conversation } %>
