<div id="add-reply">
  <div class="row-fluid">
    <%= form_for :message, :html => { :id => 'message' }, :url => [:quick_reply, conversation], :remote => true do |f| %>
      <div class="reply-message span9">
        <%= f.text_area :body %>
        <div class="reply-actions send-message-actions">
          <div class="move-left">
            <i class="img-attach" onclick="Conversation.removeFile();"></i>
            <div class="attach-file">
              <%= label_tag t('.attach_file') %>
              <%= f.file_field :attachment, :class => 'input-file', :onChange => "Conversation.addedFile();" %>
            </div>
          </div>
          <div class="quick-reply">
            <%= check_box_tag 'quick-reply', '', false, :title => t('.quick_reply_tooltip') %>
            <label><%= t('.quick_reply_tooltip') %></label>
          </div>
        </div>
      </div>
      <div class="reply-btn span2">
        <%= f.submit t('.reply'), :class => "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
