<tr id="conversation_<%= @conversation.id %>" class="undelete">
  <td class="avatar">
    <%= link_to image_tag(@conversation.originator.logo, :size => "48x48"), user_profile_path(@conversation.originator.user_profile), :class => "user-profile-img" %>
  </td>
  <td class="view-message-info">
    <div class="info">
      <div class="full-name"><%= link_to @conversation.originator.fullname, user_profile_path(@conversation.originator.user_profile), :class => "name user-profile" %></div>
    </div>
    <p></p>
    <div class="delete-message">
      <div><%= t(".message_deleted") %> <%= link_to t('.undelete'), untrash_conversation_path(@conversation), :remote => true %></div>
      <div><%= receiving_date(@conversation.last_message) %></div>
    </div>
  </td>
</tr>
