<div id="friend_chat_<%= friend.id %>" class="friend_chat span12" data-message-url="<%= add_chat_message_conversations_url %>" data-friend-id="<%= friend.id %>">
  <div class="row-fluid header_part">
    <div class="friend_logo">
      <%= link_to image_tag(friend.user_profile.avatar.thumb.url, :size => "40x40", :class => "friend_avatar" ), user_profile_path(friend.user_profile), :target => "_blank" %>
    </div>
    <div class="friend_info">
      <div class="<%= status_class(friend.online_status) %> status_icon"></div>
      <p class="friend_name">
        <%= friend.fullname %>
      </p>
      <p class="last_seen">
        <%= last_seen(friend) %>
      </p>
    </div>
    <div class="to-normal"></div>
  </div>
  <div class="row-fluid conversations_part">
  </div>
  <div class="row-fluid messages_part">
    <%= text_area_tag :chat_message, '', :placeholder => t('.type_message_here'), :rows => 3 %>
    <%= link_to t('.show_messages_history'), chat_history_conversations_path(:friend_id => friend.id), :remote => true %>
  </div>
</div>
