<% broadcast generate_chat_id(current_user.id, @friend.id) do %>
  Chat.on_message("<%= @friend.id %>", "self");
  Chat.on_message("<%= current_user.id %>", "friend");
  $("#friend_chat_<%= @friend.id %> .conversations_part").append("<%= j render :partial => 'chat_message', :locals => { :chat_message => @message } %>").
  prop({ scrollTop: $("#friend_chat_<%= @friend.id %> .conversations_part").prop("scrollHeight") });
  $("#friend_chat_<%= current_user.id %> .conversations_part").append("<%= j render :partial => 'chat_message', :locals => { :chat_message => @message } %>").
  prop({ scrollTop: $("#friend_chat_<%= current_user.id %> .conversations_part").prop("scrollHeight") });
  $("#friend_chat_<%= current_user.id %> .conversations_part .chat_message:last .message_owner").removeClass("self_message").addClass('friend_message');
<% end %>
