<%= render :partial => 'shared/inbox_tabs' %>
<div id="body_conversations" class="tab-content inbox_tab_content">
  <div class="tab-pane active" id="show_notifications">
    <%= render :partial => 'actions_bar' %>
    <div id="conversations_container">
      <%= render :partial => "conversations" %>
    </div>
  </div>
</div>
