<div class="tab-content inbox_tab_content">
  <div class="tab-pane active" id="show_notifications">
    <%= render :partial => 'actions_bar_messages', :locals => { :conversation => @conversation } %>
    <%= render :partial => "messages" %>
  </div>
</div>
