<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" style="overflow:auto;"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <title>Beanstock</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="author" href="humans.txt" />
  <meta name="author" content="humans.txt">
  <link rel="icon" type="image/png" href="/beanstock-favicon.png">

  <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application", "http://#{request.host}:9292/faye.js" %>
  <%= csrf_meta_tags %>
</head>
<body class='chat_window with_fluid_container'>
  <%= render 'shared/faye_client'%>
  <div class="container_fluid">
    <div class="row-fluid">
      <%= render :partial => 'window_chat', :locals => { :friend => @friend } %>
    </div>
  </div>
</body>
