<div id="add-associations-advertiser" class="tab-pane associations">
  <div class="control-group">
    <%= label_tag "agency_advertiser__name", t('.agencies'), :class => 'control-label' %>
    <div class="controls">
      <div class="inputs">
        <%= f.fields_for :agency_advertisers do |agency_advertiser| %>
          <div class="advertiser_agency association">
            <%= agency_advertiser.hidden_field :agency_id, :class => "object_id" %>
            <%= agency_advertiser.hidden_field :_destroy, "data-type" => "destroy_input" %>
            <%= agency_advertiser.text_field :agency_name, :class => "input-large object_name", :data => {:autocomplete_source => autocomplete_agencies_path} %>
            <div class="delete_association link inline_block close">×</div>
          </div>
        <% end %>
      </div>
      <p class="help_block"><%= t('.agency_info') %></p>
    </div>
    <div class="controls link" id="add_advertiser_agency">
      <%= t('.add_another_agency') %>
    </div>
  </div>

  <div class="control-group">
    <%= label_tag "brand_advertisers__name", t('.brands'), :class => 'control-label' %>
    <div class="controls">
      <div class="inputs">
        <%= f.fields_for :brand_advertisers do |brand_advertiser| %>
          <div class="advertiser_brand association">
            <%= brand_advertiser.hidden_field :brand_id, :class => "object_id" %>
            <%= brand_advertiser.hidden_field :_destroy, "data-type" => "destroy_input" %>
            <%= brand_advertiser.text_field :brand_name, :class => "input-large object_name", :data => {:autocomplete_source => autocomplete_brands_path} %>
            <div class="delete_association link inline_block close">×</div>
          </div>
        <% end %>
      </div>
      <p class="help_block"><%= t('.brand_info') %></p>
    </div>
    <div class="controls link" id="add_advertiser_brand">
      <%= t('.add_another_brand') %>
    </div>
  </div>
</div>

<script type="text/javascript">
  process_associations(['advertiser_agency', 'advertiser_brand']);
</script>
