<%= form_for(@advertiser, :html => { :class => "advertiser nice", :remote => true }, :builder => StandartBuilder) do |f| %>
  <%= render :partial => 'advertisers/navigation' %>
  <div class="tab-content">
    <%= render :partial => 'tools/basic', :locals => { :f => f, :company => @advertiser } %>
    <%= render :partial => 'advertisers/associations', :locals => { :f => f } %>
    <%= render :partial => 'tools/description', :locals => { :f => f, :company => @advertiser } %>
  </div>
<% end %>
