<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#add-basic-advertiser"><%= t('.basic_details') %></a></li>
  <li><a data-toggle="tab" href="#add-associations-advertiser"><%= t('.associations') %></a></li>
  <li><a data-toggle="tab" href="#add-description-advertiser"><%= t('.other_details') %></a></li>
</ul>
