<% if @advertiser.errors.empty? %>
  $newItem = $('<%= escape_javascript(render :partial => 'tools/item', :locals => { :item => @advertiser.locations.first, :type => 'advertiser' }) %>');
  $('table#profile_list tbody').append($newItem);
  Marketplace.data_items.push(<%= @advertiser.locations.first.to_json(:only => :id, :methods => %w(fullname discover_location discover_type)).html_safe %>);
  $("table#profile_list").tablesorter({ sortList: [[0,0]] });
  serch_profile($('input#discover-search').val());
  $('#bootstrap_modal').modal('hide');
<% else %>
  $("#advertiser_form").html("<%= escape_javascript(render :partial =>'form') %>");
<% end %>
