<div class="row">
  <div class="container-box">
		<div class="row">
			<div class="container-box-header" class="clearfix">
				<h2 class="left">Users who viewed your profile recently</h2>
			</div>
		</div>
		<div class="row">
			<div class="container-box-body">				
				<div class="whitebox">
					<ul class="block-grid three-up">
						<% @viewers.each do |viewer| %>
							<li>
								<div class="row">
									<div class="three columns">
										<%= link_to image_tag(viewer.user_profile.avatar.thumb.url), user_profile_path(viewer.user_profile), :class => "user-profile-img" %>
									</div>
									<div class="nine columns liked-info">
										<%= link_to viewer.fullname, user_profile_path(viewer.user_profile), :class => "name user-profile" %>
										<div class="location"><%= viewer.user_profile.location %></div>
									</div>
								</div>
							</li>
						<% end %>
			      <% if @viewable.viewers.size > 5 %>
			      <li><div class="row">and <%= pluralize @viewable.viewers.size-5, "other" %></div></li>
			      <% end %>
					</ul>
				</div>
			</div>
		</div>
  </div>
	<%= link_to "OK", "#", :class => "close-reveal-modal small round red button right", :id => "close-modal-button" %>
</div>
