<div class="well exp" id="exp-<%= experience.id %>">
  <%= link_to "×", signup_experience_path(experience), :method => :delete, :remote => true, :class => "close rightFloat" %>
  <%= link_to t(".edit"), "#", :class => "btn btn-mini rightFloat", :onClick => "edit_experience('#{edit_signup_experience_path(:id => experience.id)}')" %>
  <h3><%= experience.company_name %></h3>
  <p><%= experience.position %></p>
  <p><%= "#{experience.start_date} - #{experience.end_date || t("present") }" %></p>
  <p><%= experience.location %></p>
  <hr>
  <p><%= experience.description %></p>
</div>
