<div style="margin: 15px;">
  <%= form_for @experience, :url => signup_experience_path(@experience), :builder => StandartBuilder, :method => :put, :remote => true do |f| %>
    <%= f.error_messages %>
    <p>
      <%= f.label :company %>
      <%= f.text_field :company %>
    </p>
    <p>
      <%= f.label :position %>
      <%= f.text_field :position %>
    </p>
    <p>
      <%= f.label :start_date %>
      <%= f.text_field :start_date, :readonly => true, :class => "read_only signup-experience-date-picker" %>
    </p>
    <p>
      <%= f.label :end_date %>
      <%= f.text_field :end_date, :readonly => true, :class => "read_only signup-experience-date-picker" %>
    </p>
    <p>
      <%= f.label :description %>
      <%= f.text_field :description %>
    </p>
    <p>
      <%= f.label :location %>
      <%= f.text_field :location %>
    </p>
    <%= f.submit %>
    <%= link_to t('cancel'), "#", :class => "btn", :onClick => "closeModal();"%>
  <% end %>
</div>
