<%= render :layout => "signup/progress_bar_layout", :locals => { :title => t(".experience"), :step => t(".step3"), :progress_percentage => 50 } do %>
  <div class="span6 offset2">
    <p><%= t(".please_verify_experience") %></p>
    <form class="form-horizontal">
      <fieldset>
        <%= render :partial => "experience", :collection => @experiences %>
        <div class="rightFloat">
          <%= link_to t("back"), edit_signup_user_path(current_user.uid), :class => "btn-large btn leftFloat" %>
          <%= link_to t(".next_skills"), signup_skills_path(:id => current_user.uid), :class => "btn btn-large btn-primary leftFloat" %>
        </div>
      </fieldset>
    </form>
  </div>
<% end %>
