<tr class="<%= presenter.event_type %>" id="timeline_event_<%= presenter.id %>" data-from-user="<%= presenter.actor_id %>">
  <td class="icon">
    <%= presenter.icon %>
  </td>
  <td class="message">
    <%= presenter.logo %>
    <div class="message_body">
      <%= presenter.header %>
      <%= presenter.message %>
      <div class="time_place_info">
        <%= presenter.time_place_info %>
      </div>
    </div>
  </td>
  <td class="close_button">
    <button type="button" class="close" id="close_button_<%= presenter.id %>">×</button>
  </td>
</tr>

<script type="text/javascript">
  ActivityFeed.attach_hide_item_popup(<%= presenter.id %>, '<%= escape_javascript(render :partial => 'layouts/market_ticker/hide_promt', :locals => { :presenter => presenter }) %>');
  ActivityFeed.attach_details_popup(<%= presenter.id %>, '<%= timeline_event_path(presenter) %>');
</script>
