<div class="comment">
  <div class="user_avatar">
    <%= image_tag(presenter.actor_logo_url, :size => '38x38') %>
  </div>
  <div class="comment_body">
    <div class="action">
      <b><%= presenter.actor_fullname %></b>
      <%= presenter.action %>
      <%= presenter.popup_message %>
    </div>
    <div class="comment_footer">
      <div class="time_place_info">
        <%= presenter.time_place_info %>
      </div>
      <div class="actions">
        <%= presenter.like_link %>
        <%= link_to "", post_path(presenter.post), :class => "comment_action" %>
        <%= link_to "", shares_path(:user => current_user, :activity => presenter.subject, :event => presenter.timeline_event, :next => 'someurl'), :method => :post, :class => "share_action" %>
      </div>
    </div>
  </div>
  <div style="clear: both;"></div>
</div>
