<div class="hide_promt">
  <div>
    <%= link_to hide_timeline_event_path(presenter.id), :remote => true do %>
      <button type="button" class="grey close">×</button>
      <span class="text"><%= t('.hide_only_this_item') %></span>
    <% end %>
  </div>
  <div>
    <%= link_to bulk_hide_timeline_events_path(:user_id => presenter.actor_id), "data-confirm-message" => presenter.hide_confirm do %>
      <button type="button" class="blue close">×</button>
      <span class="text"><%= t('.hide_all_items') %></span>
    <% end %>
  </div>
</div>
