<div class="popup_content" data-event="event_popup_<%= presenter.id %>">
  <%= presenter.display %>
  <div class="like_count">
    <span class="like_icon"></span>
    <span class="like_count_value"><%= presenter.subject_likes_size %></span>
    <%= t("layouts.market_ticker.people_liked_it") %>
  </div>
  <div class="comments">
    <%= presenter.comments %>
  </div>
  <%= presenter.see_more_link %>
  <div style="clear: both;"></div>
  <div class="write_comment">
    <div class="user_avatar">
      <%= image_tag(current_user.logo_url, :size => '38x38') %>
    </div>
    <div class="comment_box">
      <%= form_for([presenter.subject_clickable, presenter.new_comment], :html => { :remote => true }) do |f| %>
        <%= hidden_field_tag :commentable_id, presenter.subject.clickable_id %>
        <%= hidden_field_tag :commentable_type, presenter.subject_clickable.tableized_class_name %>
        <%= f.text_area :comment, :class => 'write_remote_comment', :placeholder => t('.write_a_comment') %>
      <% end %>
    </div>
  </div>
</div>
