<div class="simple_popup_content" data-event="event_popup_<%= presenter.id %>">
  <div class="comment">
    <div class="user_avatar">
      <%= image_tag(presenter.subject_logo_url, :size => '38x38') %>
    </div>
    <div class="comment_body">
      <div class="action">
        <b><%= presenter.subject_name %></b>
        <br/>
        <%= presenter.subject_description %>
      </div>
      <div class="links">
        <%= link_to connections_path do %>
          <span class="icon views"></span>
          <span class="with-right-margin"><%= t(".views", :count => presenter.subject_views_count) %></span>
        <% end %>
        <% if presenter.subject_created_by?(current_user) %>
          <%= link_to "#" do %>
            <span class="icon responses"></span>
            <span><%= t(".responses", :count => 314) %></span>
          <% end %>
        <% end %>
      </div>
    </div>
    <div style="clear: both;"></div>
  </div>
  <div class="buttons right_align">
    <%= link_to t(".visit_package_page"), [presenter.subject_packagable, presenter.subject], :remote => true, :class => "btn package_btn" %>
  </div>
</div>
