<div class="simple_popup_content" data-event="event_popup_<%= presenter.id %>">
  <div class="comment">
    <div class="user_avatar">
      <%= image_tag(presenter.actor_logo_url, :size => '38x38') %>
    </div>
    <div class="comment_body">
      <div class="action">
        <b><%= presenter.actor_fullname %></b>
        <br/>
        <%= presenter.popup_message %>
      </div>
    </div>
    <div style="clear: both;"></div>
  </div>
  <div class="buttons">
    <%= link_to t(".view_profile"), user_profile_path(presenter.subject), :class => "btn left_btn" %>
    <%= send_message_button_for(presenter.actor) %>
  </div>
</div>
