<div class="popup_content" data-event="event_popup_<%= presenter.id %>">
  <%= presenter.display %>
  <div class="like_count">
    <span class="like_icon"></span>
    <span class="like_count_value"><%= presenter.subject_likes_size %></span>
    <%= t("layouts.market_ticker.people_liked_it") %>
  </div>
  <div class="answers">
    <%= presenter.answers %>
  </div>
  <%= presenter.see_more_link %>
  <div style="clear: both;"></div>
  <div class="write_comment">
    <div class="user_avatar">
      <%= image_tag(current_user.logo_url, :size => '38x38') %>
    </div>
    <div class="comment_box">
      <%= form_for presenter.new_answer, :url => post_answers_path(presenter.subject), :remote => true do |f| %>
        <%= f.text_area :answer, :placeholder => t('.write_an_answer'), :class => "write_remote_comment" %>
        <%= hidden_field_tag :event_id, event_id %>
      <% end %>
    </div>
  </div>
</div>
