<tr id="undo_hide_for_user_<%= user.id %>">
  <td class="icon"></td>
  <td class="message">
    <%= link_to t('.undo'), undo_bulk_hide_timeline_events_path(:user_id => user.id), :remote => true %>
    <%= t('.hide_for', :user_name => user.fullname) %>
  </td>
  <td class="close_button"></td>
</tr>
