@mixin border_radius($radius) {
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  border-radius: $radius;
}

@mixin detail_border_radius($radius1, $radius2, $radius3, $radius4) {
  -moz-border-radius: $radius1 $radius2 $radius3 $radius4;
  -webkit-border-radius: $radius1 $radius2 $radius3 $radius4;
  border-radius: $radius1 $radius2 $radius3 $radius4;
}

@mixin gradient($position, $color1, $color2) {
  background: $color1; /* Old browsers */
  background: -moz-linear-gradient($position, $color1, $color2); /* FF3.6+ */
  background: -webkit-gradient(linear, $position, color-stop(0%,$color1), color-stop(100%,$color2)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient($position, $color1, $color2); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient($position, $color1, $color2); /* Opera 11.10+ */
  background: -ms-linear-gradient($position, $color1, $color2); /* IE10+ */
  background: linear-gradient($position, $color1, $color2); /* W3C */
}

@mixin signup_backgroud_image() {
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -ms-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}

@mixin background_size($size1, $size2) {
  -webkit-background-size: $size1 $size2;
  -moz-background-size: $size1 $size2;
  -o-background-size: $size1 $size2;
  background-size: $size1 $size2;
}

@mixin shadow($size1, $size2, $size3, $size4, $color) {
  -moz-box-shadow:    $size1 $size2 $size3 $size4 $color;
  -webkit-box-shadow: $size1 $size2 $size3 $size4 $color;
  box-shadow:         $size1 $size2 $size3 $size4 $color;
}

@mixin partial_gradient($position, $color1, $color2, $percentage) {
  background-color: $color1;
  background-image: -ms-linear-gradient($position, $color1 0%, $color2 $percentage);
  background-image: -moz-linear-gradient($position, $color1 0%, $color2 $percentage);
  background-image: -o-linear-gradient($position, $color1 0%, $color2 $percentage);
  background-image: -webkit-gradient(linear, $position, color-stop(0%, $color1), color-stop($percentage, $color2));
  background-image: -webkit-linear-gradient($position, $color1 0%, $color2 $percentage);
  background-image: linear-gradient($position, $color1 0%, $color2 $percentage);
}
