$("#answer-like-count-" + <%= @likeable.id %>).replaceWith("<%= escape_javascript(render :partial => 'likes/like_count', :locals => { :likeable => @likeable }) %>");
$("#answer-list-<%= @likeable.post.id %>").html("<%= escape_javascript(render :partial => 'answers/answer', :collection => @likeable.post.answers) %>");
