<div class="row">
  <div class="container-box">
		<div class="row">
			<div class="container-box-header" class="clearfix">
				<h2 class="left">Users who liked this <%= likeable_object_name(@likeable).to_s.titleize %></h2>
			</div>
		</div>
		<div class="row">
			<div class="container-box-body">
				<div class="whitebox">
					<ul class="block-grid three-up">
						<% @likes.each do |like| %>
							<li>
								<div class="row">
									<div class="three columns">
										<%= link_to image_tag(like.voter.user_profile.avatar.thumb.url), user_profile_path(like.voter.user_profile), :class => "user-profile-img" %>
									</div>
									<div class="nine columns liked-info">
										<%= link_to like.voter.fullname, user_profile_path(like.voter.user_profile), :class => "name user-profile" %>
										<div class="location"><%= like.voter.user_profile.location %></div>
									</div>
								</div>
							</li>
						<% end %>
			      <% if @likeable.likes.size > 5 %>
			      <li><div class="row">and <%= pluralize @likeable.likes.size-5, "other" %></div></li>
			      <% end %>
					</ul>
				</div>
			</div>
		</div>
  </div>
	<%= link_to "OK", "#", :class => "close-reveal-modal small round red button right", :id => "close-modal-button" %>
</div>
