<% if likeable.is_a? Comment %>
	<span id="comment-like-count-<%= likeable.id %>" class="social-count">
		<%= link_to comment_likes_path(likeable), :remote => true do %>
			<%= raw("#{likeable.likes.size} #{image_tag('activity_feed/icon_likedOFF.png')}") %>
		<% end %>
  </span>
<% elsif likeable.is_a? Post %>
  <span id="post-like-count-<%= likeable.id %>" class="social-count">
		<%= link_to post_likes_path(likeable), :remote => true do %>
			<%= raw("#{likeable.likes.size} #{image_tag('activity_feed/icon_likedOFF.png')}") %>
		<% end %>
  </span>
<% elsif likeable.is_a? Answer %>
  <span id="answer-like-count-<%= likeable.id %>"><%= likeable.vote_score %></span>
<% elsif likeable.is_a? NewsItem %>
	<span id="news-like-count-<%= likeable.id %>" class="social-count">
		<%= link_to news_item_likes_path(likeable), :remote => true do %>
			<%= raw("#{likeable.likes.size} #{image_tag('activity_feed/icon_likedOFF.png')}") %>
		<% end %>
  </span>
<% end %>
