$("#news-like-" + <%= @likeable.id %>).replaceWith("<%= escape_javascript(render :partial => 'likes/like_button', :locals => { :likeable => @likeable }) %>");
$("#news-like-count-" + <%= @likeable.id %>).replaceWith("<%= escape_javascript(render :partial => 'likes/like_count', :locals => { :likeable => @likeable }) %>");
