$("#post-like-" + <%= @likeable.id %>).replaceWith("<%= escape_javascript(render :partial => 'likes/like_button', :locals => { :likeable => @likeable }) %>");
$("#post-like-count-" + <%= @likeable.id %>).replaceWith("<%= escape_javascript(render :partial => 'likes/like_count', :locals => { :likeable => @likeable }) %>");
$("div[data-event=event_popup_<%= @likeable.timeline_event.id %>] .like_count_value").replaceWith("<%= @likeable.likes.size %>");
