<div class="row">
  <div class="container-box">
    <div class="row">
      <div class="container-box-header" class="clearfix">
        <h2 class="left">New Users</h2>
      </div>
    </div>
    <div class="row">
      <div class="container-box-body">
        <div class="whitebox">
          <ul class="block-grid three-up">
            <% @users.each do |user| %>
              <li>
              <div class="row">
                <div class="three columns">
                  <%= link_to image_tag(user.avatar.thumb.url), user_profile_path(user.user_profile), :class => "user-profile-img" %>
                </div>
                <div class="nine columns liked-info">
                  <%= link_to user.fullname, user_profile_path(user.user_profile), :class => "name user-profile" %>
                  <div class="location"><%= user.user_profile.location %></div>
                </div>
              </div>
              </li>
            <% end %>
            <% if @more_users %>
              <li><div class="row">and <%= pluralize @more_users, "other" %></div></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <%= link_to "OK", "#", :class => "close-reveal-modal small round red button right", :id => "close-modal-button" %>
</div>
