<% if @connections %>
  <%= link_to raw('&nbsp;'), '#', :class => 'user-nav left', :id => 'prev_user' %>
  <div id="user-ribbon" class="clearfix">
    <div id="user-slider">
      <% @connections.each_slice(4) do |connections_block| %>
        <div class='slide'>
          <% connections_block.each do |connection| %>
            <%= render :partial => "user_slider_item", :locals => {:user => slider_user(connection), :conn => connection} %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <%= link_to raw('&nbsp;'), '#', :class => "user-nav right", :id => 'next_user' %>
<% else %>
  <%= link_to raw('&nbsp;'), '#', :class => "user-nav left", :id => 'prev_user' %>
  <div id="user-ribbon" class="clearfix">
    <div id="user-slider">
      <% @users.each_slice(4) do |users_block| %>
        <div class='slide'>
          <%- users_block.each do |user| %>
            <div class="user-ribbon-item">
              <div class="connection-detail my-connection">
                <div class="row">
                  <div class="three columns">
                    <%= link_to image_tag(user.avatar.thumb.url, :size => '48x48'), user_profile_path(user.user_profile), :class => "user-profile-img" %>
                  </div>
                  <div class="nine columns">
                    <%= link_to user.short_full_name, user_profile_path(user.user_profile), :class => "name user-profile" %>
                    <div class="title"><%= user.user_profile_title %></div>
                    <div class="company"><%= user.company_name %></div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <%= link_to raw('&nbsp;'), '#', :class => "user-nav right", :id => 'next_user' %>
<% end %>
