<div class="user-ribbon-item">
  <div class="connection-detail my-connection">
    <div class="row">
      <div class="three columns" style='width: 50px; float: left;'>
        <%= link_to image_tag(user.avatar.thumb.url, :size => '48x48'), user_profile_path(user.user_profile), :class => "user-profile-img" %>
      </div>
      <div class="nine columns" style='width: 128px; float: left;'>
        <%= link_to user.fullname.truncate(18), user_profile_path(user.user_profile), :class => "name user-profile" %>
        <div class="title"><%= user.title.try(:truncate, 25) %></div>
        <div class="company" style='float: left;'><%= user.user_profile.company_name.truncate(25) %></div>
        <% if conn.user != current_user %>
          <div class="activity-feed-actions" style="float: right;">
            <%= form_for conn, :html => { :class => "connection-form" }, :remote => true do |f| %>
              <div id="connection-list-<%= conn.id %>-actions">
                <%= f.submit t('.accept'), :class => "submit-link" %> &bull;
                <%= f.submit t('.reject'), :class => "submit-link reject" %>
              </div>
              <div id="connection-list-<%= conn.id %>-undo" style="display:none">
                <%= f.submit t('.undo'), :class => "submit-link undo_connection", :id => "connection_#{conn.user.id}" %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
