<div class="row conatiner-box">
  <h2 class="left span1"><%= t('.news') %></h2>
  <div class="span11">
    <div class="btn-group left">
      <button class="btn active" data-remote-url="<%= news_items_path(:feed_id => NewsFeed::DEAL_FEED_ID) %>">
        <%= t('.deals') %>
      </button>
      <button class="btn" data-remote-url="<%= news_items_path %>">
        <%= t('.all') %>
      </button>
      <% NewsFeed.all.each do |feed| %>
        <button class="btn" data-remote-url="<%= news_items_path(:feed_id => feed.id) %>">
          <%= feed.title %>
        </button>
      <% end %>
    </div>  
  </div>
</div>
<div class="row container-box">
  <div class="container-box-body" style="padding:5px 10px">
    <div id="news-container" class="clearfix">
      <%= render :partial => "news/index" %>
    </div>
  </div>
</div>
<div class="row container-box">
  <div class="row">
    <h2><%= t('.activity_feed') %></h2>
  </div>
  <div class="row">
    <div class="container-box-body" style="padding:10px 0 0 0">
      <div class="gray_gradient">
        <div class="row">
          <%= render :partial => 'posts/post_form' %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row" style="background:white">
  <div id="timeline-container" class="left text-center">
    <div id="activity-timeline">
      <%= link_to t('.today'), update_activity_feed_users_path(:t => Date.today), :remote => true %>
      <div id="current-day">
        <%= link_to Date.today.strftime('%d'), update_activity_feed_users_path(:t => Date.today), :remote => true %>
      </div>
      <%= Date.today.strftime('%b') %>
      <ul id="toggle-dates">
        <li><%= link_to t('.yesterday'), update_activity_feed_users_path(:t => (Date.yesterday)), :remote => true %></li>
        <li><%= link_to t('.this_week'), update_activity_feed_users_path(:t => (Date.today)), :remote => true %></li>
        <li><%= link_to t('.this_month'), update_activity_feed_users_path(:t => (Date.today)), :remote => true %></li>
        <li><%= link_to t('.this_year'), update_activity_feed_users_path(:t => (Date.today)), :remote => true, :id => "as-this-year" %></li>
        <div id="as-month-filter" style="display:none">
          <% (1..Date.today.month).each do |m| %>
            <li><%= link_to Date::MONTHNAMES[m], update_activity_feed_users_path(:t => Date.new(Date.today.year, m, -1)), :remote => true %></li>
          <% end %>
        </div>
      </ul>
    </div>
  </div>
  <div id="homepage-activity-container" class="right">
    <div class="row">
      <div class="btn-group left" id="filters" style="margin-bottom:1em">
        <button class="btn active" data-remote-url="<%= update_activity_feed_users_path %>"><%= t('.all') %></button>
        <button class="btn" data-remote-url="<%= update_activity_feed_users_path(:event_type => "status_update") %>"><%= t('.status_updates') %></button>
        <button class="btn" data-remote-url="<%= update_activity_feed_users_path(:event_type => "question_asked") %>"><%= t('.questions') %></button>
        <button class="btn" data-remote-url="<%= update_activity_feed_users_path(:event_type => "news_viewed") %>"><%= t('.news') %></button>
      </div>
      <ul id="as-layout-toggle" class="clearfix isotope-option-set right" data-option-key="layoutMode">
        <li>
          <%= link_to image_tag("icons/icon-grid-view.png"), "#", "data-option-value" => "masonry", :class => "active" %>
        </li>
        <li>
          <%= link_to image_tag("icons/icon-list-view.png"), "#", "data-option-value"=> "straightDown" %>
        </li>
      </ul>
    </div>
    <div class="row">
      <div id="activity-container" class="clearfix">
        <%= render_activity_feed(@activity_feed) %>
      </div>
      <nav id="page_nav">
        <%= link_to "#", update_activity_feed_users_path(:page => 2) %>
      </nav>
    </div>
  </div>
</div>
