var $container = $('#activity-container');
var $items = $("<%= escape_javascript(render :partial => 'activities/activity_feed', :object => @activity_feed) %>");
updateActivityFeed($items);

// Update search for infinite-scroll
var _href = "<%= update_activity_feed_users_path(:page => 2) %>";

<% if params[:t].present? %>
  _href += "&t=<%= params[:t] %>";
  // Reset event type filter if changing timeframe
  $('#filters .btn').removeClass('active');
  $('#filters .btn:first').addClass('active');
<% end %>

<% if params[:event_type].present? %>
  _href += "&event_type=<%= params[:event_type] %>";
<% end %>

<% if params[:user_id].present? %>
  _href += "&user_id=<%= params[:user_id] %>";
<% end %>

$('#page_nav a').attr("href", _href)

// Destroy old instance of infinite-scroll
$container.infinitescroll('destroy');
$container.data('infinitescroll', null);

// Build new instance of infinite-scroll
isotopeInitScorll($container);
