<div class="modal-header">
  <button class="close" data-dismiss="modal" type="button">×</button>
  <h3><%= t('.add_new_package') %></h3>
</div>
<div class="modal-body">
  <%= render :partial => "packages/form" %>
</div>
<div class="modal-footer">
  <a class="button violet" id="submit_package" href="#"><%= t('save_and_add') %></a>
  <a data-dismiss="modal" class="button" href="#"><%= t('cancel') %></a>
</div>

<script type="text/javascript">
  $("#submit_package").click(function(event) {
    $("#bootstrap_modal .package_form").submit();
    event.preventDefault();
  });
</script>
