<div class="row">
  <%= form_for([current_user, @package], :html => { :remote => true, :class => "package_form" }, :builder => StandartBuilder) do |f| %>
    <div class="span3" style="float:left;">
      <div class="form-horizontal">
        <fieldset>
          <%= f.error_messages %>
          <div class="control-group">
            <%= f.label :name, t('.package_name'), :class => 'control-label' %>
            <div class="controls">
              <%= f.text_field :name, :class => "input-large" %>
            </div>
          </div>
          <div class="control-group">
            <%= f.label :description, t('.description'), :class => 'control-label' %>
            <div class="controls">
              <%= f.text_field :description, :class => "input-large" %>
            </div>
          </div>
          <div class="control-group">
            <%= f.label :flight_start_date, t('.flight_start_date'), :class => 'control-label' %>
            <div class="controls">
              <%= f.date_select :flight_start_date, :class => "input-large" %>
            </div>
          </div>
          <div class="control-group">
            <%= f.label :flight_end_date, t('.flight_end_date'), :class => 'control-label' %>
            <div class="controls">
              <%= f.date_select :flight_end_date, :class => "input-large" %>
            </div>
          </div>
          <div class="control-group">
            <%= f.label :dma_targeting_available, t('.dma_targeting_available'), :class => 'control-label' %>
            <div class="controls">
              <%= f.radio_button :dma_targeting_available, true %>
              <%= f.radio_button :dma_targeting_available, false %>
            </div>
          </div>
          <div class="control-group">
            <%= f.label :demo_targeting_available, t('.demo_targeting_available'), :class => 'control-label' %>
            <div class="controls">
              <%= f.radio_button :demo_targeting_available, true %>
              <%= f.radio_button :demo_targeting_available, false %>
            </div>
          </div>
        </fieldset>
      </div>
    </div>
    <div class="cost-details span3 offset1">
      <div class="form-horizontal">
        <fieldset>
          <div class="control-group">
            <%= f.label :brand_restriction, t('.brand_restriction'), :class => 'control-label' %>
            <div class="controls">
              <%= f.text_field :brand_restriction, :class => "input-large" %>
            </div>
          </div>
          <div class="control-group">
            <%= f.label :total_cost, t('.total_cost'), :class => 'control-label' %>
            <div class="controls">
              <%= f.text_field :total_cost, :class => "input-large" %>
            </div>
          </div>
          <div class="control-group">
            <%= f.label :total_impressions, t('.total_impressions'), :class => 'control-label' %>
            <div class="controls">
              <%= f.text_field :total_impressions, :class => "input-large" %>
            </div>
          </div>
          <div class="control-group">
            <%= f.label :cpm, t('.cpm'), :class => 'control-label' %>
            <div class="controls">
              <%= f.text_field :cpm, :class => "input-large" %>
            </div>
          </div>
        </fieldset>
      </div>
    </div>
  <% end %>
</div>
<div class="row">
  <div class="tabbable span4">
    <ul class="nav nav-tabs">
      <li class="active">
        <%= link_to t(".available_inventory"), "#inventory-available", :data => { :toggle => "tab"} %>
      </li>
      <li class="">
        <%= link_to t(".available_publishers"), "#publishers-available", :data => { :toggle => "tab" } %>
      </li>
    </ul>
    <div class="tab-content">
      <div id="publishers-available" class="tab-pane clearfix">
        <div id="publisher-search">
          <form class="form-search">
            <input type="text" class="input-medium search-query">
            <button type="submit" class="btn"><%= t("search") %></button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="offset4">
    <h3><%= t(".ads_included") %></h3>
    <div class="nice-container ads-in-package">
      <h4 class="empty-package"><%= t(".package_empty") %></h4>
    </div>
  </div>
</div>
