<div class="modal-header">
  <button class="close" data-dismiss="modal" type="button">×</button>
  <h3><%= @package.name %></h3>
</div>
<div class="modal-body">
  <div class="row">
    <div class="span3">
      <form class="form-horizontal">
        <fieldset>
          <div class="control-group">
            <label class="control-label"><%= t(".package_name") %></label>
            <div class="controls">
              <span><%= @package.name %></span>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label"><%= t(".description") %></label>
            <div class="controls">
              <span><%= @package.description %></span>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label"><%= t(".flight_start_date") %></label>
            <div class="controls">
              <span><%= @package.flight_start_date %></span>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label"><%= t(".flight_end_date") %></label>
            <div class="controls">
              <span><%= @package.flight_end_date %></span>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label"><%= t(".dma_targeting_available") %></label>
            <div class="controls">
              <span><%= @package.dma_targeting_available %></span>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label"><%= t(".demo_targeting_available") %></label>
            <div class="controls">
              <span><%= @package.demo_targeting_available %></span>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
    <div class="cost-details span3 offset1">
      <form class="form-horizontal">
        <fieldset>
          <div class="control-group">
            <label class="control-label"><%= t(".brand_restriction") %></label>
            <div class="controls">
              <span><%= @package.brand_restriction %></span>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label"><%= t(".total_cost") %></label>
            <div class="controls">
              <span><%= @package.total_cost %></span>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label"><%= t(".total_impressions") %></label>
            <div class="controls">
              <span><%= @package.total_impressions %></span>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label"><%= t(".cpm") %></label>
            <div class="controls">
              <span><%= @package.cpm %></span>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
  <div class="row">
    <div>
      <h3><%= t(".ads_included") %></h3>
      <div class="nice-container ads-in-package">
        <h4 class="empty-package"><%= t(".package_empty") %></h4>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <%= link_to t("edit"), edit_user_package_path(current_user, @package), :class => "button violet", :remote => true if @package.packagable == current_user %>
  <%= link_to t("delete"), user_package_path(@package.packagable, @package), :method => :delete, :class => "button violet", :remote => true if @package.packagable == current_user %>
  <%= link_to t("cancel"), "#", :class => "button", :data => { :dismiss => "modal" } %>
</div>
