<h1><%= t(".view_all_packages") %></h1>
<div class="row-fluid">
  <div class="options_wrapper span12">
    <div class="options">
      <div class="row-fluid">
        <div class="span12">
          <div class="btn-group leftFloat package-filters" data-toggle="buttons-radio">
            <button class="btn" data-filter="*"><%= t(".all") %></button>
            <button class="btn" data-filter=".in-page"><%= t(".in_page") %></button>
            <button class="btn" data-filter=".high-impact"><%= t(".high_impact") %></button>
          </div>
          <div class="btn-group leftFloat package-filters" data-toggle="buttons-radio">
            <button class="btn active" data-filter="*"><%= t(".all") %></button>
            <button class="btn" data-filter=".created-pub"><%= t(".created_by_publisher") %></button>
            <button class="btn" data-filter=".created-sel"><%= t(".created_by_seller") %></button>
            <button class="btn" data-filter=".created-me"><%= t(".created_by_me") %></button>
          </div>
          <%- if current_user.should_see_add_package? %>
            <div class="leftFloat">
              <%= link_to t(".add_new_package"), new_user_package_url(current_user, :publisher_id => params[:publisher_id]), :class => "btn btn-inverse", :remote => true %>
            </div>
          <% end %>
          <div class="leftFloat">
            <form class="form-search span3">
              <input type="text" class="input-medium search-query">
              <button type="submit" class="btn"><%= t(".search") %></button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row-fluid">
  <div id="package_items" class="span12">
    <%- @packages.each do |package| %>
      <div class="package_item <%= 'created-pub' if package.owner_publisher? %> <%= 'created-sel' if package.owner_seller? %>  <%= 'created-me' if package.packagable == current_user %> shadow">
        <%= link_to image_tag(package.logo), [package.packagable, package], :remote => true, :class => "package_icon" %>
        <div class="package_overview">
          <h4><%= package.name %></h4>
          <p><%= "#{t(".flight_dates")}: #{package.flight_start_date} - #{package.flight_end_date}" %></p>
          <p><%= "#{t(".cost")}: #{package.total_cost}" %></p>
          <p><%= "#{t(".impressions")}: #{package.total_impressions}" %></p>
          <p></p>
          <p></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
