<div class="row-fluid" id="co-workers">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" href="#collapse-co-workers">
        <%= t('.add_your_co_workers') %>
        <div class="toggle-open"></div>
      </a>
    </div>
    <div id="collapse-co-workers" class="accordion-body collapse in">
      <div class="accordion-inner">
        <div class="container-fluid items">
          <% if @co_workers_connections.any? %>
            <%= render :partial => "connections", :locals => {:connections => @co_workers_connections}  %>
          <% else %>
            <%= t('.no_connections_found') %>
          <% end %>
        </div>
      </div>
      <div id="co-workers-paginator" class="btn-toolbar rightFloat paginator">
        <div class="connections_loader"><%= image_tag "/assets/spinner.gif" %></div>
        <div class="current-page" data-page="1" data-max-page="<%= max_page(@co_workers_connections.size) %>">
          <%= t('page', :curr_page => 1, :max_page => max_page(@co_workers_connections.size)) %>
        </div>
        <div class="btn-group">
          <a class="btn active" href="<%= co_workers_manage_connections_path %>" data-arrow="prev">
            <div class="image_nav_left"></div>
          </a>
          <a class="btn" href="<%= co_workers_manage_connections_path %>" data-arrow="next">
            <div class="image_nav_right"></div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>