<% connections.first(Connection::CONNECTIONS_PER_PAGE).each_slice(2) do |cg| %>
  <div class="row-fluid">
    <%- cg.each do |c| %>
      <div class="span6 connection" data-connection-id="<%= c.id %>">
        <div class="user-pic-small leftFloat user_image">
          <%= link_to (image_tag c.user_profile.avatar, :size => "50x50", :alt => t('.no_image')), user_profile_path(c.id) %>
        </div>
        <div class="user_info">
          <h4><%= c.fullname %></h4>
          <div class="user_description"><%= c.title %></div>
        </div>
        <% if contact_invited?(c) %>
          <%= link_to t('.already_invited'), '#', :class => "btn btn-small rightFloat invitation_button" %>
        <% else %>
          <%= link_to t('.add_as_connection'), manage_connections_path(:id => c.id), :class => "btn btn-small rightFloat invitation_button", :method => :post %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>