<div class="row-fluid" id="linked-in-connections">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" href="#collapse-linkedin-connections">
        <%= t('.invite_to_join') %>
        <div class="toggle-open"></div>
      </a>
    </div>
    <div id="collapse-linkedin-connections" class="accordion-body collapse in">
      <div class="accordion-inner">
        <div class="container-fluid items">
          <% if @linked_in_connections.any? %>
            <%= render :partial => "linkedin_connections" %>
          <% else %>
            <%= t('.no_connections_found') %>
          <% end %>
        </div>
      </div>
      <div id="invite-connections-paginator" class="btn-toolbar rightFloat paginator">
        <div class="connections_loader"><%= image_tag "/assets/spinner.gif" %></div>
        <div class="current-page" data-page="1" data-max-page="<%= max_page(@linked_in_connections.size) %>">
          <%= t('page', :curr_page => 1, :max_page => max_page(@linked_in_connections.size)) %>
        </div>
        <div class="btn-group">
          <a class="btn active" href="<%= linkedin_connections_manage_connections_path %>" data-arrow="prev">
            <div class="image_nav_left"></div>
          </a>
          <a class="btn" href="<%= linkedin_connections_manage_connections_path %>" data-arrow="next">
            <div class="image_nav_right"></div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>