<% @linked_in_connections.first(Connection::CONNECTIONS_PER_PAGE).each_slice(2) do |cg| %>
  <div class="row-fluid">
    <%- cg.each do |c| %>
      <div class="span6 connection" data-connection-id="<%= c.id %>">
        <div class="user-pic-small leftFloat user_image">
          <%= image_tag c.picture_url, :size => "50x50" if c.picture_url %>
        </div>
        <div class="user_info">
          <h4><%= "#{c.first_name} #{c.last_name}" %></h4>
          <div class="user_description"><%= c.headline %></div>
        </div>
        <% if connection_invited?(c.id) %>
          <%= link_to t('.user_already_invited'), "#", :class => "btn btn-small rightFloat invitation_button" %>
        <% else %>
          <%= link_to t('.invite_user'), invite_users_manage_connections_path(:connections => c.id), :class => "btn btn-small rightFloat invitation_button" %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>