var page = <%= params[:page] %>;
var $container = $('#all-connections');
var new_items = "<%= escape_javascript(render :partial => "connections", :locals => {:connections => @beanstock_connections}) %>"
leaf_connections($container, new_items, page);