var page = <%= params[:page] %>;
var $container = $('#co-workers');
var new_items = "<%= escape_javascript(render :partial => "connections", :locals => { :connections => @co_workers_connections }) %>"
leaf_connections($container, new_items, page);