<h3><%= t('.user_connections', :user_fullname => current_user.fullname) %></h3>
</br>
<div id="connections_container" class="connections">
  <div class="connections_menu">
    <%= render :partial => "connections/my_connections/search_bar" %>
  </div>
  <div class="container-fluid add_connections">
    <div class="row-fluid">
      <div class="description"><%= t('.choose_connections') %></div>
    </div>
    <%= render :partial => "co_workers" %>
    <%= render :partial => "beanstock_connections" %>
    <%= render :partial => "invite_connections" %>
  </div>
</div>