var page = <%= params[:page] %>;
var $container = $('#linked-in-connections');
var new_items = "<%= escape_javascript(render :partial => "linkedin_connections", :locals => {:connections => @linked_in_connections}) %>"
leaf_connections($container, new_items, page);