<div class="graybox">
	<h4>Activity Feed</h4>
	<ul>
	<% @activity_feed.each do |a| %>
		<li class="feed">
			<%= link_to a.actor.fullname, user_profile_path(a.actor.user_profile), class: 'user-profile' %> <%= a.message %><br>
			<%= a.created_at.strftime('%b %-d, %Y @ %I:%M %p') %>
		</li>
	<% end %>
	</ul>
</div>
