<%= presenter.title %>
<%= presenter.company_name %>
<div class="location">
  <%= presenter.location %>
</div>
<div class="about_me">
  <%= presenter.about_me %>
</div>
<div class="description">
  <%= presenter.description %>
</div>
