<script type="text/javascript">
  var faye = new Faye.Client("http://<%= request.host %>:9292/faye");
  <% @my_friends.each do |friend| %>
    faye.subscribe("<%= generate_chat_id(current_user.id, friend.id) %>", function(data) {
      eval(data);
    });
  <% end %>
</script>
