//This shows how to use foundation. 
//No ability to control gutter
//Infinite nesting is possible.
%h2
  Grid Demo
%h3
  using foundation to create a grid
  
.demobox
  this is full width, not using foundation

%hr
%br
%style
  \.demobox{background-color: #ddd;}
    
// row needs to be on own line not .row.twelve.columns    
.row
  .twelve.columns
    .demobox
      12 columns, in a single row.

// nested columns      
.row
  .twelve.columns
    %div{style: "background-color: #ee3;"}
      Here is an example of a 12 (full) width box containing 2 and 3 panels
      .row
        .six.columns{style: "background-color: #ccc;"}
          2 panel layout 50%+50% (6c+6c)within parent of width 12 (100%) 

        .six.columns{style: "background-color: #ccc;"}
          other panel

      .row
        .four.columns{style: "background-color: #bbb;"}
          3 panels layout (4c+4c+4c)
        .four.columns{style: "background-color: #bbb;"}
          other panel
        .four.columns{style: "background-color: #bbb;"}
          other panel
      
    
%br
     
.row 
  .one.columns.end
    .demobox
      1 columns in a single row.

.row
  .ten.columns.end
    .demobox
      10 columns in a single row.    
    
.row
  .eleven.columns.end
    .demobox
      11 columns in a single row.
.row
  .twelve.columns.end
    .demobox
      12 columns in a single row.    
      
.row
  - 12.times do |i|
    .one.column
      .demobox
        = "Col #{i}"
              
.row
  .ten.columns.end
    .demobox
      .row
        Here is the containing box of 10 columns.
      .row
        .five.columns.offset-by-three{style: "background-color: #777"}
          a five column offset-by-three columns within the 10 column box.
        .four.columns.end{style: "background-color: #666"}
          the last 4 columns  3+5+4==12. finishing our the nested columns. finishing our the nested columns. finishing our the nested columns. finishing our the nested columns. finishing our the nested columns. finishing our the nested columns. finishing our the nested columns. finishing our the nested columns. finishing our the nested columns. finishing our the nested columns. finishing our the nested columns. finishing our the nested columns. finishing our the nested columns. finishing our the nested columns. finishing our the nested columns. finishing our the nested columns. 
      %br
      .row
        - 12.times do |i|
          .one.column
            .demobox
              = "Col #{i}"            

 