<ul id="inbox_tabs" class="nav nav-tabs">
  <li class="<%= tab_class('conversations') %>"><%= link_to t('.messages'), conversations_path %></li>
  <li class="<%= tab_class('requests') %>"><%= link_to t('.requests'), requests_path  %></li>
  <li class="<%= tab_class('notices') %>"><%= link_to t('.notices'), notices_path %></li>
</ul>
