<%= form_tag searches_path, :method => :get, :id => 'inline-navigation-search', :autocomplete => 'off' do %>
  <div class='navigation-autocomplete-results' id='error' style='display:none'>
    <ul class="popup-results">
      <li>
        <a class="bg"> 
          <%= t('.type_more_symbols') %>
        </a>
      </li>
    </ul>
  </div>
  <div class='navigation-autocomplete-results' id='message' style='display:none'>
    <ul class="popup-results">
      <li>
        <a class="bg"> 
          <%= t('.searching') %>
        </a>
      </li>
    </ul>
  </div>
  <%= text_field_tag :search, params[:search], :class => "search-query span2",
    :placeholder => "#{ t('.type_your_search_here') }",
    :onkeypress => 'javascript:Search.submit_navigation_form(event)',
    :data => {:autocomplete_source => autocomplete_searches_path} %>
<% end %>
