<div class="tab_cards_container with_scroll">
  <div class="row_fluid">
    <%= render(:partial => 'tools/tab_card', :collection => tab_cards) || 
        content_tag(:div, t('no_items'), :class => 'no_items') %>
  </div>
</div>