<script id="activity_item_template" type="text/html">
  <tr class={{event_type}} id="timeline_event_{{id}}" data-from-user={{actor_id}}>
    <td class="icon">
      {{>activity_icon_template}}
    </td>
    <td class="message">
      {{#package_updated?}}
        <div class="logo">
          <%= image_tag "icons/package.png", :size => "38x38" %>
        </div>
      {{/package_updated?}}
      <div class="message_body">
        {{>header_template}}
        {{>title_template}}
        <div class="time_place_info timeago" title={{created_at}}>
        </div>
      </div>
    </td>
    <td class="close_button">
      <button type="button" class="close" id="close_button_{{id}}">×</button>
    </td>
  </tr>
</script>

<script id="title_template" type="text/html">
  {{#status_update?}}
    <div class="truncated-text">
      <%= t("layouts.market_ticker.changed_his_status") %>
      "{{updated_status}}"
    </div>
  {{/status_update?}}
  {{#question_asked?}}
    <div class="truncated-text">
      <%= t("layouts.market_ticker.asked_question") %>
      "{{event_title}}"
    </div>
  {{/question_asked?}}
  {{#question_answered?}}
    <%= t("layouts.market_ticker.answer") %>
    <a href="{{posting_path}}" class="message">
      {{author_name}}<%= t("layouts.market_ticker.personal_question") %>
    </a>
  {{/question_answered?}}
  {{#profile_update?}}
    <%= t("layouts.market_ticker.changed_his") %>
    <a href={{profile_path}} class="message">
      <%= t("layouts.market_ticker.job_details") %>
    </a>
  {{/profile_update?}}
  {{#package_updated?}}
    {{event_title}}
  {{/package_updated?}}
</script>

<script id="header_template" type="text/html">
  {{#package_updated?}}
    <div class="header">
      <a href={{package_path}} data-remote="true">{{package_name}}</a>
    </div>
  {{/package_updated?}}
  {{^package_updated?}}
    <div class="header" style="float: left;">
      <a href={{profile_path}}>{{actor_fullname}}</a>
    </div>
  {{/package_updated?}}
</script>

<script id="activity_icon_template" type="text/html">
  {{#status_update?}}
    <i class="icon-tag">
  {{/status_update?}}
  {{#question_asked?}}
    <i class="icon-question-sign">
  {{/question_asked?}}
  {{#question_answered?}}
    <i class="icon-comment">
  {{/question_answered?}}
  {{#profile_update?}}
    <i class="icon-user">
  {{/profile_update?}}
  {{#package_updated?}}
    <i class="icon-folder-close">
  {{/package_updated?}}
</script>

<script id="hide_promt_template" type="text/html">
  <div class="hide_promt">
    <div>
      <a href="/timeline_events/{{id}}/hide" data-remote="true">
        <button type="button" class="grey close">×</button>
        <span class="text"><%= t('.hide_only_this_item') %></span>
      </a>
    </div>
    <div>
      <a href="/timeline_events/bulk_hide?user_id={{actor_id}}" data-confirm-message="<p><%= t('layouts.market_ticker.hide_confirm', :user_name => '<a href={{profile_path}}>{{actor_fullname}}</a>') %></p>">
        <button type="button" class="blue close">×</button>
        <span class="text"><%= t('.hide_all_items') %></span>
      </a>
    </div>
  </div>
</script>
