<% if item.url =~ /[gif|jpg|png|jpeg]$/ %>
  <div style="text-align:center"><img src="<%= item.url %>" /></div>
<% elsif item.url =~ /youtube.com/ or item.url =~ /youtu.be/ %>
  <%= raw youtube_embed(item.url) %>
<% elsif item.url =~ /^http/ %>
  <%= link_to item.url.try(:truncate, 50), item.url, :class => "trackable", "data-click-type".to_sym => item.class, "data-click-id".to_sym => item.id, :target => "_blank" %> 
<% end %>
