<li>
  <div class="connection-detail my-connection">
    <div class="row-fluid">
      <div class="span3">
        <%= link_to image_tag(user.avatar.url), user_profile_path(user.user_profile), :class => "user-profile-img" %>
      </div>
      <div class="span9">
        <%= link_to user.fullname.truncate(19), user_profile_path(user.user_profile), :class => "name user-profile" %>
        <div class="title"><%= user.title.try(:truncate, 25) %></div>
        <div class="company"><%= user.user_profile.company_name.truncate(25) %></div>
      </div>
    </div>
  </div>
</li>
