<div class="user_status">
  <div class="user_name">
    <h4><%= current_user.fullname %></h4>
  </div>
  <div id="select-user-status" class="btn-group user_select">
    <button class="btn dropdown-toggle" data-toggle="dropdown" href="#">
      <div class="current-value">
        <div class="<%= status_class(status) %>"></div>
        <div><%= current_user.online_status.capitalize %></div>
      </div>
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <% UserStatus::STATUSES.each_with_index do |status, index| %>
        <li data-status="<%= status.underline %>">
          <a href="javascript:void(0)">
            <div class="<%= status_class(status) %>"></div>
            <div><%= status.capitalize %></div>
          </a>
        </li>
        <% if (index + 1) < UserStatus::STATUSES.size %>
          <li class="divider"></li>
        <% end%>
      <% end %>
    </ul>
  </div>
</div>