<ul class="nav pull-right">
  <li class="dropdown">
    <%= link_to notices_path, :id => 'notification-dropdown', :class => 'dropdown-toggle notice-icon' do %>
      <i class='icon-comment'></i>
      <%= adjust_and_translate('.alerts', { :count => @all_notices_size }, 'counter') %>
    <% end %>
    <%= render :partial => 'notices/dropdown' %>
  </li>
  <li class="dropdown toggle-on-hover">
    <%= link_to conversations_path, :class => 'dropdown-toggle notice-icon', :id => 'messages-dropdown' do %>
      <i class='icon-envelope'></i>
      <%= adjust_and_translate('.messages', { :count => @mainmenu_header_unread_messages.count }, 'counter') %>
    <% end %>
    <%= render :partial => 'conversations/dropdown' %>
  </li>
  <li class="dropdown menu-item">
    <%= link_to '', 'data-toggle' => 'dropdown', :class => "min-width" do %>
      <%= current_user.fullname %>
      <span class="caret"></span>
    <% end %>
    <ul class="dropdown-menu width-menu sub-menu">
      <li><%= link_to t(".view_profile"), user_profile_path(current_user.user_profile) %></li>
      <li><%= link_to t(".settings"), edit_setting_path(current_user) %></li>
      <li><%= link_to t(".log_out"), logout_path, :method => :delete %></li>
      <li><%= link_to t(".help"), '#' %></li>
      <li><%= link_to t(".support"), new_support_requests_path, :remote => true %></li>
    </ul>
  </li>
</ul>
<div id='navigation-search'>
  <%= render :partial => 'shared/search_form' %>
</div>
