<% present object do |object_presenter| -%>
  <div class="row-fluid">
    <div class="span12 profile_header">
      <div class="profile_name">
        <%= object_presenter.name %>
      </div>
      <div class="right_actions">
        <%= object_presenter.header_buttons %>
      </div>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span12 profile_content">
      <div class="user_logo">
        <%= object_presenter.logo(:with_edit_buttons => true) %>
      </div>
      <div id="base_profile_info">
        <%= render :partial => "shared/base_profile_info", :locals => {:presenter => object_presenter} %>
      </div>
    </div>
  </div>
<% end -%>
