<%= f.fields_for :ad_type_ids do |ad_type_form| %>
  <div id="add-types-publisher" class="tab-pane ad_types">
    <div class="control-group">
      <%= render_ad_type_groups(ad_type_form, company) %>
      <div style="clear: both;"></div>
    </div>
  </div>
<% end %>
