<h4><%= t(".#{group.name}") %></h4>
<% group.ad_types.each do |ad_type| %>
  <label class="checkbox">
    <%= ad_type_form.check_box '', {:checked => company.ad_type_ids.include?(ad_type.id)}, ad_type.id, '' %>
    <%= t(".#{ad_type.name}") %>
  </label>
<% end %>
