<div id="add-associations-publisher" class="tab-pane associations">
  <div class="control-group">
    <%= label_tag "publisher_site_name", t('.site_name'), :class => 'control-label' %>
    <div class="controls">
      <div class="inputs">
        <%= f.fields_for :company_sites do |company_site| %>
          <div class="company_site association">
            <%= company_site.hidden_field :site_id, :class => "object_id" %>
            <%= company_site.hidden_field :_destroy, "data-type" => "destroy_input" %>
            <%= company_site.text_field :site_name, :class => "input-large object_name", :data => {:autocomplete_source => autocomplete_sites_path} %>
            <div class="delete_association link inline_block close">×</div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="controls link" id="add_company_site">
      <%= t('.add_another_site') %>
    </div>
  </div>
  <div class="control-group">
    <%= label_tag "publisher_network_name", t('.network'), :class => 'control-label' %>
    <div class="controls">
      <div class="inputs">
        <%= f.fields_for :company_networks do |company_network| %>
          <div class="company_network association">
            <%= company_network.hidden_field :network_id, :class => "object_id" %>
            <%= company_network.hidden_field :_destroy, "data-type" => "destroy_input" %>
            <%= company_network.text_field :network_name, :class => "input-large object_name", :data => {:autocomplete_source => autocomplete_networks_path} %>
          </div>
        <% end %>
      </div>
      <p class="help_block"><%= t('.network_info') %></p>
    </div>
  </div>
</div>

<script type="text/javascript">
  process_associations(['company_site', 'company_network']);
</script>
