<%= form_for(@publisher, :html => { :class => "publisher nice", :remote => true }, :builder => StandartBuilder) do |f| %>
  <%= render :partial => 'publishers/navigation' %>
  <div class="tab-content">
    <%= render :partial => 'tools/basic', :locals => { :f => f, :company => @publisher }%>
    <%= render :partial => 'publishers/site_data', :locals => { :f => f }%>
    <%= render :partial => 'publishers/ad_types', :locals => { :f => f, :company => @publisher }%>
    <%= render :partial => 'publishers/associations', :locals => { :f => f }%>
    <%= render :partial => 'tools/description', :locals => { :f => f, :company => @publisher }%>
  </div>
<%end%>
