<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#add-basic-publisher"><%= t('.basic_details') %></a></li>
  <li><a data-toggle="tab" href="#add-statistics-publisher"><%= t('.site_data') %></a></li>
  <li><a data-toggle="tab" href="#add-types-publisher"><%= t('.ad_types_accepted') %></a></li>
  <li><a data-toggle="tab" href="#add-associations-publisher"><%= t('.associations') %></a></li>
  <li><a data-toggle="tab" href="#add-description-publisher"><%= t('.other_details') %></a></li>
</ul>
