<div id="agency-detail">
  <div class="row">
    <div class="eight columns">
      <div class="row" style="margin-bottom:10px">
        <div class="ten columns">
          <h2><%= t(".parent_publisher") %></h2>
          <h2><%= t(".publisher") %> <%= @publisher.name %></h2>
        </div>
        <div class="two columns text-right">
          <%= link_to t("edit"), '#', :class => "small round red button" %>					
        </div>
      </div>
      <div class="row">
        <p>
          <%= @publisher.description %>
        </p>
        <br>
        <p>
          <%= t(".offices") %> 
          <span>San Francisco, CA USA</span>
        </p>
        <p>
          <%= t(".monthly_unique_from_us") %>
          <span>###</span>
        </p>
        <p>
          <%= t(".monthly_from_global") %> 
          <span>###</span>
        </p>
        <p>
          <%= t(".monthly_visits_from_us") %>
          <span>###</span>
        </p>
        <p>
          <%= t(".monthly_visits_global") %> 
          <span>###</span>
        </p>
        <p>
          <%= t(".age_range") %> 
          <span>###</span>
        </p>
        <p>
          <%= t(".gender") %>
          <span>###</span>
        </p>
        <p>
          <%= t(".ad_types") %>
          <span>###</span>
        </p>
        <p>
          <%= t(".employees") %>
          <span>###</span>
        </p>
        <p>
          <%= t(".accounts") %>
          <span>###</span>
        </p>
      </div>
      <div class="row">
        <h6><%= t(".employees_d") %></h6>
        <ul class="block-grid two-up">
          <% @contacts.each_with_index do |contact, i| %>
            <li>
              <div class="row">
                <div class="three columns">
                  <%= image_tag(contact.user.user_profile.avatar.thumb.url) if contact.user %>
                </div>
                <div class="nine columns contact-info">
                  <%= link_to contact.fullname, contact, :class => "name", :remote => true %>
                  <div class="row"><%= contact.title %></div>
                  <div class="row"><%= number_to_phone(contact.office_phone, :delimiter => ".") %></div>
                  <div class="row"><%= contact.email %></div>
                  <%= link_to t(".send_message"), "#" %>
                </div>
              </div>
            </li>
          <% end %>
        </ul>
        <%= link_to t(".add_an_employee"), "#", :class => "small round red button" %>					
      </div>
    </div>
    <div class="four columns">
      <div class="graybox">
        <h4><%= t(".accounts_d") %></h4>
        <div class="row">
          <ul class="block-grid two-up">
            <% demo_account_logos(7).each do |demo_logo| %>
              <li>
                <div>
                  <%= image_tag demo_logo %>
                </div>
              </li>
            <% end %>
            <li>
              <div style="border-radius:10px;height:66px;margin-right:5px;border:2px dashed"></div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <a class="close-reveal-modal">&#215;</a>
</div>

