<div id="add-statistics-publisher" class="tab-pane">
  <h4><%= t('.traffic_data') %></h4>
  <div class="control-group">
    <label for="uniques" class="control-label"><%= t('.monthly_uniques') %></label>
    <div class="controls">
      <%= f.text_field :monthly_uniques, :class => "input-medium" %>
    </div>
  </div>
  <div class="control-group">
    <label for="impressions" class="control-label"><%= t('.monthly_impressions') %></label>
    <div class="controls">
      <%= f.text_field :monthly_impressions, :class => "input-medium" %>
    </div>
  </div>
  <div class="control-group">
    <label for="page-views" class="control-label"><%= t('.monthly_page_views') %></label>
    <div class="controls">
      <%= f.text_field :monthly_page_views, :class => "input-medium" %>
    </div>
  </div>
  <h4><%= t('.audience_data') %></h4>
  <div class="control-group">
    <label for="page-views" class="control-label"><%= t('.audience') %></label>
    <div class="controls">
      <%= f.fields_for :company_audiences do |company_audience| %>
        <%= company_audience.hidden_field :audience_id, :class => "object_id" %>
        <%= company_audience.hidden_field :_destroy, "data-type" => "destroy_input" %>
        <%= company_audience.text_field :audience_name, :class => "input-large audience_input object_name", :data => {:autocomplete_source => autocomplete_audiences_path} %>
      <% end %>
    </div>
  </div>
  <h4><%= t('.category_data') %></h4>
  <div class="control-group">
    <label for="page-views" class="control-label"><%= t('.category') %></label>
    <div class="controls">
      <%= f.fields_for :company_categories do |company_category| %>
        <%= company_category.hidden_field :category_id, :class => "object_id" %>
        <%= company_category.hidden_field :_destroy, "data-type" => "destroy_input" %>
        <%= company_category.text_field :category_name, :class => "input-large category_input object_name", :data => {:autocomplete_source => autocomplete_categories_path} %>
      <% end %>
    </div>
  </div>
</div>

<script type="text/javascript">
  process_data_input($(".audience_input"))
  process_data_input($(".category_input"))
</script>
