<% days_news.each do |date, news| %>
  <div class="news_day_block <%= 'active_date' if date == Time.now.to_formatted_s(:day_week) %>">
    <div class="news_date" value="<%= date %>">
      <b><%= date %></b>
    </div>
    <div class="news_container">
      <% news.each do |curr_news| %>
        <div class="news_item <%= cycle("even", "odd") %>" id="<%= curr_news.feed_class + '_' + curr_news.id.to_s %>">
          <div class="news_info">
            <div><%= curr_news.feed_time %></div>
            <%= image_tag("black_flag.png") %>
            <div class="feed-type-<%= curr_news.feed_class %>">
              <%= curr_news.feed_type %>
            </div>
          </div>
          <div class="news_description">
            <%= link_to (image_tag curr_news.image_url, :size => "200x200", :align => "left"), curr_news.url if curr_news.image_url %>
            <div class="title">
              <span class="name"><%= curr_news.feed_title %></span>
              <span class="status"><%= curr_news.feed_status %></span>
            </div>
            <div class="description"><%= curr_news.feed_description %>
              <%= link_to "more...", curr_news.event_url %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end  %>