<%- if @news.any? %>
  <%= link_to raw('&nbsp;'), '#', class: "news-nav left", id: "prev-news" %>
  <div id="news-ribbon">
    <div id="news-slider">
      <% @news.each do |news| %>
        <div class="news-item" style="background-image: url(<%= news.image_url(:small) %>)">
          <div class="overlay">
            <%= link_to news.title.truncate(85, :separator => ' '), news.url, :class => "trackable", :style => "color: white", "data-click-type" => news.class, "data-click-id" => news.id, :target => "_blank" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <%= link_to raw('&nbsp;'), '#', class: "news-nav right", id: "next-news" %>
<%- else %>
  <%= render "news/opps" %>
<%- end %>
