<script id="block_for_news_template" type="text/html">
  <div class="news_day_block">
    <div class="news_date" value="{{ feed_date }}">{{ feed_date }}</div>
    <div class="news_container"></div>
  </div>
</script>

<script id="feed_activity_item_template" type="text/html">
  <div class="news_item ">
    <div class="news_info">
      <div>{{ feed_time }}</div>
      <img src="/assets/black_flag.png" alt="Black_flag"></img>
      <div class="feed-type-{{ feed_class }}">
        {{ feed_type }}
      </div>
    </div>
    <div class="news_description">
      <div class="title">
        <span class="name">{{ feed_title }}</span>
        <span class="status">{{ feed_status }}</span>
      </div>
      <div class="description">{{ feed_description }}
        <a href="{{ event_url }}">more...</a>
      </div>
    </div>
  </div>
</script>

<script id="news_item_template" type="text/html">
  <div class="news_item ">
    <div class="news_info">
      <div>{{ feed_time }}</div>
      <img src="/assets/black_flag.png" alt="Black_flag"></img>
      <div class="feed-type-{{ feed_class }}">
        {{ feed_type }}
      </div>
    </div>
    <div class="news_description">
      <a href="{{ url }}"><img align="left" height="200" src="{{ image_url }}" width="200" /></a>
      <div class="title">
        <span class="name">{{ feed_title }}</span>
      </div>
      <div class="description">{{ feed_description }}
        <a href="{{ event_url }}">more...</a>
      </div>
    </div>
  </div>
</script>