<div class="item row-fluid">
  <div class="news_image">
    <%= link_to (image_tag news.image_url), show_news_item_path(:id => news), :target => "_blank" %>
  </div>
  <div class="carousel-caption">
    <div class="news_logo">
      <%= image_tag news.news_feed.image_url(:thumb) %>
    </div>
    <div class="news_caption">
      <div class="short_title"><b><%= news.title.truncate(NewsItem::TRUNCATION_LENGTH) %></b></br></div>
      <%= news_excerpt(news) %>
    </div>
  </div>
</div>