<%= link_to raw('&nbsp;'), '#', class: "news-nav left", id: "prev-news" %>
<div id="news-ribbon">
	<div id="news-slider">
		<div class="news-item" style="background-image: url(/assets/demo/opportunities/opp1.png)"></div>
		<div class="news-item" style="background-image: url(/assets/demo/opportunities/opp2.png)"></div>
		<div class="news-item" style="background-image: url(/assets/demo/opportunities/opp3.png)"></div>
		<div class="news-item" style="background-image: url(/assets/demo/opportunities/opp4.png)"></div>
	</div>	
</div>
<%= link_to raw('&nbsp;'), '#', class: "news-nav right", id: "next-news" %>
