<div class="main_news_container">
  <input id="feeds_type" type="hidden" value="<%= params[:feed_type] || "all" %>"></input>
  <input id="news_current_page" type="hidden" value="<%= @page_number || 1 %>"></input>
  <input id="last_date" type="hidden" value="<%= @feed.keys.last %>"></input>
  <div id="news_container">
    <%= render :partial => "news_filter" %>
    <div id="news_reader">
      <%= render :partial => "date_news", :locals => { :days_news => @feed} %>
    </div>
    <div id="loader" class="span1">
      <%= t(".please_wait") %>
      <%= image_tag "/assets/spinner.gif" %>
    </div>
  </div>
</div>

<%= render :partial => "news_templates" %>

<script type="text/javascript">
  $(function() {
    news_page("<%= slide_news_path %>");
  });
</script>