<div class="row text-right" style="margin-bottom:1em">	
  <%= link_to raw("&larr; Back to Home"), root_url %>
</div>
<div class="row">
  <div class="eight columns">
    <div class="graybox">
      <div class="whitebox">
        <div class="row">
          <div class="nine columns">
            <p>
            <%= link_to @news.title.truncate(85, :separator => ' '), @news.url, :class => "trackable", :target => "_blank" %>
            </p>
            <p>
            <%= image_tag @news.image_url %>
            </p>
          </div>
          <div class="three columns">
            <div class="activity-time-ago right"><%= time_ago_in_words(@news.created_at) %> ago</div>				
          </div>
        </div>
        <div class="row">
          <div class="activity-feed-actions left">
            <% if generate_presenter(@news).like_link_is_displayable? %>
              <%= render :partial => "likes/like_button", :locals => { :likeable => @news } %> &bull;
            <% end %>
            <%= link_to "Share", shares_path(user: current_user, activity: @news), method: :news  %>
          </div>
          <div class="activity-feed-actions right">
            <%= render :partial => "likes/like_count", :locals => { :likeable => @news } %>
          </div>
        </div>
      </div>
      <% if @news.comments.size > 0 %>
        <div class="whitebox" id="comment-list-<%= @news.id %>">
          <%= render :partial => 'comments/comment', :collection => @news.comments %>
        </div>
      <% end %>

      <%= form_for([@news, @news.comments.build], :url => news_item_comments_path(@news)) do |f| %>
        <%= hidden_field_tag :commentable_id, @news.id %>
        <%= hidden_field_tag :commentable_type, :news_items %>
				<div class="row">
					<div class="left">
						<%= f.text_area :comment, :id => 'add-comment', :placeholder => 'Comment on this...', :rows => 2 %>
					</div>
					<div class="right">
						<%= f.submit 'Submit', :class => 'small round red button', :style => 'margin-right: 1em' %>
					</div>
				</div>
			<% end %>
    </div>
  </div>
  <div class="four columns">
    <div class="graybox">
      <h4><%= pluralize(@likes.size,'User') %> liked this</h4>
      <% if @likes.size > 0 %>
        <div class="whitebox" id="liked-by-users">
          <ul class="block-grid five-up">
            <% @likes.each do |like| %>
              <li><%= avatar_link(like.voter) %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>
  </div>
</div>
