<%= render :template => "news/feeds" %>
<script type="text/javascript">
  $(function() {
    $('#news_reader #news_<%= @item.id %>').addClass("active_item");
    $("#news_reader").scrollTop($('#news_<%= @item.id %>').offset().top - $('#news_reader').position().top);
  });
</script>