= form_for @setting do |f|
  -if @setting.errors.any?
    #error_explanation
      %h2= "#{pluralize(@setting.errors.count, "error")} prohibited this setting from being saved:"
      %ul
        - @setting.errors.full_messages.each do |msg|
          %li= msg

  .row
    .six.columns
      %h2 My Basic Info 
      .field
        = f.label "First Name:"
        = f.text_field :first_name
      .field
        = f.label "Last Name:"
        = f.text_field :last_name
      .field
        = f.label "Email:"
        = f.text_field :email
        
    .six.columns
      %h2 Other Settings
      .row.eleven.columns.offset-by-one
        - @social_defaults.each do |sd|
          .field
            - if sd[1]
              = check_box_tag(sd[0].provider, 1, sd[2][0].posting_default)
            - else
              = check_box_tag(sd[0].provider, 1, false, disabled: true)
            = "Post updates to " + sd[0].name
            
            
      %h2 Who Can Access My "Stuff"
      .row.eleven.columns.offset-by-one
        .field
          = check_box_tag("public",'public', @setting.user_profile.public_visibility?) 
          Everyone 
        .field
          = check_box_tag("connections",'connections', @setting.user_profile.connection_visibility?)
          Connections Only  
        .field
          = check_box_tag("publishers",'publishers',  @setting.user_profile.publisher_visibility?)  
          Publishers

  = render 'network'
  .row
    .actions
      = f.submit 'Save Changes', class: "small radius nice red button"
//<a class= "small radius nice red button"href="#">Add a Question</a>