%hr
.row
  .five.columns
    %h2 Connected User Accounts
    - @setting.authorizations.each do |authorization|
      %ul
        %li
          = image_tag "social_icons/#{authorization.provider}.png", style: "float: left;margin-right:10px;"
          .account-name{style: "padding: 4px 0 0 10px;"}
            = authorization.username || "#{@setting.first_name} #{@setting.last_name}"
            = link_to 'Disconnect', user_authorization_path(@setting, authorization), :style => "float: right;",:class => "small radius nice red button", :confirm => 'Are you sure?', :method => :delete
            
    - if @setting.authorizations.length==0
      %h4
        none
          
  .six.columns.offset-by-one
    .row.eleven.columns.offset-by-one
      - @social_networks.each do |network|
        /TODO add in foursquare image.
        - unless network.provider == 'foursquare' # no image
          %ul
            %li
              - unless @setting.authorizations.find_by_provider(network.provider) || network.provider =~ /google|pinterest/
                = link_to image_tag("social_icons/#{network.provider}_connect.png"), "/auth/#{network.provider}" 
              - else
                = image_tag("social_icons/#{network.provider}_connect_disabled.png")
      		
