%div#settings
  %h1 Settings
  %ul#setting-tabs.clearfix
    %li= link_to "Basic", root_url
    %li= link_to "Network", root_url
    %li= link_to "Block List", root_url
  .row-fluid
    .light-graybox-panel
      = render 'form'

