%h1 Listing settings
#admin
  %table
    %tr
      %th First name
      %th Last name
      %th Email
      %th
      %th
      %th
  
    - @settings.each do |setting|
      %tr
        %td= setting.first_name
        %td= setting.last_name
        %td= setting.email
        %td= link_to 'Show', setting
        %td= link_to 'Edit', edit_setting_path(setting)
        %td= link_to 'Destroy', setting, :confirm => 'Are you sure?', :method => :delete
  
  %br
  

