%p#notice= notice
#admin
  %p

  .row
    .six.columns
      %h2 My Basic Info 
      %p
        %b First name:
        = @setting.first_name
      %p
        %b Last name:
        = @setting.last_name
      %p
        %b Email:
        = @setting.email
   
    .six.columns
      %h2 Who Can Access My "Stuff"
      %p{style: "opacity: #{(@setting.user_profile.public_visibility)? 1.0 : 0.3};"}
        Public
      %p{style: "opacity: #{(@setting.user_profile.connection_visibility)? 1.0 : 0.3};"}
        Connections
      %p{style: "opacity: #{(@setting.user_profile.publisher_visibility?)? 1.0 : 0.3};"}
        Publishers
      %p
        %b Visibility:
        = @setting.user_profile.visibility  

  = link_to 'Edit', edit_setting_path(@setting)
  \|
  = link_to 'Back', settings_path

= render 'shared/grid_demo'  