<div class="row">
  <div class="two columns text-center">
    <%= link_to raw("<div class='like-arrow-up'></div>"), answer_likes_path(answer), :method => :post, :remote => true %>
    <%= render :partial => "likes/like_count", :locals => { :likeable => answer } %>
    <%= link_to raw("<div class='like-arrow-down'></div>"), answer_likes_path(answer, :downvote => true), :method => :post, :remote => true %>
    <% if answer.user == current_user %>
      <div class="activity-feed-actions left" style="margin-top:1em">
        <%= link_to t('delete'), answer_path(answer), :method => :delete, :confirm => t('.are_you_sure') %>
      </div>
    <% end %>
  </div>
  <div class="eight columns answer">
    <div style="margin-bottom:1em"><%= (defined? truncate_text) ? answer.answer.truncate(190, :separator => ' ') : answer.answer %></div>
    <div class="activity-time-ago"><%= time_ago_in_words(answer.created_at) %> <%= t('.ago') %></div>
  </div>
  <div class="two columns bold text-center">
    <%= link_to image_tag(answer.user.user_profile.avatar.thumb.url, :width => 48, :height => 48), user_profile_path(answer.user.user_profile), :class => "user-profile-img" %>
    <%= link_to answer.user.abbrev_name, user_profile_path(answer.user.user_profile), class: 'user-profile' %>
  </div>
</div>
<hr/>
