<% if @answer.errors.empty? %>
  $("div[data-event=event_popup_<%= @answer.post_timeline_event.id %>]").each(function(index, popup){
    var $popup = $(popup);
    $popup.find("textarea.write_remote_comment").val("").blur();
    $popup.find("div.answers").prepend("<%= escape_javascript(generate_presenter(@answer.timeline_event).display) %>");
  });

  var $market_ticker_content = $("#market-stream .accordion-inner");
  var $answer = $('<%= escape_javascript(generate_presenter(@answer.timeline_events.last).for_market_ticker) %>');
  $market_ticker_content.find('tbody').prepend($answer);

  if($('#select-update-type div.current-value').data('type') == "<%= TimelineEvent::QUESTION_ASKED %>"){
    $answer.hide();
  }

  var $timeline_event = $('#timeline_event_' + <%= params[:event_id] %>);
  var position = $timeline_event.position().top;
  var height = $timeline_event.height();
  if((position + height) > $market_ticker_content.height()){
    $timeline_event.qtip('hide')
  } else {
    $timeline_event.qtip('api').updatePosition();
  }

<% end %>
