<div class="modal-header">
  <button class="close" data-dismiss="modal" type="button">×</button>
  <h3><%= t('.add_new_agency') %></h3>
</div>
<div class="modal-body">
  <div class="form_container" id="agency_form">
    <%= render :partial => "agencies/form" %>
  </div>
</div>
<div class="modal-footer">
  <button class="button violet" id="submit_button"><%= t('save_and_add') %></button>
  <a data-dismiss="modal" class="button" href="#"><%= t('cancel') %></a>
</div>

<script type="text/javascript">

  $("#submit_button").click(function(event){
    $("#new_agency").submit();
    event.preventDefault();
  });
</script>
