<div id="add-associations-agency" class="tab-pane associations">
  <div class="control-group">
    <%= label_tag "agency_advertisers__name", t('.advertisers'), :class => 'control-label' %>
    <div class="controls">
      <div class="inputs">
        <%= f.fields_for :agency_advertisers do |agency_advertiser| %>
          <div class="agency_advertiser association">
            <%= agency_advertiser.hidden_field :advertiser_id, :class => "object_id" %>
            <%= agency_advertiser.hidden_field :_destroy, "data-type" => "destroy_input" %>
            <%= agency_advertiser.text_field :advertiser_name, :class => "input-large object_name", :data => {:autocomplete_source => autocomplete_advertisers_path} %>
            <div class="delete_association link inline_block close">&times;</div>
          </div>
        <% end %>
      </div>
      <p class="help_block"><%= t('.advertiser_info') %></p>
    </div>
    <div class="controls link" id="add_agency_advertiser">
      <%= t('.add_another_advertiser') %>
    </div>
  </div>
  <div class="control-group">
    <%= label_tag "agency_brands__name", t('.brands'), :class => 'control-label' %>
    <div class="controls">
      <div class="inputs">
        <%= f.fields_for :agency_brands do |agency_brand| %>
          <div class="agency_brand association">
            <%= agency_brand.hidden_field :brand_id, :class => "object_id" %>
            <%= agency_brand.hidden_field :_destroy, "data-type" => "destroy_input" %>
            <%= agency_brand.text_field :brand_name, :class => "input-large object_name", :data => {:autocomplete_source => autocomplete_brands_path} %>
            <div class="delete_association link inline_block close">&times;</div>
          </div>
        <% end %>
      </div>
      <p class="help_block"><%= t('.brand_info') %></p>
    </div>
    <div class="controls link" id="add_agency_brand">
      <%= t('.add_another_brand') %>
    </div>
  </div>
</div>

<script type="text/javascript">
  process_associations(['agency_brand', 'agency_advertiser']);
</script>
