<%= form_for(@agency, :html => { :class => "agency nice", :remote => true }, :builder => StandartBuilder) do |f| %>
  <%= render :partial => 'agencies/navigation' %>
  <div class="tab-content">
    <%= render :partial => 'tools/basic', :locals => { :f => f, :company => @agency }%>
    <%= render :partial => 'agencies/associations', :locals => { :f => f }%>
    <%= render :partial => 'tools/description', :locals => { :f => f, :company => @agency }%>
  </div>
<%end%>
