<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#add-basic-agency"><%= t('.basic_details') %></a></li>
  <li><a data-toggle="tab" href="#add-associations-agency"><%= t('.associations') %></a></li>
  <li><a data-toggle="tab" href="#add-description-agency"><%= t('.other_details') %></a></li>
</ul>