<div id="agency-detail">
  <div class="row">
    <div class="eight columns">
      <div class="row" style="margin-bottom:10px">
        <div class="ten columns">
          <h2>Agency: <%= @agency.name %></h2>
        </div>
        <div class="two columns text-right">
          <%= link_to 'Edit', edit_agency_path(@agency), :class => "small round red button", :remote => true %>
          <%= link_to 'Delete', agency_path(@agency), :class => "small round red button", :remote => true, :method => 'DELETE' %>
        </div>
      </div>
      <div class="row">
        <p>
          Cras placerat nunc vel metus scelerisque quis fringilla sem sagittis. Nunc lobortis volutpat augue, in porta enim sollicitudin non. Nulla in magna ligula. Suspendisse facilisis lacus a urna consectetur aliquet. Sed ut euismod mi. Nunc at felis nibh, a pellentesque felis. Sed a nisi ante. Duis convallis fringilla ante non hendrerit. Fusce elementum dolor at elit sollicitudin ultricies. Nam sit amet nisl nibh, in convallis metus. Phasellus imperdiet ante non magna dignissim cursus.
        </p>
        <p>
          Offices: San Francisco, CA USA
        </p>
        <p>
          Employees: 294<br>
          Accounts: 24
        </p>
      </div>
      <div class="row">
        <h6>Employees</h6>
        <ul class="block-grid two-up">
          <% @contacts.each_with_index do |contact, i| %>
            <li>
              <div class="row">
                <div class="three columns">
                  <%= image_tag(contact.user.user_profile.avatar.thumb.url) if contact.user %>
                </div>
                <div class="nine columns contact-info">
                  <%= link_to contact.fullname, contact, :class => "name", :remote => true %>
                  <div class="row"><%= contact.title %></div>
                  <div class="row"><%= number_to_phone(contact.office_phone, :delimiter => ".") %></div>
                  <div class="row"><%= contact.email %></div>
                  <%= link_to "send message", "#" %>
                </div>
              </div>
            </li>
          <% end %>
        </ul>
        <%= link_to 'Add an Employee', "#", :class => "small round red button" %>					
      </div>
    </div>
    <div class="four columns">
      <div class="graybox">
        <h4>Accounts</h4>
        <div class="row">
          <ul class="block-grid two-up">
            <% demo_account_logos(7).each do |demo_logo| %>
              <li>
                <div>
                  <%= image_tag demo_logo %>
                </div>
              </li>
            <% end %>
            <li>
              <div style="border-radius:10px;height:66px;margin-right:5px;border:2px dashed"></div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <a class="close-reveal-modal">&#215;</a>
</div>
