<% if @agency.errors.empty? %>
  var $newItem = $('<%= escape_javascript(render :partial => 'tools/item', :locals => { :item => @agency.locations.first, :type => 'agency'})%>');
  $('table#profile_list tbody').append($newItem);
  Marketplace.data_items.push(<%= @agency.locations.first.to_json(:only => :id, :methods => %w(fullname discover_location discover_type)).html_safe %>);
  $("table#profile_list").tablesorter({ sortList: [[0,0]] });
  serch_profile($('input#discover-search').val());
  $('#bootstrap_modal').modal('hide');
<% else %>
  $("#agency_form").html("<%= escape_javascript(render :partial =>'form')%>");
<% end %>
