<ul class="breadcrumb">
  <li>
    <%= link_to t(".build_marketplace"), tools_path %>
    <span class="divider">/</span>
  </li>
  <%- if @company %>
    <li>
      <%= link_to @company.name, tool_path(@company) %>
      <span class="divider">/</span>
    </li>
  <% end %>
  <li class="active"><%= t(".view_all_agencies") %></li>
</ul>

<div class="row-fluid">
  <div class="span12 agency_search_form">
    <form class="well form-search" action="<%= agencies_path %>">
      <input type="search" class="input-medium search-query" value="<%= params[:search] %>" results="0" name="search" placeholder="<%= t('.type_your_search_here') %>">
      <button type="submit" class="btn"><%= t("search") %></button>
      <%= hidden_field_tag :company, @company.id if @company %>
      <%= hidden_field_tag :order, params[:order] %>
      <%= link_to t(".add_agency"), new_agency_path, :remote => true, :class => "btn btn-info right" %>
    </form>
  </div>
</div>

<div class="row-fluid">
  <div class="span12 agency_table">
    <h4><%= t(".all_agencies") %></h4>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th class="user_column">
            <%= link_to "#{t(".user")} #{params[:order] == 'ASC' ? '&#x25be' : '&#x25b4' }".html_safe, agencies_path(:company => params[:company], :search => params[:search], :order => params[:order] == "ASC" ? "DESC" : "ASC") %>
          </th>
          <th class="information_column"><%= t(".information") %></th>
          <th class="similar_column"><%= t(".similar_profiles") %></th>
          <th><%= t(".options") %></th>
        </tr>
      </thead>
      <tbody>
        <%- @agencies.each do |agency| %>
          <tr>
            <td>
              <%= image_tag agency.logo, :alt => agency.logo, :class => "user_logo span3" %>
              <p class="user_name span9">
                <%= agency.name %>
              </p>
            </td>
            <td>
              <%- agency.locations.each do |location| %>
                <p><%= location.short_address %></p>
              <% end %>
            </td>
            <td></td>
            <td class="last_column">
              <%= link_to t(".view_profile"), tool_path(agency), :class => "btn" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
