<div class="row">
	<div class="seven columns">
		<h2>Agency: <%= @agency.name %></h2>
		<%= link_to 'Edit', '#' %>
		<p>
			Cras placerat nunc vel metus scelerisque quis fringilla sem sagittis. Nunc lobortis volutpat augue, in porta enim sollicitudin non. Nulla in magna ligula. Suspendisse facilisis lacus a urna consectetur aliquet. Sed ut euismod mi. Nunc at felis nibh, a pellentesque felis. Sed a nisi ante. Duis convallis fringilla ante non hendrerit. Fusce elementum dolor at elit sollicitudin ultricies. Nam sit amet nisl nibh, in convallis metus. Phasellus imperdiet ante non magna dignissim cursus.
		</p>
			
	</div>
	<div class="five columns">
		<h2>Accounts</h2>
	</div>
</div>