<% present item do |connection| %>
  <tr id="<%= connection.user.discover_type %>_profile_<%= connection.user.id %>" style="<%= connection.visibility %>">
    <td class="user">
      <div class="row-fluid">
        <div class="span3">
          <%= link_to image_tag(connection.user.logo, :size => "100x100", :alt => connection.user.logo, :class => "discover_icon"), profile_link(connection.user) %>
        </div>
        <div class="span9">
          <span class="<%= connection.user.discover_type %>" id="connection-<%= connection.id %>-block-user">
            <%= link_to connection.user_short_name, profile_link(connection.user) %>
            <%= connection.block_button %>
          </span>
          <p><%= connection.user.title %></p>
          <p class="<%= status_class_color(connection.user.online_status) %>">
            <%= connection.user_type %>
          </p>
          <p class="<%= status_class_color(connection.user.online_status) %>">
            <%= connection.user.online_status %>
          </p>
        </div>
      </div>
    </td>
    <td class="location">
      <div class="row-separator">
        <%= connection.created %>
      </div>
    </td>
    <td class="options" id="connection-<%= connection.id %>">
      <%= connection.render_buttons %>
    </td>
  </tr>
<% end %>
