<%= render :partial => 'shared/inbox_tabs' %>
<div class="tab-content inbox_tab_content">
  <div class="mod-requests tab-pane active">

    <div class="mod-filter">
      <div class="row-fluid">
        <div class="span12">
          <%= link_to "#", :class => "btn btn-primary incoming", :data => {:value => "incoming"} do %>
            <span><%= t('.incoming_requests') %></span>
          <% end %>
          <%= link_to "#", :class => "btn btn-primary outgoing", :data => {:value => "outgoing"} do %>
            <span><%= t('.outgoing_requests') %></span>
          <% end %>
          <%= hidden_field_tag :"requests-type", "incoming" %>
        </div>
      </div>
      <div class="row-fluid">
        <div class="span7">
          <input type="text" placeholder="<%= t(".search_placeholder")%>" id="request-search" class="input-text">
        </div>
        <div class="span3">
          <div id="request-user-sorted" class="btn-group">
            <button class="btn dropdown-toggle-search" data-toggle="dropdown" href="#">
              <div class="current-value" data-value=""><%= t('.from_new_to_old') %></div>
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li>
                <%= link_to t('.from_new_to_old'), "#", :data => {:value => "from_new_to_old"} %>
              </li>
              <li>
                <%= link_to t('.from_old_to_new'), "#", :data => {:value => "from_old_to_new"} %>
              </li>
            </ul>
          </div>
        </div>
        <div class="span2">
          <div id="request-user-type" class="btn-group">
            <button class="btn dropdown-toggle-search" data-toggle="dropdown" href="#">
              <div class="current-value" data-value=""><%= t('.all') %></div>
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li>
                <%= link_to t('.all'), "", :data => {:value => ""} %>
              </li>
              <% user_roles.each do |role| %>
                <li>
                  <%= link_to role.name.capitalize, "", :data => {:value => role.name} %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="mod-connections">
      <table id="requests" class="table">
        <thead>
          <tr>
            <th class="head" colspan="3">&nbsp;</th>
          </tr>
          <tr>
            <th class="user_list">
              <span><%= t('.user') %></span>
            </th>
            <th>&nbsp;</th>
            <th class="options_list">
              <span><%= t('.options') %></span>
            </th>
          </tr>
        </thead>
        <tbody class="section-connections">
          <%= render :partial => "item", :collection => @requests %>
        </tbody>
      </table>
    </div>

  </div>
</div>

<script type='text/javascript'>
  Requests = function(){}
  Requests.data_items = <%= @data_for_autocomplete.html_safe %>;
</script>
