<% if @authorizations.length > 0 %>
  <ul class="social_networks">
    <% @authorizations.each do |authorization| %>
      <li><%= link_to image_tag("social_icons/#{authorization.provider}-strong-square.png", :size => "25x25"), authorization.profile_url, :target => "_blank" %></li>
    <% end %>
  </ul>
<% end %>
