<div class="span12 margin-padding" style="background-color:<%= cycle("white", "#f4f2f2", :name => "first_cycler") -%>">
  <div class="row-fluid">
    <div class="span9">
      <div class="row-fluid">
        <div class="span2">
          <div class="span2 left"></div>
          <div class="span10">
            <%= image_tag (disabled ? badge.icon_disabled.url : badge.icon.url), :size => "85x85" %>
          </div>
        </div>
        <div class="span10">
          <div class="row-fluid">
            <div class="span12 name"><%= badge.name %></div>
          </div>
          <div class="row-fluid">
            <div class="span12 description"><%= badge.description %></div>
          </div>
          <div class="row-fluid">
            <div class="span3 name_activity min-height-none">
              <%= link_to t("user_profiles.profile_achievements.user_activity", :user_name => @user_profile.user.first_name), user_profile_path(@user_profile) %>
            </div>
            <div class="span5 min-height-none">
              <div class="progress progress-striped">
                <div class="bar <%= cycle("red_color_bar", "blue_color_bar", "grey_color_bar", "violet_color_bar", :name => "second_cycler") -%>" style="width: 75%;"></div>
              </div>
            </div>
            <div class="span4 left"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="span3 left"></div>
  </div>
</div>
