<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">×</button>
  <h3><%= t('.edit_profile_information') %></h3>
</div>
<%= form_for(@user_profile, :html => { :remote => true}, :url => update_base_info_user_profile_path(@user_profile), :builder => StandartBuilder) do |f| %>
  <div class="modal-body user_profile_popup">
    <div class="row-fluid">
      <div class="span12">
        <%= f.error_messages %>
        <div class="row-fluid">
          <div class="span3 label_info">
            <%= t('.position') %>:
          </div>
          <div class="span8">
            <%= f.text_field :title, :class => "input-text" %>
          </div>
        </div>
        <div class="row-fluid">
          <div class="span3 label_info">
            <%= t('.company') %>:
          </div>
          <div class="span8">
            <div class="btn-group">
              <%= f.hidden_field :company_id %>
              <button class="btn dropdown" data-toggle="dropdown" href="#">
                <div class="current-value" data-value=""><%= @user_profile.company_name %></div>
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu with_scroll">
                <li>
                  <%= link_to "", "", :data => {:value => ""} %>
                </li>
                <% @companies.each do |value, key| %>
                  <li>
                    <%= link_to value, "", :data => {:value => key} %>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
        <%= f.fields_for :address do |address_form| %>
          <div class="row-fluid">
            <div class="span3 label_info">
              <%= t('.city') %>:
            </div>
            <div class="span8">
              <%= address_form.text_field :city, :class => "input-text" %>
            </div>
          </div>
          <div class="row-fluid">
            <div class="span3 label_info">
              <%= t('.state') %>:
            </div>
            <div class="span8">
              <div class="btn-group">
                <%= address_form.hidden_field :state_abbrev %>
                <button class="btn dropdown" data-toggle="dropdown" href="#">
                  <div class="current-value" data-value=""><%= address_form.object.state_abbrev %></div>
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu with_scroll">
                  <li>
                    <%= link_to "", "", :data => {:value => ""} %>
                  </li>
                  <% State::NAMES.each do |value, key| %>
                    <li>
                      <%= link_to value, "", :data => {:value => key} %>
                    </li>
                  <% end %>
                </ul>
              </div>
            </div>
          </div>
        <% end %>
        <div class="row-fluid">
          <div class="span3 label_info">
            <%= t('.about_me') %>:
          </div>
          <div class="span8">
            <%= f.text_area :description %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <%= f.submit t('save').upcase, :class => "button violet" %>
    <%= link_to t('cancel').upcase, "", :class => "button", :"data-dismiss"=>"modal" %>
  </div>
<% end %>
