<div class="edit_photo_buttons">
  <span class="button violet fileinput-button">
    <%= t(".upload_photo") %>
    <%= file_field_tag "user_profile[avatar]", "data-url" => update_photo_user_profile_path(presenter.user_profile) %>
  </span>
  <%= link_to t(".remove"), update_photo_user_profile_path(presenter.user_profile), :class => "button", :id => "remove_profile_avatar" %>
</div>
