<table id="experience-<%= experience.id %>" class="one_experience">
  <tr>
    <td class="date_range">
      <table>
        <tr class="end_date">
          <td>
            <div class="month">
              <%= experience.end_month %>
            </div>
            <div class="year">
              <%= experience.end_year %>
            </div>
          </td>
        </tr>
        <tr class="start_date">
          <td>
            <div class="month bottom_postion">
              <%= experience.start_date.localized_month if experience.start_date %>
            </div>
            <div class="year bottom_postion">
              <%= experience.start_date.year if experience.start_date %>
            </div>
          </td>
        </tr>
      </table>
    </td>
    <td class="info <%= 'active-mode' if current_user == @user_profile.user %>">
      <div class="content">
        <div class="main-info">
          <div class="company_logo">
            <% if experience.company %>
              <%= link_to(image_tag(experience.company.linkedin_logo, :size => "60x60"), tool_path(experience.company)) %>
            <% else %>
              <%= image_tag experience.company_logo_url, :size => "60x60" %>
            <% end %>
          </div>
          <div class="position">
            <%= experience.position %>
          </div>
          <div class="company">
            <% if experience.company %>
              <%= link_to experience.company.name, tool_path(experience.company) %>
            <% else %>
              <%= experience.company_name %>
            <% end %>
          </div>
          <div class="company_title">
            <%= experience.company_title %>
          </div>
        </div>
        <div class="period">
          <%= period_and_location(experience) %>
        </div>
        <div class="description">
          <%= experience.description.replace_new_line_with_br if experience.description %>
        </div>
        <% if current_user == @user_profile.user %>
          <div class="action_buttons">
            <%= link_to "", edit_experience_path(experience), :class => "icon-pencil", :remote => true %>
            <%= link_to "", experience_path(experience), :class => "icon-remove", :remote => true, :method => "DELETE" %>
          </div>
        <% end %>
      </div>
    </td>
  </tr>
</table>
