<div id="profile_experience" class="tab-pane active">
  <%= link_to t('.add_experience'), new_experience_path, :class => "button violet add_experience", :remote => true if current_user == @user_profile.user %>
  <div style="clear: both;"></div>
  <div class="with_scroll">
    <% if @user_profile.experiences.present? %>
      <%= render :partial => "experience", :collection => @user_profile.experiences %>
    <% else %>
      <div class="no_items">
        <%= t('no_items') %>
      </div>
    <% end %>
  </div>
</div>
