<div id="profile_achievements" class="tab-pane">
  <div class="row-fluid">
    <div class="span12">
      <div class="switcher">
        <%= link_to t('all'), "#", :class => "active", "data-id" => "all_achievements" %> |
        <%= link_to t('.activity'), "#", "data-id" => "activity_achievements" %>
      </div>
    </div>
  </div>
  <div class="achivement_content with_scroll">
    <div class="row-fluid">
      <div class="span12">
        <div id="all_achievements" class="row-fluid" >
          <%= render :partial => 'badge', :collection => @user_profile.user.badges, :locals => {:disabled => false} %>
          <%= render :partial => 'badge', :collection => @unearned_badges, :locals => {:disabled => true} %>
          <%= render :partial => 'badge', :collection => @activity_badges, :locals => {:disabled => true} %>
        </div>
        <div id="activity_achievements" class="row-fluid" style="display:none">
          <%= render :partial => 'badge', :collection => @activity_badges, :locals => {:disabled => true} %>
        </div>
      </div>
    </div>
  </div>
</div>
