<div id="profile_connections" class="tab-pane">
  <div class="switcher">
    <%= link_to t('.all'), "#", :class => "active", "data-role" => "all" %> |
    <%= link_to t('.seller'), "#", "data-role" => Role::SELLER %> |
    <%= link_to t('.publisher'), "#", "data-role" => Role::PUBLISHER %>
  </div>
  <%= render :partial => 'shared/tab_cards', :object => @my_friends.map(&:user_profile) %>
</div>
