<div class="clearfix popup-profile">
	<div class="left" style="margin-right:10px">
		<%= image_tag @user_profile.avatar.thumb.url, :size => "48x48" %>
	</div>
	<div class="left">
		<h2><%= @user_profile.fullname %></h2>
		<p style="font-style:italic"><%= @user_profile.title %></p>
		<p style="font-size:11px"><%= @user_profile.location %></p>
	</div>
</div>
