<%= render :partial => "update_module" if @user_profile.user == current_user %>
<div class="profile_main_content">
  <%= render :partial => "shared/view_profile", :locals => { :object => @user_profile } %>
  <div class="row-fluid tabs">
    <div class="span12">
      <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#profile_experience"><%= t('.experience') %></a></li>
        <li><a data-toggle="tab" href="#profile_connections"><%= t('.connections') %></a></li>
      </ul>
      <div class="tab-content">
        <%= render :partial => "profile_experience" %>
        <%= render :partial => "profile_connections" %>
        <%#= render :partial => "profile_achievements" %>
      </div>
    </div>
  </div>
</div>
