$("#bootstrap_modal").modal('hide');
$("#base_profile_info").html("<%= escape_javascript(render :partial => 'shared/base_profile_info', :locals => {:presenter => generate_presenter(@user_profile)})%>");
