<div id="contact-detail">
	<div class="row">
		<div class="eight columns">
			<%= render 'form' %>
		</div>
		<div class="four columns">
			<div class="graybox">
				<h4><%= @contact.first_name %>'s Accounts</h4>
				<div class="row">
					<ul class="block-grid two-up">
						<% demo_account_logos(7).each do |demo_logo| %>
							<li>
								<div>
									<%= image_tag demo_logo %>
								</div>
							</li>
						<% end %>
						<li>
							<div style="border-radius:10px;height:66px;margin-right:5px;border:2px dashed"></div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<a class="close-reveal-modal">&#215;</a>
</div>
