<%= form_for(@contact, :html => { :class => :nice }) do |f| %>

	<div class="row">
		<div class="three columns">
			<%= f.label :first_name %>
		</div>
		<div class="nine columns">
			<%= f.email_field :first_name, :class => "input-text" %>
		</div>
	</div>
	<div class="row">
		<div class="three columns">
			<%= f.label :last_name %>
		</div>
		<div class="nine columns">
			<%= f.email_field :last_name, :class => "input-text" %>
		</div>
	</div>
	<div class="row">
		<div class="three columns">
			<%= f.label :title %>
		</div>
		<div class="nine columns">
			<%= f.email_field :title, :class => "input-text" %>
		</div>
	</div>
	<div class="row">
		<div class="three columns">
			<%= f.label :email %>
		</div>
		<div class="nine columns">
			<%= f.email_field :email, :class => "input-text" %>
		</div>
	</div>
	<div class="row">
		<div class="three columns">
			<%= f.label :company_name, "Company" %>
		</div>
		<div class="nine columns">
			<%= f.text_field :company_name, :class => "input-text" %>
		</div>
	</div>
	<div class="row">
		<div class="three columns"></div>
		<div class="nine columns">
			<%= submit_tag "Save", :class => "small round red button" %>
			<%= link_to 'Cancel', @contact, :remote => true, :class => "small round red button" %>
		</div>
	</div>
	
<% end %>
