<div id="contact-detail">
	<div class="row">
		<div class="eight columns">
			<div class="row">
				<div class="ten columns">
					<div class="row">
						<div class="two columns">
							<%= image_tag(@contact.user.user_profile.avatar.thumb.url) if @contact.user %>
						</div>
						<div class="ten columns" style="padding-top:10px">
							<h2><%= @contact.fullname %></h2>
						</div>
					</div>
				</div>
				<div class="two columns text-right">
					<%= link_to 'Edit', edit_contact_path(@contact), :class => "small round red button", :remote => true %>					
				</div>
			</div>
			<div class="row">
				<br>
				<p>
					Title: <%= @contact.title %><br>
					Phone: <%= number_to_phone(@contact.office_phone, :delimiter => ".") %><br>
					Email: <%= @contact.email %><br>
				</p>
				<p>
					Company: <%= @company_name %>
				</p>
				<p>
					Is this you?
				</p>
				<p>
					<%= link_to "Link to your account", "#", :class => "small round red button" %>
				</p>
				<p>
					<%= link_to "Flag as a duplicate record", "#", :class => "small round red button" %>
				</p>
			</div>
		</div>
		<div class="four columns">
			<div class="graybox">
				<h4><%= @contact.first_name %>'s Accounts</h4>
				<div class="row">
					<ul class="block-grid two-up">
						<% demo_account_logos(7).each do |demo_logo| %>
							<li>
								<div>
									<%= image_tag demo_logo %>
								</div>
							</li>
						<% end %>
						<li>
							<div style="border-radius:10px;height:66px;margin-right:5px;border:2px dashed"></div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<a class="close-reveal-modal">&#215;</a>
</div>