$(document).scrollTop(0);
$("#bootstrap_modal").html("<%= j(render('edit')) %>").modal();
// Autocomplete for demo
$("#contact_company_name").click(function() {
  $("#contact_company_name").val('');
});
$("#contact_company_name").autocomplete({
	source: ['Razorfish']
});
