<div id="friend_<%= @friend.id %>" class="row-fluid friend_preview" data-message-url="<%= add_chat_message_conversations_url %>" data-friend-id="<%= @friend.id %>">
  <div class="row-fluid header_part">
    <div class="span2 friend_logo">
      <%= link_to image_tag(@friend.user_profile.avatar.thumb.url, :size => "40x40", :class => "friend_avatar" ), user_profile_path(@friend.user_profile) %>
    </div>
    <div class="span10 friend_info">
      <div class="<%= status_class(@friend.online_status) %> status_icon"></div>
      <h4><%= link_to @friend.fullname.truncate(19), user_profile_path(@friend.user_profile) %></h4>
      <p class="last_seen">
        <%= last_seen(@friend) %>
      </p>
      <%- if @friend.last_post_status %>
        <div class="comment_footer">
          <div class="actions">
            <%= link_to "", post_likes_path(@friend.last_post_status), :class => "like_action", :method => :post, :remote => true  %>
            <%= link_to "", post_path(@friend.last_post_status), :class => "comment_action" %>
            <%= link_to "", "#", :class => "share_action" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <%- if @friend.last_post_status %>
    <div class="row-fluid likes_part" data-event="event_popup_<%= @friend.last_status_event_id %>">
      <span class="like_icon"></span>
      <span class="like_count_value"><%= @friend.last_status_likes_size %></span>
      <%= t("layouts.my_marketplace.people_liked_it") %>
    </div>
  <% end %>
  <div class="row-fluid messages_part">
    <div class="span2">
      <%= image_tag current_user.user_profile.avatar.thumb.url, :size => '40x40', :class => 'user-avatar' %>
    </div>
    <div class="span10">
      <%= text_area_tag :message, '', :placeholder => t('.type_message_here') %>
    </div>
    <%= link_to t('.show_messages_history'), chat_history_conversations_path(:friend_id => @friend.id), :remote => true, :class => "chat_history" %>
  </div>
</div>
