<div id="friend_chat_<%= friend.id %>" class="friend_chat" data-message-url="<%= add_chat_message_conversations_url %>" data-friend-id="<%= friend.id %>">
  <div class="row-fluid operate_part">
    <div class="friend_name"><%= friend.fullname.truncate(25) %></div>
    <div class='unread-msg' data-unread='0'>0</div>
    <div class="close-chat"></div>
    <div class="to-window"></div>
    <div class="minimize-chat"></div>
  </div>
  <div class="row-fluid header_part">
    <div class="span2 friend_logo">
      <%= link_to image_tag(friend.user_profile.avatar.thumb.url, :size => "40x40", :class => "friend_avatar" ), user_profile_path(friend.user_profile) %>
    </div>
    <div class="span10 friend_info">
      <p class="friend_name">
        <%= friend.fullname.truncate(25) %>
      </p>
      <div class="<%= friend.online_status %> friend_status"></div>
      <p class="last_seen">
        <%= last_seen(friend) %>
      </p>
    </div>
  </div>
  <div class="conversations_part">
  </div>
  <div class="messages_part">
    <%= text_area_tag :chat_message, '', :placeholder => t('.type_message_here') %>
    <%= link_to t('.show_messages_history'), chat_history_conversations_path(:friend_id => friend.id), :remote => true %>
  </div>
</div>
