<div class="friends_popup">
  <%- user.friends_for_seven_days_without_last.each do |friend| %>
    <div class="row-fluid friend">
      <div class="span2 friend_logo">
        <%= image_tag(friend.friend.user_profile.avatar.thumb.url, :size => "40x40") %>
      </div>
      <div class="span8 friend_info">
        <h4><%= friend.friend.fullname.truncate(20) %></h4>
        <%= friend.friend.user_profile.title.truncate(20) rescue nil %>
      </div>
    </div>
  <% end %>
</div>
