<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">×</button>
  <h3><%= @experience.new_record? ? t('.add_new_experience') : t('.edit_your_experience') %></h3>
</div>
<%= form_for(@experience, :html => {:remote => true, :id => "experience_form"}, :builder => StandartBuilder) do |f| %>
  <div class="modal-body experience_popup">
    <div class="row-fluid">
      <div class="span12">
        <%= f.error_messages %>
        <div class="row-fluid">
          <div class="span2 label_info">
            <table>
              <tr>
                <td><%= t('.company') %>:</td>
              </tr>
            </table>
          </div>
          <div class="span8 company_name">
            <div class="btn-group">
              <%= f.hidden_field :company_id %>
              <button class="btn dropdown" data-toggle="dropdown" href="#">
                <div class="current-value" data-value=""><%= @experience.company ? @experience.company.name : '' %></div>
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu with_scroll">
                <li>
                  <%= link_to "", "", :data => {:value => ""} %>
                </li>
                <% @companies.each do |value, key| %>
                  <li>
                    <%= link_to value, "", :data => {:value => key} %>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
        <div class="row-fluid">
          <div class="span2 label_info">
            <table>
              <tr>
                <td><%= t('.company_information') %>:</td>
              </tr>
            </table>
          </div>
          <div class="span8">
            <%= f.text_field :company_title, :class => "input-text" %>
          </div>
        </div>
        <div class="row-fluid">
          <div class="span2 label_info">
            <table>
              <tr>
                <td><%= t('.position') %>:</td>
              </tr>
            </table>
          </div>
          <div class="span8">
            <%= f.text_field :position, :class => "input-text" %>
          </div>
        </div>
        <div class="row-fluid current-experience">
          <div class="span2 label_info"></div>
          <div class="span8">
            <%= f.check_box :current %>
            <%= f.label :current, t('.i_currently_work_here') %>
          </div>
        </div>
        <div class="row-fluid">
          <div class="span2 label_info">
            <table>
              <tr>
                <td><%= t('.time_period') %>:</td>
              </tr>
            </table>
          </div>
          <div class="span3 date">
            <div class="input-append date date-picker" data-date-format="dd/mm/yyyy">
              <%= f.text_field :start_date, :class => "input-text", :value => (@experience.start_date.strftime("%d/%m/%Y") if @experience.start_date) %>
              <span class="add-on"><i class="icon-th"></i></span>
            </div>
          </div>
          <div class="dash">_</div>
          <div class="span3 date">
            <div class="input-append date date-picker" data-date-format="dd/mm/yyyy">
              <%= f.text_field :end_date, :class => "input-text", :value => (@experience.end_date.strftime("%d/%m/%Y") if @experience.end_date) %>
              <span class="add-on"><i class="icon-th"></i></span>
            </div>
          </div>
        </div>
        <div class="row-fluid">
          <div class="span2 label_info">
            <table>
              <tr>
                <td><%= t('.description') %>:</td>
              </tr>
            </table>
          </div>
          <div class="span8">
            <%= f.text_area :description %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <%= f.submit(@experience.new_record? ? t('add').upcase : t('save').upcase, :class => "button violet") %>
    <%= link_to t('cancel').upcase, "", :class => "button", :data => {:dismiss => "modal"} %>
  </div>
<% end %>
