$("#bootstrap_modal").modal('hide');
$("#experience-<%= @experience.id %>").replaceWith("<%= escape_javascript(render :partial => 'user_profiles/experience', :locals => {:experience => @experience})%>");
