<div id="widget" class="span3">
  <div class="accordion" id="news_widget">
    <%= render :partial => "layouts/news", :locals => {:news => @news} %>
  </div>
  <div class="accordion-group" id="my_marketplace_widget">
    <%= render :partial => "layouts/my_marketplace" %>
  </div>
</div>
<script type="text/javascript">
   news_slider("<%= slide_elements_path %>");
</script>
