$("div[data-id=confirmation]").modal("hide");
var $container = $("#market-stream .accordion-inner");
$("#market-stream tr[data-from-user=<%= params[:user_id] %>]").remove();
$container.find("table").prepend("<%= j(render :partial => "layouts/market_ticker/undo_hide", :locals => {:user => @actor}) %>");
$(".qtip.top_tooltip").hide();
set_activity_table_height($container);
