$("#undo_hide_for_user_<%= params[:user_id] %>").remove();
var $container = $("#market-stream .accordion-inner");
$container.find("table").prepend("<%= escape_javascript(render_activity_items) %>");
set_activity_table_height($container);
