<%= form_for(@address, :html => { :class => :nice, :remote => true }) do |f| %>

	<% if @address.errors.any? %>
	  <div id="error_explanation">
	    <h2><%= pluralize(@address.errors.count, "error") %> prohibited this address from being saved:</h2>

	    <ul>
	    <% @address.errors.full_messages.each do |msg| %>
	      <li><%= msg %></li>
	    <% end %>
	    </ul>
	  </div>
	<% end %>

	<br>

	<div class="row">
		<div class="two columns" style="padding-top:5px">
			Street
		</div>
		<div class="ten columns">
			<%= f.text_field :street, :class => "input-text" %>
		</div>
	</div>
	
	<div class="row">
		<div class="two column" style="padding-top:5px">
			Street 2
		</div>
		<div class="ten columns">
			<%= f.text_field :street2, :class => "input-text" %>
		</div>
	</div>
	
	<div class="row">
		<div class="two column" style="padding-top:5px">
			City
		</div>
		<div class="ten columns">
			<%= f.text_field :city, :class => "input-text" %>
		</div>
	</div>
	
	<div class="row">
		<div class="two column" style="padding-top:5px">
			State
		</div>
		<div class="ten columns">
			<%= f.select( :state_abbrev, [[ "Select a State", "" ]] + State::NAMES) %>
		</div>
	</div>
	
	<div class="row">
		<div class="two column" style="padding-top:5px">
			ZIP Code
		</div>
		<div class="ten columns">
			<%= f.text_field :postal_code, :class => "input-text" %>
		</div>
	</div>
	
	<br>
	
  <div class="actions">
		<%= submit_tag "Save", :class => "small round red button" %>
		<%= link_to 'Cancel', user_profile_path(current_user.user_profile), :class => "small round red button" %>
  </div>
<% end %>
