<% results.each do |result|%>
  <tr class=<%= "found-companies" %>>
    <td>
      <%= link_to (image_tag(result.logo.thumb.url, :width => 48, :height => 48)), tool_path(result) %>
      <div class='connection-details'>
        <div class='author'>
          <%= link_to result.name, tool_path(result) %>
        </div>
        <div class='divider'></div>
        <div class='description'><%= result.description %></div>
      </div>
    </td>
    <td>
      <%= link_to t(".view_profile"), tool_path(result), :class => "btn btn-small" %>
    </td>
  </tr>
<% end %>
