<% results.each do |result|%>
  <tr class=<%= "found-people" %>>
    <td>
      <%= link_to (image_tag(result.user_profile_avatar, :width => 48, :height => 48)), user_profile_path(result.user_profile) %>
      <div class='connection-details'>
        <div class='author'>
          <%= link_to result.fullname, user_profile_path(result.user_profile) %>
          <span class='user-role <%= result.user_type %>'><%= result.humanable_role %></span>
        </div>
        <div class='status'><%= result.online_status %></div>
        <div class='description'><%= result.user_profile_title %></div>
      </div>
    </td>
    <td>
      <%= render_view_profile(result) %>
      <%= request_connection_link(result) %>
    </td>
  </tr>
<% end %>
