<% results.each do |result|%>
  <tr class=<%= "found-posts" %>>
    <td>
      <%= link_to (image_tag(result.user_profile_avatar, :width => 48, :height => 48)), user_profile_path(result.user_profile) %>
      <div class='connection-details'>
        <div class='author'>
          <%= link_to result.user_fullname, user_profile_path(result.user_profile) %>
          <span class='user-role <%= result.user.user_type %>'><%= result.user.humanable_role %><span>
        </div>
        <div class='status'><%= result.online_status %></div>
        <div class='description'><%= result.title %></div>
      </div>
    </td>
    <td>
      <%= link_to t("view"), post_path(result), :class => "btn btn-small" %>
    </td>
  </tr>
<% end %>
