<% if @search.found? %>
  <table>
    <% search_results.each do |key, value| %>
      <% unless key == :search_text || value.empty? %>
        <%= render :partial => key.to_s, :locals => { :results => value, :type => key } %>
      <% end %>  
    <% end %>  
  </table>
<% else %>
  <p><%= "#{ t('.no_results') } #{search_results[:search_text]}" %></p>
<% end %>
