<%= form_tag searches_path, :method => :get, :id => 'inline-search', :autocomplete => 'off' do %>
  <%= select_tag :filter, options_for_select(Constants::Search::FILTER, check_filter_params), :class => 'hidden' %>
  <div id="select-search-type" class="btn-group">
    <button class="btn dropdown-toggle-search all-rounded" data-toggle="dropdown" href="#">
      <div class="current-value"><%= check_filter_params %></div>
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <%= render_search_filter_options %>
    </ul>
  </div>
  <%= text_field_tag :search, params[:search], :class => "search-query span2",
    :placeholder => "#{ t('.type_your_search_here') }",
    :onkeypress => 'javascript:Search.submit_form(event)',
    :data => {:autocomplete_source => autocomplete_searches_path} %>
<% end %>
