<div class="row-fluid">
  <div class="span6">
    <div class='search-header'>
      <% if @search_results %>
        <h3>
          <%= image_tag "icons/search-bg.png", :class => "search-glass" %>
          <%= t('.search_results') %>
        </h3>
        <%= results_for(@search_results[:search_text]) %>
      <% end %>
    </div>
  </div>
  <div class="span6">
    <div class='inline-search-form pull-right'>
      <%= render :partial => "search_form_with_filter" %>
    </div>
  </div>
</div>

<div class='search-results'>
  <% if @search_results %>
    <%= render :partial => "results_table", :locals => { :search_results => @search_results } %>
  <% else %>
    <p><%= t('.empty_query') %></p>
  <% end %>
</div>
