<% present @issue do |presenter| -%>
  <h3 class="suggestion-header">
    <%= presenter.modal_title %>
    <%= image_tag 'logo-small.png' %>
  </h3>
  <%= form_for @issue, :as => 'jira_issue', :remote => true do |f| %>
    <div class="modal-body">
      <div class="user-info">
        <div class="user-logo">
          <%= image_tag(current_user.avatar.thumb.url, :size => "48x48", :class => "friend_avatar" ) %>
        </div>
        <h4><%= current_user.fullname %></h4>
        <p><%= current_user.email %></p>
      </div>
      <%= presenter.tip %>
      <%= presenter.subject %>
      <%= f.label :description, t('.message') %>
      <%= f.text_area :description %>
      <%= f.hidden_field :type %>
    </div>
    <div class="modal-footer">
      <%= submit_tag t('submit'), :class => 'button violet' %>
      <%= link_to t('cancel'), '', :class => 'button', :data => { :dismiss => 'modal' } %>
    </div>
  <% end %>
<% end -%>