<div class="row-fluid">
  <div class="span1">
    <%= link_to((image_tag @user_profile.avatar.url, :size => "85x85"), user_profile_path(current_user.user_profile), :id => "profile_url") %>
  </div>
  <div class="span11 border-container">
    <%= form_for @post, :html => { :class => "status_update nice", :onsubmit => "return Mentions.submitPostForm();" }, :remote => true do |f| %>
      <div class="row-fluid">
        <div class="span12">
          <%= f.text_field :title, :id => 'auto-title', :autocomplete => 'off', :placeholder => t(".enter_your_status"), :data => { :names => @autocomplete[:friend_summaries] } %>
        </div>
      </div>
      <div class="row-fluid background-color">
        <div class="span7">
          <%= link_to t('.status'), "#", :id => "update-status", :class => "btn btn-primary active" %>
          <%= link_to t('.question'), "#", :id => "ask-question", :class => "btn btn-primary not-active" %>
        </div>
        <div class="span3">
          <div id="post_visibility_input" class="btn-group">
            <%= f.hidden_field :visibility %>
            <button class="btn dropdown-toggle" data-toggle="dropdown" href="#">
              <div class="current-value"><%= TimelineEvent::VISIBILITIES.first.titleize %></div>
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <% TimelineEvent::VISIBILITIES.each do |v| %>
                <li>
                  <%= link_to v.titleize, "", :data => { :value => v }, :class => "#{v}-visibility" %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
        <div class="span2">
          <%= hidden_field_tag :mentioned_users_ids %>
          <%= f.hidden_field :post_type, :value => t("status") %>
          <%= f.submit t(".update"), :class => 'btn btn-primary', :id => "update-post-status" %>
        </div>
      </div>
    <% end %>
  </div>
  <div id="update_module_loader"></div>
</div>
