<div class="whitebox">
	<div class="activity-time-ago question-time-ago"><%= time_ago_in_words(question.created_at) %> ago</div>
	<div class="row question-detail">
		<div class="two columns text-center bold">
            <%= link_to image_tag(question.user.user_profile.avatar.thumb.url, :width => 48, :height => 48), user_profile_path(question.user.user_profile), :class => "user-profile-img" %>
			<%= link_to question.user.abbrev_name, user_profile_path(question.user.user_profile), class: 'user-profile' %>
		</div>
		<div class="ten columns">
			<div class="question-text">
				<h4 class="question-title"><%= question.title %></h4>
				<div><%= question.description %></div>
        <div class="row">
          <%= render partial: 'shared/url_preview', locals: { item: question } %>
        </div>
			</div>
			<div class="row">
				<div class="activity-feed-actions left">
          <% if generate_presenter(@post).like_link_is_displayable? %>
            <%= render :partial => "likes/like_button", :locals => { :likeable => @post } %> &bull;
          <% end %>
          <%= link_to t('posts.share'), shares_path(user: current_user, activity: @post), method: :post  %>
        </div>
        <div class="activity-feed-actions clearfix right">
          <%= render :partial => "likes/like_count", :locals => { :likeable => question } %>
          <span id="comments-count-<%= question.id %>" class="social-count">
            <%= raw("#{question.answers.size} #{image_tag('activity_feed/icon_commentedOFF.png')}") %>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
