<%= form_for([@post, @post.comments.build]) do |f| %>
	<div class="row">
	  <div class="container-box">
			<div class="row">
				<div class="container-box-header" class="clearfix">
					<h2 class="left">Comment</h2>
				</div>
      </div>
      <%= hidden_field_tag :commentable_id, @post.id %>
      <%= hidden_field_tag :commentable_type, :posts %>
			<div class="row">
				<div class="container-box-body">
						<div class="row">
							<div class="left">
								<%= f.text_area :comment, :id => 'add-comment', :placeholder => 'Comment on this...', :rows => 2 %>
							</div>
							<div class="right">
							</div>
						</div>
				</div>
			</div>
	  </div>
		<div class="text-right">
			<%= link_to "Cancel", "javascript:void(0)", :class => "close-reveal-modal small round gray button", :id => "close-modal-button" %>
			<%= f.submit "Save", :class => "small round red button" %>
		</div>
	</div>
<% end %>
