<% if @post.valid? %>
  $(".alert").remove();
  $("#section-body").prepend("<%= escape_javascript(flash_helper) %>");
  $("#auto-title").val("");
  var item = <%= raw @activity_item %>
  ActivityFeed.renderItem(item[0]);
  $(".timeago").timeago();
  $("#update_module_loader").removeClass("loader");
<% end %>
