<div class="row text-right" style="margin-bottom:1em">	
  <%= link_to raw("&larr; #{t('posts.back_to_home')}"), root_url %>
</div>
<div class="row">
  <div class="eight columns">
    <div class="graybox">
      <div class="whitebox">
        <%= render :partial => 'comments/comment', :locals => { :comment => @post } %>
      </div>
      <% if @post.comments.any? %>
        <div class="whitebox" id="comment-list-<%= @post.id %>">
          <% @post.comments.each do |comment| %>
            <%= render :partial => 'comments/comment', :locals => { :comment => comment } %>
            <hr class="comment-hr"/>
          <% end %>
        </div>
      <% end %>
      <%= form_for([@post, @post.comments.build]) do |f| %>
        <%= hidden_field_tag :commentable_id, @post.id %>
        <%= hidden_field_tag :commentable_type, :posts %>
        <div class="row">
          <div class="left">
            <%= f.text_area :comment, :id => 'add-comment', :placeholder => 'Comment on this...', :rows => 2 %>
          </div>
          <div class="right">
            <%= f.submit t('submit'), :class => 'small round red button', :style => 'margin-right: 1em' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="four columns">
    <div class="graybox">
      <h4><%= t('.liked_this', :users_count => pluralize(@likes.size,'User')) %></h4>
      <% if @likes.any? %>
        <div class="whitebox" id="liked-by-users">
          <ul class="block-grid five-up">
            <% @likes.each do |like| %>
              <li><%= avatar_link(like.voter) %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>
    <div class="graybox">
      <h4><%= t('.other_activities_by', :user_name_link => abbrev_name_link(@post.user)).html_safe %></h4>
      <div id="other-questions">
        <% @other_posts.each do |post| %>
          <div class="whitebox">
            <h4><%= link_to post.title, post %></h4>
            <div class="row">
              <div class="activity-feed-actions left">
                <%= link_to t('.comment'), post %>
                <% if generate_presenter(post).like_link_is_displayable? %>
                  &bull;<%= render :partial => "likes/like_button", :locals => { :likeable => post } %>
                <% end %>
              </div>
              <div class="activity-feed-actions right">
                <% if post.comments.any? %>
                  <%= link_to pluralize(post.comments.size, 'Comment'), post %> &bull;
                <% end %>
                <%= render :partial => "likes/like_count", :locals => { :likeable => post } %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
