<div class="row text-right" style="margin-bottom:1em">	
  <%= link_to raw("&larr; #{t('posts.back_to_home')}"), root_url %>
</div>
<div class="row">
  <div class="eight columns">
    <div class="graybox">
      <%= render :partial => 'question', :object => @post %>
      <% if @post.answers.any? %>
        <div class="whitebox" id="answer-list-<%= @post.id %>">
          <%= render :partial => 'answers/answer', :collection => @post.answers %>
        </div>
      <% end %>
      <%= form_for([@post, @post.answers.build]) do |f| %>
        <div class="row">
          <div class="left">
            <%= f.text_area :answer, :id => 'add-answer', :placeholder => t(".answer_this_question"), :rows => 2 %>
          </div>
          <div class="right">
            <%= f.submit t('submit'), :class => 'btn btn-primary' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="four columns">
    <div class="graybox">
      <h4><%= t('.liked_this_question', :users_count => pluralize(@likes.size,'User')) %></h4>
      <% if @likes.any? %>
        <div class="whitebox" id="liked-by-users">
          <ul class="block-grid five-up">
            <% @likes.each do |like| %>
              <li><%= avatar_link(like.voter) %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>
    <div class="graybox">
      <h4><%= t('.other_questions_by', :user_name_link => abbrev_name_link(@post.user)).html_safe %></h4>
      <div id="other-questions">
        <% @other_questions.each do |question| %>
          <div class="whitebox">
            <h4><%= link_to question.title, question %></h4>
            <div class="row">
              <div class="activity-feed-actions left">
                <%= link_to t('.answer'), question %> &bull;
                <% if generate_presenter(question).like_link_is_displayable? %>
                  <%= render :partial => "likes/like_button", :locals => { :likeable => question } %>
                <% end %>
              </div>
              <div class="activity-feed-actions right">
                <%= link_to pluralize(question.answers.size, 'Answer'), question %> &bull; 
                <%= render :partial => "likes/like_count", :locals => { :likeable => question } %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
