<%= render :layout => "signup/progress_bar_layout", :locals => { :title => t(".skills_and_expertise"), :step => t(".step4"), :progress_percentage => 66 } do %>
  <div class="span6 offset2">
    <p><%= t(".add_skill") %></p>
    <form class="well form-inline">
      <fieldset>
        <form class="well form-inline">
          <input type="text" class="input-xlarge typeahead noEnterSubmit" id="add-skill-input" placeholder="<%= t(".skills_placeholder") %>" data-skills='<%= Skill.all.map(&:name).uniq %>' data-url="<%= signup_skills_path(:id => current_user.uid) %>">
          <a class="btn btn-primary floatLeft" id="add-skill"><%= t(".add") %></a>
        </form>
      </fieldset>
    </form>
  </div>
  <div class="span6 offset2"><h2><%= t(".your_skills") %></h2></div>
  <div class="span6 offset2" id="skill-list">
    <div id='skill_template' style='display:none;'>
      <div class="alert alert-info">
        <strong></strong>
        <%= link_to '×', "#", :remote => true, :method => :delete, :class => "close", :data => { :dismiss => "alert" } %>
      </div>
    </div>
    <%- if @skills.empty? %>
      <h4 class="text-grayLight" id="no-skills-yet"><%= t(".empty_skills") %></h4>
    <% else %>
      <%- @skills.each do |skill| %>
        <div id="skill-<%= skill.id %>" class="alert alert-info">
          <strong><%= skill.name %></strong>
          <%= link_to '×', signup_skill_path(skill), :remote => true, :method => :delete, :class => "close", :data => { :dismiss => "alert" } %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="span6 offset2">
    <div class="rightFloat">
      <%= link_to t("back"), signup_experiences_path(:id => current_user.uid), :class => "btn-large btn leftFloat" %>
      <%= link_to t(".next_add_connections"), signup_beanstock_connections_path(:id => current_user.uid), :class => "btn btn-large btn-primary leftFloat" %>
    </div>
  </div>
<% end %>
