<div id="opportunity-create" style="position:relative">
	<% if params[:page] == "6" %>
		<%= image_tag "demo/#{current_user.user_type}/opp_step_#{params[:page]}.png" %>
		<%= link_to content_tag(:div,nil,:class => ""), opportunities_path(:new_opportunity => true), :class => "opportunity-publish" %>
	<% else %>
		<%= image_tag "demo/#{current_user.user_type}/opp_step_#{params[:page]}.png" %>
		<%= link_to content_tag(:div,nil,:class => ""), demo_new_opportunity_path(:page => @next_page), :remote => true, :class => "opportunity-next-step" %>
	<% end %>
</div>