<div id="opportunity-detail">
	<h2>Dictionary.com-q2-12 Video Audience extension</h2>
	<div class="row nav-buttons">
		<div class="two columns">
			<%= link_to raw("Prev #{image_tag('icon_button_prev.png')}"), demo_view_opportunity_path, :remote => true, :class => "small round red button prev_button" %>
		</div>
		<div class="eight columns text-center">
			<%= link_to "View Supplier detail", demo_view_opportunity_path, :remote => true, :class => "small round red button" %>
			<%= link_to "Create RFP", demo_view_opportunity_path, :remote => true, :class => "small round red button" %>
			<%= link_to "Create Opportunity Team", demo_view_opportunity_path, :remote => true, :class => "small round red button" %>
		</div>
		<div class="two columns text-right">
			<%= link_to raw("Next #{image_tag('icon_button_next.png')}"), demo_view_opportunity_path, :remote => true, :class => "small round red button next_button" %>
		</div>
	</div>
	<div class="row">
		<div class="six columns">
			<table>
				<tbody>
					<tr>
						<td style="width:40%">Account Name:</td>
						<td class="bold">Dictionary.com</td>
					</tr>
					<tr>
						<td>Creative Types:</td>
						<td class="bold">video</td>
					</tr>
					<tr>
						<td>Notes:</td>
						<td class="bold"></td>
					</tr>
					<tr>
						<td>Close Dates:</td>
						<td class="bold">3/19/12</td>
					</tr>
					<tr>
						<td>Flight Dates:</td>
						<td class="bold">4/2/12 &ndash; 5/2/12</td>
					</tr>
					<tr>
						<td>Probability:</td>
						<td class="bold">high</td>
					</tr>
					<tr>
						<td>Budget:</td>
						<td class="bold">$10,000</td>
					</tr>
					<tr>
						<td>CPM:</td>
						<td class="bold">$.85</td>
					</tr>
					<tr>
						<td>Stage:</td>
						<td class="bold"></td>
					</tr>
					<tr>
						<td>Impressions:</td>
						<td class="bold">100,000</td>
					</tr>
				</tbody>
			</table>		
		</div>
		<div class="six columns">
			<div class="graybox">
				<h4>Message Thread</h4>
				
				<div class="feed row">
					<div class="two columns">
						<%= image_tag("demo/avatar_0.jpg") %>
					</div>
					<div class="ten columns">
						<%= link_to "Woe the Digital Sale: \"Call Me Next Year\"", "#" %><br>
						Dec 1, 2011 @ 12:47 pm
					</div>
				</div>
				
				<div class="feed row">
					<div class="two columns">
						<%= image_tag("demo/avatar_1.jpg") %>
					</div>
					<div class="ten columns">
						<%= link_to "Andrea Suggs", "#" %> posted a new opportunity for experienced Auto Sales
					</div>
				</div>
				
				<div class="feed row">
					<div class="two columns">
						<%= image_tag("demo/avatar_2.jpg") %>
					</div>
					<div class="ten columns">
						<%= link_to "Woe the Digital Sale: \"Call Me Next Year\"", "#" %><br>
						Dec 1, 2011 @ 12:47 pm
					</div>
				</div>
				
				<div class="feed row">
					<div class="two columns">
						<%= image_tag("demo/avatar_3.jpg") %>
					</div>
					<div class="ten columns">
						<%= link_to "Jackie Williams", "#" %> posted a new opportunity for experienced Auto Sales
					</div>
				</div>
				
				<h5>Comment on this Opportunity</h5>
				<form class="nice">
					<textarea></textarea>
					<%= submit_tag "Submit", :class => "small round red button" %>
				</form>
				
			</div>
		</div>
	</div>
	<a class="close-reveal-modal">&#215;</a>
</div>