<div class="nine columns">
	
	<h1 style="margin:0;line-height:1em"><%= @opportunities_label %></h1>

	<div class="row">
		<div class="left">
			<dl class="sub-nav opportunities-subnav">
			  <dd class="active"><a href="#">My <%= @opportunities_label %></a></dd>
				<% if current_user.role?('buyer') %>
					<dd><a href="#">Supplier <%= @opportunities_label %></a></dd>
				<% end %>
				<% if current_user.role?('publisher') %>
					<dd><a href="#">Seller <%= @opportunities_label %></a></dd>
				<% end %>
				<% if current_user.role?('seller') %>
					<dd><a href="#">Buyer Opportunities</a></dd>
					<dd><a href="#">Supplier <%= @opportunities_label %></a></dd>
				<% end %>
			</dl>
		</div>
		<div class="right">
			<%= link_to "Add #{current_user.role?('buyer') ? 'Request' : 'Opportunity'}", demo_new_opportunity_path(:page => 1), :class => "small round red button", :remote => true %>
		</div>
	</div>
	
	<div class="whitebox">
		<table>
			<thead>
				<tr>
					<th>Opportunity Name</th>
					<th>Dates</th>
					<th>Budget</th>
					<th>Impressions</th>
					<th>Creative Types</th>
				</tr>
			</thead>
			<tbody>
				<% if session[:new_opportunity] %>
				<tr>
					<td><%= link_to "2012 Q3 - Summer homepage Re-skin", demo_view_opportunity_path, :remote => true %></td>
					<td>7/1/12 &ndash; 8/1/12</td>
					<td>$55,000</td>
					<td><%= number_with_delimiter(2000000) %></td>
					<td>Page Pusher, Page Grabber, Background Skins</td>
				</tr>				
				<% end %>
				<% if current_user.role?('seller') || current_user.role?('publisher') %>
				<tr>
					<td width="220px"><%= link_to "Q2 - 2012 Masters", demo_view_opportunity_path, :remote => true %></td>
					<td>4/5/12 &ndash; 4/9/12</td>
					<td>$10,000</td>
					<td><%= number_with_delimiter(1000000) %></td>
					<td>Expandable 728x90, Expandable 300x250</td>			
				</tr>
				<tr>
					<td><%= link_to "Q2 - ESPN MLB Opening Weekend", demo_view_opportunity_path, :remote => true %></td>
					<td>4/6/12 &ndash; 3/8/12</td>
					<td>$10,000</td>
					<td><%= number_with_delimiter(3000000) %></td>
					<td>Expandable 728x90, Gutters, Floater</td>			
				</tr>
				<tr>
					<td><%= link_to "Q2 - JCPenny Adults 18+", demo_view_opportunity_path, :remote => true %></td>
					<td>4/13/12 &ndash; 4/20/12</td>
					<td>$10,000</td>
					<td><%= number_with_delimiter(1500000) %></td>
					<td>Brick Layer, Corner Peel</td>			
				</tr>
				<tr>
					<td><%= link_to "Q2 - Volvo S70 Launch", demo_view_opportunity_path, :remote => true %></td>
					<td>4/15/12 &ndash; 5/15/12</td>
					<td>$30,000</td>
					<td><%= number_with_delimiter(10000000) %></td>
					<td>Page Pusher, Page Grabber</td>
				</tr>
				<tr>
					<td><%= link_to "Q2 - Dunkin' Donuts Takeovers", demo_view_opportunity_path, :remote => true %></td>
					<td>4/15/12 &ndash; 6/15/12</td>
					<td>$100,000</td>
					<td><%= number_with_delimiter(8000000) %></td>
					<td>Background Skins, Resolving in-page Floater</td>
				</tr>
				<tr>
					<td><%= link_to "Q2 - Toyota Tundra Re-launch", demo_view_opportunity_path, :remote => true %></td>
					<td>4/20/12 &ndash; 5/20/12</td>
					<td>$30,000</td>
					<td><%= number_with_delimiter(2000000) %></td>
					<td>Expandable 728x90, Expandable 160x600</td>
				</tr>
				<tr>
					<td><%= link_to "Q2 - Mother's Day Takeovers", demo_view_opportunity_path, :remote => true %></td>
					<td>5/13/12 &ndash; 5/14/12</td>
					<td>$100,000</td>
					<td><%= number_with_delimiter(4000000) %></td>
					<td>Background Skins, Resolving in-page Floater</td>
				</tr>
				<tr>
					<td><%= link_to "Q2 - SiriusXM Fantasy Baseball", demo_view_opportunity_path, :remote => true %></td>
					<td>4/24/12 &ndash; 5/5/12</td>
					<td>$30,000</td>
					<td><%= number_with_delimiter(1000000) %></td>
					<td>Page Pusher, Page Grabber</td>
				</tr>
				<tr>
					<td><%= link_to "Q2 - ESPN MLB Tonight", demo_view_opportunity_path, :remote => true %></td>
					<td>5/6/12 &ndash; 6/6/12</td>
					<td>$100,000</td>
					<td><%= number_with_delimiter(1500000) %></td>
					<td>Expandable 728x90, Expandable 160x600, Gutters</td>
				</tr>
				<% end %>
				<% if current_user.role?('buyer') %>
				<tr>
					<td width="200px"><%= link_to "2011 Q4 - Amazon", demo_view_opportunity_path, :remote => true %></td>
					<td>10/1/11 &ndash; 12/31/11</td>
					<td>$10,000</td>
					<td><%= number_with_delimiter(1390000) %></td>
					<td>Expandable 728x90, Expandable 160x600, Gutters</td>
				</tr>
				<tr>
					<td><%= link_to "2011 Q4 - Mercedes-Benz", demo_view_opportunity_path, :remote => true %></td>
					<td>10/1/11 &ndash; 12/31/11</td>
					<td>$10,000</td>
					<td><%= number_with_delimiter(1010000) %></td>
					<td>Page Pusher, Page Grabber</td>			
				</tr>
				<tr>
					<td><%= link_to "2011 Q4 - Target", demo_view_opportunity_path, :remote => true %></td>
					<td>10/1/11 &ndash; 12/31/11</td>
					<td>$10,000</td>
					<td><%= number_with_delimiter(400000) %></td>
					<td>Brick Layer, Corner Peel</td>			
				</tr>
				<tr>
					<td><%= link_to "2012 Q1 - Amazon", demo_view_opportunity_path, :remote => true %></td>
					<td>1/1/12 &ndash; 3/30/12</td>
					<td>$10,000</td>
					<td><%= number_with_delimiter(1400000) %></td>
					<td>Expandable 728x90, Expandable 160x600</td>			
				</tr>
				<tr>
					<td><%= link_to "2012 Q1 - Mercedes-Benz", demo_view_opportunity_path, :remote => true %></td>
					<td>1/1/12 &ndash; 3/30/12</td>
					<td>$10,000</td>
					<td><%= number_with_delimiter(900000) %></td>
					<td>Expandable 728x90, Brick Layer</td>			
				</tr>
				<tr>
					<td><%= link_to "2012 Q1 - Target", demo_view_opportunity_path, :remote => true %></td>
					<td>1/1/12 &ndash; 3/30/12</td>
					<td>$10,000</td>
					<td><%= number_with_delimiter(450000) %></td>
					<td>Expandable 728x90, Gutters</td>			
				</tr>
				<tr>
					<td><%= link_to "2012 Q2 - Amazon", demo_view_opportunity_path, :remote => true %></td>
					<td>4/1/12 &ndash; 6/30/12</td>
					<td>$10,000</td>
					<td><%= number_with_delimiter(1510000) %></td>
					<td>Expandable 728x90</td>			
				</tr>
				<tr>
					<td><%= link_to "2012 Q2 - Mercedes-Benz", demo_view_opportunity_path, :remote => true %></td>
					<td>4/1/12 &ndash; 6/30/12</td>
					<td>$10,000</td>
					<td><%= number_with_delimiter(9900000) %></td>
					<td>Expandable 728x90, Gutters, Brick Layer</td>					
				</tr>
				<tr>
					<td><%= link_to "2012 Q2 - Target", demo_view_opportunity_path, :remote => true %></td>
					<td>4/1/12 &ndash; 6/30/12</td>
					<td>$10,000</td>
					<td><%= number_with_delimiter(300000) %></td>
					<td>Page Pusher, Brick Layer</td>			
				</tr>
				<tr>
					<td><%= link_to "2012 Q3 - Amazon", demo_view_opportunity_path, :remote => true %></td>
					<td>7/1/12 &ndash; 9/30/12</td>
					<td>$10,000</td>
					<td><%= number_with_delimiter(1510000) %></td>
					<td>Expandable 728x90, Expandable 160x600, Gutters</td>			
				</tr>
				<tr>
					<td><%= link_to "2012 Q3 - Mercedes-Benz", demo_view_opportunity_path, :remote => true %></td>
					<td>7/1/12 &ndash; 9/30/12</td>
					<td>$10,000</td>
					<td><%= number_with_delimiter(1100000) %></td>
					<td>Expandable 728x90, Expandable 160x600</td>			
				</tr>
				<tr>
					<td><%= link_to "2012 Q3 - Target", demo_view_opportunity_path, :remote => true %></td>
					<td>7/1/12 &ndash; 9/30/12</td>
					<td>$10,000</td>
					<td><%= number_with_delimiter(510000) %></td>
					<td>Page Pusher, Page Grabber</td>			
				</tr>
				<tr>
					<td><%= link_to "2012 Q4 - Amazon", demo_view_opportunity_path, :remote => true %></td>
					<td>10/1/12 &ndash; 12/31/12</td>
					<td>$10,000</td>
					<td><%= number_with_delimiter(1500000) %></td>
					<td>Expandable 728x90, Expandable 160x600</td>			
				</tr>
				<tr>
					<td><%= link_to "2012 Q4 - Mercedes-Benz", demo_view_opportunity_path, :remote => true %></td>
					<td>10/1/12 &ndash; 12/31/12</td>
					<td>$10,000</td>
					<td><%= number_with_delimiter(1000000) %></td>
					<td>Expandable 728x90, Expandable 160x600</td>			
				</tr>
				<tr>
					<td><%= link_to "2012 Q4 - Target", demo_view_opportunity_path, :remote => true %></td>
					<td>10/1/12 &ndash; 12/31/12</td>
					<td>$10,000</td>
					<td><%= number_with_delimiter(500000) %></td>
					<td>Expandable 728x90, Gutters, Brick Layer</td>			
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>
	
	<dl class="sub-nav opportunities-subnav">
	  <dd class="active"><a href="#">Current</a></dd>
	  <dd><a href="#">Past / Missed</a></dd>
	  <dd><a href="#">Viewed</a></dd>
	</dl>
	
</div>
<div class="three columns">
	
	<div class="graybox">
		<h4>Connections</h4>
		
		<dl class="sub-nav" id="search-subnav">
		  <dt>Contacts</dt>
		  <dd><a href="#">Groups</a></dd>
		</dl>
		
		<form class="nice">
			<input type="search" results="0" placeholder="Search">
		</form>		
				
		<% @connections.each_with_index do |user, i| %>
		<div class="search-result row">
			<div class="three columns">
				<%= link_to image_tag(user.user_profile.avatar.thumb.url), user_profile_path(user.user_profile), :class => "user-profile-img" %>
			</div>
			<div class="nine columns">
				<%= link_to user.fullname, user_profile_path(user.user_profile), :class => "name user-profile" %>
				<div class="title"><%= user.user_profile.title %></div>
				<div class="location"><%= user.user_profile.location %></div>
			</div>
		</div>
		<% end %>
		
	</div>
	
</div>
