@import "shared/mixins";
$dark_red: #900;
$light_gray: #E9E9E9;
$medium_gray: #767676;
$dark_gray: #333;

#activity-container {
  background: image-url("activity_feed/background-line.png") repeat-y 50% 0;
  width: 870px;
  .activity-item {
    overflow: visible;
    width: 410px;
  }
}

.activity-item {
  background-color: #E9E9E9;
  float: left;
  overflow: hidden;
  position: relative;
  color: #222;
  font-size: 12px;
  margin: 0 0 35px;
  @include border_radius(10px);
  .activity-header {
    height: 49px;
    position: relative;
    .avatar {
      float: left;
      overflow: hidden;
      border-top-left-radius: 10px;
      margin:1px;
      width: 48px;
    }

    .clearboth { clear:both; }
    .details {
      float: left;
      padding: 5px 10px;
      width: 251px;
      display: inline-block;
      .name {
        float: left;
      }
    }
    .time-and-type {
      padding-left: 18px;
      position: absolute;
      top: 3px;
      right: 15px;
      text-align: right;
      font-size: 10px;
      background: image-url("activity_feed/icon_recentOFF.png") no-repeat 0 1px;
    }
  }
  .activity-body {
    padding: 10px 5px 5px;
    background: white;
    border: 1px solid #ccc;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    div { word-wrap: break-word; };
  }
}

.left-side, .right-side {
  margin-bottom: 35px;
  i.spinePointer {
    background: image-url("activity_feed/background-dot.png") repeat-x;
    position: absolute;
    left: auto;
    right: -20px;
    top: 20px;
    height: 6px;
    width: 19px;
  }
}

.left-side {
  margin-right: 20px;
}

.right-side {
  margin-left: 24px;
  i.spinePointer {
    left: -21px;
  }
}

.activity-date {
  margin-bottom: 5px;
  width: 865px;
  color: #ddd;
  background: white;
  hr {
   margin: 10px 0;
  }
}

.first-right-item {
  margin-top: 49px;
}

.activity-feed-actions {
  margin-top: 5px;
  background-color: $light_gray;
  color: $dark_red;
  padding: 3px 10px;
  font-size: 10px;
  @include border_radius(5px);
  span.social-count {
    display: block;
    position: relative;
    padding-right: 20px;
    float: left;
    margin: 0 5px;
    img {
     position: absolute;
     bottom: 2px;
     right: 0; 
    }
  }
}

.inline_comment_container { display: none; }

.inline_comment_container {
  margin-top: 5px;
  .add_inline_comment_container {
    width: 80%;
    .add_inline_comment {
      resize: none;
      overflow: hidden;
      width: 100%;
    }
  }
  form { margin: 0px; }
}

[class*=comments_for_] {
  .comment_actions {
    visibility: hidden;
    float: right;
    &:hover { text-decoration: none; }
  }

  .comment_content {
    display: inline;
    .best_in_place {
      margin-right: 18px;
    }
    textarea {
      resize: none;
      margin: 2px;
      min-height: 50px;
      max-height: 50px;
    }
  }

  table {
    margin: 0px;
    width: 100%;
    tr td {
      padding: 0px;
      vertical-align: middle;
    }
  }

  [class*=comment_body_]:hover .comment_actions {
    visibility: visible;
  }
}

/* old */

.update-time-ago {
  position: absolute;
  top: 5px;
  right: 10px;
}

#add-comment {
  width: 510px;
  height: 60px;
}

.liked-info {
  a {
   color: #333;
   font-size: 1.1em;
   font-weight: bold;
  }
}
span.simple { font-weight: normal; }
span.popup_container {
  position: relative;

  span.popup_details {
    box-shadow: 2px 2px 5px 0px black;
    border: 2px solid white;
    width: 100%;
    background-color: #FFF;
    display: none;
    top: 20px;
    position: absolute;
    z-index: 99999;
    padding: 5px;
    p { 
      padding: 0 0 3px 0;
      margin: 0;
      line-height: 28px;

      span.username { padding-left: 5px; }
    
    }
  }
}
