@import "shared/mixins";

div#agency-detail {
  padding-top: 20px;
  .contact-info {
    height: 115px;
    .row {
     font-size: 10px; 
    }
  }
}
form.agency {
  .input_label {padding-top: 5px;}
  .midb_type {
    float: right;
    select { width: 100px;}
  }
  .state_and_zip {
    div {
      float: left;
    }
    .state_select select {
      width: 100px;
    }
    .zip_label {
      width: 35px;
      margin-left: 30px;
    }
    .zip_input input {
      width: 89px;
    }    
  }
}

.agency_search_form, .brand_search_form {
  margin: 10px 0;
}

.agency_table, .brand_table {
  background-color: #F5F5F5;
  border: 1px solid #DDD;
  @include border_radius(3px);
  margin-top: 10px;
  padding: 10px;
  h4 { color: gray; }
  table {
    border: 1px solid #DDD;
    margin-top: 10px;
    th { color: gray; text-align: center; }
    td.last_column { text-align: center; vertical-align: middle; }
    .user_logo {
      float: left;
    }
    .user_name {
      color: gray;
      float: left;
      font-weight: bold;
      padding: 10px 0 0 10px;
    }
    .user_column { width: 25%; }
    .similar_column { width: 20%; }
    .information_column { width: 40%; }
  }
}

#agency_form, #brand_form { display: block; }
