// for linkedIn style autocomplete
$grayText: #a0a0a0;
$darkRedBack: #900;
$autocompleteHintInvertBack: #000;
.ui-autocomplete.ui-menu { 
  color: $grayText; 
  background-color: #FFF; // frames menu
  .ui-menu-item { 
    background-color: #FFF;
    a:hover {
      color: #FFF;
      background: url("images/ui-bg_flat_75_ffffff_40x100.png") repeat-x scroll 50% 50% $autocompleteHintInvertBack;
    }
  }
}

.ui-autocomplete{
  z-index: 10!important; //over isotope under modal  
}
