.delete-group, .delete-conversation {
  font-size: 15px;
  line-height: .5;
  position: absolute;
  top: 7px;
  right: 7px;
  color: #ccc;
  text-shadow: 0 -1px 1px rbga(0, 0, 0, 0.6);
  font-weight: bold;
  cursor: pointer;
}

#new_circle {
	div.span12 h2 {
		font-size: 19px;
	}
	div.span12 ul li {
		font-size: 12px;
	}
  div.span4 {
    margin-left: 0;
    font-size: 13px;
    font-weight: bold;
  }
  input[type=text] { width: 100%; }
}
