@import "shared/mixins";

#people_buttons {
  .container-box-header {
    .people_buttons {
      float: left;
      margin-left: 3em;
    }
    .form-search {
      input[type='text'].search_input {
        background-color: #f5f5f5;
        background: url("icons/search-bg.png") no-repeat scroll 2px 3px transparent;
        padding-left: 25px;
      }
    }
  }

  .container-box-body {
    background: none repeat scroll 0 0 #F5F5F5;
    border: 1px solid #DDDDDD;
    @include border_radius(3px);
    padding: 9px;
  }
}

.padding-right {
  padding-right:20px;
  margin-bottom:40px;
}

#connection-containment-area {
  margin-top: 20px;
  .block-grid.two-up {
    margin-bottom: 0;
    margin-left: 2px;
     li {
        margin-bottom: 5px;
        margin-left: 0;
        width: 50%;
     }
  }
}

.my-connection, .group-box {
  @include border_radius(3px);
  border: 1px solid #DDDDDD;
  width: 93%;
}

#connection-container, #group-list {
  width: 102%;
}

#my-connections {
  .my_connection { width: 100% }
  .connection-detail {
    width: 46%;
    margin: 3px 0;
    max-width: 260px;
  }
  .my-connection.ui-draggable-dragging { background: #fff; }
  #connection-container .block-grid .three.columns a img {
    width: 46px;
    height: 46px;
    display: inline-block;
  }
}

#my-groups, #my-connections {
  .container-box .container-box-body {
    background: none repeat scroll 0 0 #F5F5F5;
    border: 1px solid #DDDDDD;
    @include border_radius(3px);
    padding: 9px;
  }
  #group-container{
    .group-box {
      @include border_radius(3px);
      border: 1px solid #DDDDDD;
      position: relative;
      overflow: hidden;
      background: white;
      padding: 5px 5px 40px;
      width: 46%;
      margin: 3px 0;
      h4 {
        margin: 0 0 5px;
        span.members {
         font-size: 11px;
         color: #cc0000;
        }
      }
      .form_in_place {
        input {
         width: 190px;
        }
      }
      .group-member.icon {
        width: 45px;
        height: 45px;
        display: inline-block;
      }
      .activity-feed-actions {
        position: absolute;
        bottom: 5px;
        right: 5px;
      }
    }
    .group-box.expanded-group-box {
      height: auto;
      margin-bottom: 5px;
    }
  }
}

.connection-detail {
  background: #fff;
  padding: 5px;
  max-width: 255px;
  .span3 { width: 45px; }
  a.name {
   color: #333;
   font-size: 12px;
   font-weight: bold;
  }
  .top-row {
    margin-bottom: 7px;
  }
  .activity-feed-actions {
    a {
     font-size: 11px;
    }
  }
  .title {
    font-size: 10px;
    line-height: 1.4em;
  }
  .company {
    font-size: 10px;
    line-height: 1.4em;
    font-style: italic;
  }
  .description {
    height: 318px;
    p {
     font-size: 10px;
     padding: 5px 10px 0;
    }
  }
  .activity-feed-actions {
    padding: 1px 10px;
    a {
     color: #990000;
     font-weight: normal;
    }
  }

}

form.connection-form {
  margin: 0;
}

#new_connection {
  h2 {
    font-weight: normal;
  }
  p {
    color: #858585;
  }
  #connection-message {
    height: 100px;
    margin: 1em 0;
    padding-left: 10px;
  }
}


/* Add Contacts */

#new_contacts_modal {
  margin: -265px 0 0 -385px;
  width: 770px;
}

.vertical-align {
  vertical-align: top;
}

#new_groups_modal {
  margin: -120px 0 0 -150px;
  width: 300px;
  form#new_circle {
    margin: 0;
    div.modal-body { overflow: none; }
    table tbody tr { background: none; }
    #circle_name, #circle_description { height: 30px; }
  }
}

#form_search {
  .span3, .span9 {
    border: medium none;
    color: black;
    vertical-align: middle;
    padding: 9px 10px;
    font-size: 12px;
    text-align: left;
    input[type=text] {
      margin: 0;
      padding: 2px 3px;
      height: 22px;
      width: 180px;
    }
  }
}

#connections-new div {
  .white-color { color: white; }
  .gray-field { background: none repeat scroll 0 0 #E9E9E9; }
  #connection-container {
    @include border_radius(3px);
    background: none repeat scroll 0 0 #E9E9E9;
    padding: 10px;
    .block-grid.two-up.suggestions {
      margin: 0;
      li {
        margin-bottom: 5px;
        margin-left: 0;
        width: 50%;
        a img {
          width: 45px;
          height: 45px;
          display: inline-block;
        }
        .span9 {
          height: 70px;
          div {
            font-size: 10px;
            line-height: 1.4em;
          }
        }
      }
    }
  }
}

.circle-box {
  height: 200px;
}

.purr {
  position: fixed;
  top: 30px;
  right: 100px;
  width: 250px;
  padding: 20px;
  background-color: #FCC;
  border: solid 2px #666;
  &:first-letter { text-transform: uppercase };
}

/* User Ribbon */

a.user-nav {
  display: block;
  width: 32px;
  height: 110px;
  float: left;
  background-repeat: no-repeat;
  text-indent: -9999px;
  outline: none;
}

a.user-nav.left {
  background-image: image-url("arrow_left.png");
  background-position: 0 50%;
}

a.user-nav.right {
  background-image: image-url("arrow_right.png");
  background-position: 100% 50%;
}

#user-ribbon {
  height: 90px;
  border-radius: 10px;
  padding: 10px;
  background: white;
  overflow: hidden;
  float:left;
  width: 876px;
  div.slide {
    width: 100%;
    padding-right: 10px;

    .user-ribbon-item {
      width: 209px;
      margin: 0 5px;
      float: left;

      .connection-detail {
        display: inline-block;
        height: 80px;
        div.row { margin-right: 10px; padding: 1px; }
      }
    }
  }
  .user-ribbon-item:last-child {
     margin-right: 0px;
  }
  .my-connection { background-color: #e9e9e9; }
}

div.with_indicators {
  div.indicator_container, button.btn {
    position: relative;
    display: inline-block;
    float: left;
    .indicator {
      background-image: image-url("indicator.png");
      color: white;
      height: 22px;
      padding-top: 2px;
      position: absolute;
      right: -12px;
      text-align: center;
      top: -12px;
      width: 24px;
      z-index: 4;
    }
  }
}

#expanded-group .group-box {
  width: 98% !important;
  .connection-detail {
    width: 100%;
  }
}

#connections_container {
  border: 1px solid #C4C4C4;
  border-radius: 10px;
  background-color: #FFFFFF;

  .manage_connections {
    height: 700px;
    .left_arrea {
      height: 100%;
      width: 50%;
      overflow: hidden;
      background-color: #FFFFFF;
      padding: 0 10px 10px;
      outline: none;
      table#my_connections {
        width: 100%;
        tr.connection {
          background-color: #FFFFFF;
          border-bottom: 1px solid #F4F4F4;
          width: 100%;
          td { padding: 10px 5px }
          td.user_avatar {
            width: 50px;
          }
          td.user_info {
            .user_name {
              float: left;
              margin-right: 5px;
            }
            .user_description {
              color: grey;
              float: left;
              width: 100%;
            }
            .block_user, .flag_user { float: left; }
          }
          td.actions {
            width: 132px;
            padding: 0 4% 0 0;
            vertical-align: middle;
            a { margin-left: 0; }
          }
        }
        tr.active { background-color: #EBEBEB }
      }
    }
    .right_arrea {
      width: 50%;
      height: 100%;
      margin: 0;
      background-color: #F9F9F9;
      span {
        padding-top: 0;
      }
      .user_profile {
        margin: 5%;
        width: 90%;
        margin-bottom: 50px;
        .friend_logo, friend_info { padding-top: 0 }
        .last_seen { color: grey }
        .profile_details {
          margin: 5px 0;
        }
      }
      .suggested_users, .mutual_connections {
        width: 90%;
        margin: 5% 5% 0;
        float: left;
        .connections {
          border-top: 1px solid #EFEFEF;
          margin: 10px 0;
          padding: 13px 0;
        }
        .suggested_user, .mutual_connection {
          width: 50px;
          height: 50px;
          overflow: hidden;
          margin: 5px;
          float: left;
        }
      }
    }
  }

  .add_connections {
    margin-bottom: 20px;
    padding: 0 10px;
    .description { margin: 14px 0 14px }
    #collapse-linkedin-connections, #collapse-co-workers, #collapse-all-connections {
      .row-fluid { border-bottom: 1px solid #F0F0F0 }
      .connection {
        padding: 5px 15px;
        border-right: 1px solid #F4F4F4;
        margin: 0px;
        width: 50%;
        .user_image { width: 16%; float: left }
        .user_info {
          width: 42%;
          float: left;
          .user_description { color: grey };
        }
        .invitation_button {
          width: auto;
          float: right;
          vertical-align: middle;
          margin: 10px 0 0 5px;
        }
      }
    }
    #collapse-linkedin-connections {
      .user_info { width: 47% !important }
    }
  }
  .accordion-group {
    .accordion-heading { border-bottom: 0 none }
    .accordion-toggle {
      background: none repeat scroll 0 0 #F4F4F4;
      border-radius: 7px;
      color: #B32228;
      text-shadow: 1px 1px 0 #F9F9F9;
      font-size: 13px;
      font-weight: bold;
      overflow: auto;
      border-bottom: 1px solid #E2E2E2;
      border-right: 1px solid #E2E2E2;
      outline: none;
      padding: 5px 15px;
    }
    .toggle-open, .toggle-close {
      float: right;
      height: 15px;
      width: 15px;
      margin-top: 2px;
    }
    .toggle-open { background-image: url("arr_d.png") }
    .toggle-close { background-image: url("arr_r.png") }
    .accordion-inner {
      border: none;
      padding: 5px;
    }
    .items { padding: 0 }
  }
  .search_bar {
    padding: 20px 0;
    text-align: center;
  }
  .connections_categories { padding: 5px 0 15px }
  .connections_menu {
    background-color: #F9F9F9;
    border-bottom: 1px solid #EEEEEE;
    border-radius: 10px 10px 0 0;
    .main_menu {
      width: auto;
      margin-left: 10px;
    }
    .add_conn_butt {
      margin: 0 10px;
    }
  }
  .paginator {
    margin-right: 22px;
    .connections_loader {
      display: none;
      float: left;
      margin-right: 5px;
      img { width: 18px }
    }
    .current-page { float: left; margin-right: 8px }
    .btn-group {
      padding-top: 2px;
      .btn { padding: 2px 12px }
      .image_nav_left, .image_nav_right {
        height: 10px;
        width: 6px;
        background-repeat: no-repeat;
      }
      .image_nav_left { background-image: image-url("nav-l.png") }
      .image_nav_right { background-image: image-url("nav-r.png") }
    }
  }
  .no_friends_description {
    margin: 40px 0px;
    text-align: center;
  }
}

.my_connections_icon { background-image: image-url("connect.png") }
.blocked_users_icon { background-image: image-url("block_connect.png") }
.add_connections_icon { background-image: image-url("add_connect.png") }
.my_connections_icon, .blocked_users_icon, .add_connections_icon {
  background-repeat: no-repeat;
  display: inline-block;
  height: 14px;
  line-height: 14px;
  vertical-align: text-top;
  width: 18px;
}

#blocked_users_container {
  height: 636px;
  outline: none;
  table.blocked_users {
    margin: 0 1%;
    width: 98%;
    tr.blocked_user {
      border-bottom: 1px solid #F0F0F0;
      background-color: #FFFFFF;
      td {
        padding: 5px;
        margin: 0;
      }
      td.user_avatar {
        width: 5%
      }
      td.user_info {
        width: 70%;
        .user_name { float: left; margin-right: 5px }
        .user-role { float: left; margin-right: 5px }
        .user_description { width: 100%; color: grey; float: left }
      }
      td.actions {
        width: 25%;
        padding-right: 10px;
        vertical-align: middle;
      }
    }
  }
}

.block_choosen_user_container {
  height: 50px;
  width: 100%;
  background-color: #F7F7F7;
  border-bottom: 1px solid #EEEEEE;
  text-align: center;
  .blocked_users_autocomlete {
    margin-top: 11px;
    background: url("icons/search-bg.png") no-repeat scroll 2px 3px white;
    padding-left: 25px;
  }
}
