@import "shared/mixins";
@import "shared/vars";

div.inbox_tab_content {
  background-color: #f5f5f5;
  border: 1px solid #c4bcbc;
  margin-top: -1px;
  width: 100%;
}

ul#inbox_tabs {
  margin: 0;
  li:not(.active) a {
    @include gradient(top, white, #f8f8f8);
    border-color: #d9d9d9 #d9d9d9 $border-color;
    &:hover {
      @include gradient(top, #f8f8f8, white);
    }
  }
  li a {
    border-radius: 0;
    font-weight: bold;
    color: #ab9595;
    font-size: 11px;
    height: 16px;
    margin-right: 10px;
    padding: 5px 40px 5px;
  }
  li.active a {
    background-color: #F4F4F4;
    border-color: #c4bcbc;
    border-bottom-color: #F4F4F4;
  }
}

#conversations_container {
  padding: 10px;
  padding-top: 0;
  .border {
    background-color: white;
    border: 1px solid #cfcfcf;
    border-bottom: 0;
    padding-top: 10px;
  }
  div.row-fluid {
    background-color: #F4F4F4;
    @include gradient(bottom, #EDEDED 49%, #F7F7F7 90%);
    .span12 {
      border: 1px solid #dedcdc;
      border-left: 0;
      border-right: 0;
      span {
        color: #9a9fab;
        text-shadow: 1px 1px white;
        font-weight: bold;
      }
      span:first-child {
        float: left;
        margin-left: 10px;
        padding-bottom: 5px;
        padding-top: 5px;
      }

      span:last-child {
        float: right;
        margin-right: 10px;
        padding-bottom: 5px;
        padding-top: 5px;
      }
    }

  }
  .container-border {
    background-color: white;
    height: 396px;
    outline: none;
    overflow: hidden;
    table { margin-bottom: 0; }
  }
}

#actions_bar {
  padding: 20px 10px 10px 10px;
  #messages_menu {
    .span9 a:not(:last-child) { padding: 5px 10px 5px 10px; }
    .span9 a {
      @include gradient(bottom, #ABB1C2 22%, #C5C9D4 90%);
      i {
        background-image: url("messages/icons_messages.png");
        background-repeat: no-repeat;
        display: inline-block;
        height: 15px;
        width: 21px;
      }
      i.incoming-messages {
        background-position: -35px 1px;
      }
      i.outgoing-messages {
        background-position: -13px 2px;
      }
      i.archived-messages {
        background-position: 0 2px;
        height: 17px;
        position: relative;
        top: 2px;
        width: 14px;
      }
    }
    .span3 a {
      float: right;
      padding: 5px 0 5px 0;
      width: 100%;
    }
    div a {
      border-radius: 0;
      text-shadow: 1px 1px #868891;
      font-weight: bold;
    }
    div a.active { color: white; }
    div a:hover { @include gradient(bottom, #C3C8D4 32%, #DADCE3 75%); }
  }
  .search-message {
    color: #999;
    display: inline;
    margin: 0;
  }
  .actions-menu {
    padding-top: 15px;
    input { width: 80%; }
    .filter_by {
      button {
        border-top-color: #d4d7d9;
        border-left-color: #d4d7d9;
        color: #aaa7b0;
        padding: 5px 8px 5px 10px;
        width: 100%;
      }
      .caret { float: right;}
    }
  }
}

#actions_bar, #actions_bar_messages {
  .search-query {
    border: 1px solid white;
    box-shadow: 0 0 3px 0 #D7D7D7 inset;
    background-color: #f5f5f5;
    padding: 5px 0 5px 15px;
    &:focus { background-color: #FFF; }
  }
}

#actions_bar_messages {
  .img-back-to-conversation {
    background-image: url(messages/back_to_conversations.png);
    display: inline-block;
    height: 11px;
    width: 8px;
  }
  .img-conversation {
    background-image: url(messages/conversation.png);
    display: inline-block;
    height: 21px;
    width: 18px;
  }
}

.have-no-messages {
  margin: 15px;
}

#conversations, #messages {
  width: 100%;
  tr.unread { background-color: #f2f2f2; }
  tr.undelete {
    background-color: #fcfaed;
    border-color: #ebe5c7;
    border-style: solid;
    height: 91px;
  }
  tr {
    background-color: #FFFFFF;
    border: 0 solid #cfcfcf;
    border-bottom-width: 1px;
  }
  td.avatar {
    width: 11%;
    padding: 15px;
    img {
      background-color: white;
      padding: 2px;
      border: 1px solid #c7c5c5;
      border-top-width: 0;
      border-left-width: 0;
    }
  }
  td.view-message-info {
    color: #9c9c9c;
    div.unread { font-weight: bold; }
    .delete-message {
      div:first-child {
        color: #8f8751;
        float: left;
        a { color: #a67472; }
      }
      div:last-child { float: right; }
    }
    .info {
      display: table;
      width: 100%;
      .full-name {
        float: left;
        a {
          color: #9096a6;
          font-size: 14px;
          font-weight: bold;
        }
      }
    }
    .user-role {
      display: table;
      width: 100%;
      .role { float: left; }
    }
    .message_actions { position: relative; }
    .message-subject { font-weight: bold; }
    .message-subject, a {
      color: #9c9c9c;
      a:hover, a:active {
        color: #666;
        text-decoration: underline;
      }
    }
    .short-message {
      div {
        color: #9096a6;
        float: right;
      }
      a { color: #999; }
      a:hover, a:active {
        color: #999;
        text-decoration: underline;
      }
    }
    .receiving-date { vertical-align: bottom; }
  }
}

#conversations {
  tr:hover {
    div.close_button {
      float: right;
      div.icons i { display: inline-block; }
    }
  }

  div.close_button {
    float: right;
    text-align: right;
    width: 75px;
    div.icons {
      height: 14px;
      i {
        background-image: url(messages/icons_messages.png);
        cursor: pointer;
        display: none;
        height: 14px;
      }
      .img-unarchive {
        background-position: -56px -1px;
        position: relative;
        left: 3px;
        width: 17px;
      }
      .img-archive {
        background-position: -97px -4px;
        position: relative;
        top: 2px;
        width: 14px;
      }
      .img-unread {
        background-position: -73px -2px;
        width: 13px;
      }
      .img-remove {
        background-position: -86px -2px;
        width: 11px;
      }
    }
  }
}

.messages-dropdown table {
  tr:hover {
    div.close_button {
      float: right;
      div.icons i { display: inline-block; }
    }
  }
  .subject div {
    float: left;
    margin-right: 5px;
  }
  i {
    background-image: url(messages/icons_messages.png);
    cursor: pointer;
    height: 14px;
    display: block;
  }
  .img-reply {
    background-position: -145px -2px;
    width: 14px;
  }
  .img-reply:hover {
    background-position: -159px -2px;
    width: 14px;
  }
  .img-forward {
    background-position: -112px -2px;
    width: 15px;
  }
  .img-forward:hover {
    background-position: -128px -2px;
    width: 15px;
  }

  .close_button {
    float: right;
    text-align: right;
    width: 75px;
    div.icons {
      height: 14px;
      .img-remove {
        background-position: -86px -2px;
        width: 11px;
      }
    }
  }
}

#messages {
  td {
    div.dark {
      a {
        color: #717171;
        font-size: 120%;
        font-weight: bold;
      }
      a:hover, a:active {
        color: #717171;
        text-decoration: underline;
      }
    }
    div.message-created-at {
      color: #B94A48;
      float: right;
    }
    div.red {
      a {
        color: #B94A48;
        font-size: 120%;
        font-weight: bold;
      }
      a:hover, a:active {
        color: #B94A48;
        text-decoration: underline;
      }
    }
  }
  td.view-message-info { color: #999999; }
  td.undelete_conversation {
    width: 100%;
    p { text-align: center; }
  }
  div.attachment {
    float: right;
    margin: 3px 10px 0px 0px;
  }
}

.img-attach {
  background-image: url(messages/attach.png);
  height: 12px;
  width: 13px;
  display: block;
}

.back-to-conversations {
  padding: 20px 30px;
  line-height: 27px;
  background-color: #E6E6E6;
}

.conversation-header {
  margin-top: 20px;
  width: 90%;

  .originator-name {
    font-weight: bold;
    font-size: 150%;
  }
}

#add-reply {
  background-color: #F4F4F4;
  width: 95%;
  margin: 20px auto;

  textarea {
    height: 80px;
    width: 100%;
    border: 1px solid #CCC;
  }

  div.row-fluid {
    padding: 20px 0 10px;
  }

  .reply-message {
    width: 74%;
    margin-left: 60px;
  }

  .reply-actions {
    position: relative;
    height: 25px;

    .quick-reply {
      float: right;
      input { float: left; }
      label {
        float: left;
        padding-left: 10px;
      }
    }
  }

  .reply-btn {
    margin-top: 28px;
  }
}

.send-message-actions {
  width: 100%;
  i {
    display: inline-block;
    float: left;
    margin-right: 5px;
  }
  .attach-file {
    float: left;
    text-align: left;
    overflow: hidden;
    width: 125px;
    height: 50px;
    cursor: pointer;
    a, a:hover, a:active {
      color: #999;
      text-decoration: underline;
    }
    .input-file {
      margin-top: -50px;
      margin-left:-410px;
      -moz-opacity: 0;
      filter: alpha(opacity=0);
      opacity: 0;
      font-size: 150px;
      height: 100px;
    }
  }
  .buttons a, .buttons input {
    float: left;
    &:first-child {
      margin-right: 10px;
    }
  }
}

#new_message {
  width: 600px;
  padding: 20px;
  font-size: 13px;
  p { margin: 0; }
  input[type="submit"] { color: white; }
  textarea {
    height: 100px;
    width: 97%;
    background-color: white;
  }
}

body.chat_window {
  padding: 0;
  .friend_chat {
    display: block;
    position: relative;
    .header_part {
      .friend_logo, .friend_info { float: left; }
      .friend_logo {
        padding: 5px;
      }
      .friend_info {
        padding-top: 5px;
        .friend_name, .status_icon { float: left; }
        .last_seen { clear: both; }
      }
      .to-normal {
        background-image: image-url("icons/chat_operations.png");
        background-color: transparent;
        background-repeat: no-repeat;
        cursor: pointer;
        float: right;
        margin: 5px 5px 5px 0;
        height: 16px;
        width: 16px;
        background-position: -48px -0px;
      }
    }
    .conversations_part {
      bottom: 95px;
      height: auto;
      position: fixed;
      top: 51px;
    }
    .messages_part {
      bottom: 0;
      height: auto;
      padding-bottom: 0;
      position: fixed;
      textarea { min-height: 57px; resize: none}
    }
  }
}

#select-receipts {
  float: left;
}

#receipts-list {
  max-height: 65px;
  float: left;
  width: 40%;
  margin: 20px 0 0 20px;
  background-color: #F5F5F5;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 4px 4px 4px 4px;
  padding: 5px 7px;
  overflow-y: auto;
  .receipt {
    margin-bottom: 5px;
  }
  .receipt-name {
    margin-right: 5px;
  }
}

.hide-receipts-list { display: none; }

.show-receipts-list { display: block; }
