@import "shared/mixins";

#bootstrap_modal div.nice_filter_modal {
  .modal-header {
    background-color: #f9f9f9;
    h3 { color: black; }
  }
  .modal-body {
    padding:0;
    height:520px;
    max-height:520px;
    overflow:hidden;

    .filter_part {
      background: #f6f6f6;
      float: left;
      padding: 2%;
      width: 28%;
      height: 520px;
      overflow:auto;

      p {
        font-size: 12px;
        line-height: 24px;
        &.left { float: left; }
      }

      .filter_header { margin: 10px 0; }
      .clear_p { clear: both; }

      div#filter_type {
        float: left;
        margin: -5px 0 0 10px;
        button.dropdown-toggle-search {
          height: 30px;
          text-align: left;
          width: 100px;
          z-index: 90;
          span.caret {
            float: right;
          }
        }
        ul.dropdown-menu {
          min-width: 98px;
          width: 98px;
          top: 24px;
          z-index: 85;
          &>li { margin-top: 5px; }
          &>li+li { margin-top: 0; }

          li a:hover {
            background-color: #0088CC;
            color: #FFF
          }
          li a { font-size: 12px; line-height: 12px; }
        }
      }
      .checkboxes {
        background: white;
        border: 1px solid lightgray;
        height: 320px;
        overflow-y: auto;
        div:not(.publisher) { display: none; }
        ul {
          margin: 0 0 0 19px;
          display: none;
        }
        label { display: inline; }
        .trigger { margin-top: 5px; }
      }
    }
    .result_part {
      width: 66%;
      padding: 1%;
      float:left;

      div.checkboxes, div.search-results {
        background: #f6f6f6;
        border: 1px solid lightgray;
        min-height: 60px;
        overflow-y: scroll;
        padding: 10px;
        ul#filters {
          margin: 0;
          li {
            color: white;
            border: 1px solid #797979;
            font-size: 13px;
            float: left;
            padding: 5px;
            margin: 0 5px 5px 0;
            @include gradient(top, #c1c1c1, #8e8e8e);
            label {
              color: #7b7b7b;
              display: inline;
              font-size: 16px;
              margin-left: 5px;
            }
          }
        }
      }

      div.inline-filter {
        display:block;
        clear:both;
        padding-top: 10px;
        overflow:auto;

        input.filter {
          float:right;
          padding: 5px 30px 5px 5px;
          background:#f6f6f6 url("icons/search-bg.png") no-repeat scroll 98% center;
          border: 1px solid lightgray;
        }

      }

      div.results-part {
        background-color: #FFF;
      }

      ul.header {
        border:1px solid lightgray;
        border-bottom:none;
        border-right:none;
        padding:0;
        margin:0;
        overflow:auto;

        li {
          border-right:1px solid lightgray;
          background-color: #f6f6f6;
          display: block;
          float:left;
          font-size: 12px;
          padding:3px 0;
          width: 132px;
          text-align:center;
          color:gray;
        }
        li+li { width: 164px; }
        li+li+li { width: 142px; }
        li+li+li+li { width: 151px; }
      }
      div.search-results {
        height: 290px;
        clear: both;

        table {
          tr {
            td{
              width: 127px;
              border-right:1px solid lightgray;
              padding: 10px 3px;
              height: 20px;
              vertical-align: middle;

              div.site {
                overflow: auto;
                margin-left: 2px;

                img {
                  max-height: 32px;
                  max-width: 32px;
                  border:1px solid lightgray;
                  padding: 1px;
                  margin-left: 10px;
                }
                a {
                  padding-left: 6px;
                  display:block;
                  float:left;
                  text-decoration:none;
                  width: 70px;
                  word-wrap: break-word;

                  &:hover { text-decoration:none; }
                }
              }
            }
            td+td { width: 158px; text-align:center; color: gray; }
            td+td+td { width: 136px; }
            td+td+td+td { width: 130px; border:none; }
          }
        }
      }

    }
  }
}
