h3.suggestion-header {
  box-shadow: 0 1px 20px -2px gray;
  color: #7a6569;
  padding: 20px;
  position: relative;
  margin-bottom: 20px;
  img { 
    float: right; 
    margin-top: -5px;
  }
}

.new_jira_issue {
  background: #f5f5f5;
  margin: 0;
  .user-logo { float: left; margin: 0 10px 10px 0; }
  .tip { clear: both; }
  h4 { color: #908082; }
  p { color: #959595; }
  label { color: #737373; clear: both; font-weight: bold; }
  label[for=jira_issue_title] { float: left; margin: 5px 10px 0 0; }
  input[type=text] { width: 490px; }
  textarea { margin: 0; width: 535px; height: 120px; background-color: white; }
}
