/* =============================================================================
Base
========================================================================== */

@import "shared/mixins";

/* colors */

$dark_red: #900;
$light_gray: #E9E9E9;
$medium_gray: #767676;
$dark_gray: #333;
$dark_border: #989898;
$dark_green: #7fae00;
$light_blue: #1E90FF;

/* reset.css */

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  height: 100%;
}

body, button, input, select, textarea {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: $dark_gray;
}

::-moz-selection {
  background: $dark_gray;
  color: white;
}

::selection {
  background: $dark_gray;
  color: white;
}

/* globals.css */

body.sessions {
  div.hero-unit {
    background-color: #ddd;
    border: 1px solid rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,.05) inset;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05) inset;
    box-shadow: 0 1px 1px rgba(0,0,0,.05) inset;
  }
  h2.sign-up-its-free { text-align: center; }
  div.row-fluid {
    div.span5.sign-up-box {
      p {
        text-align: center;
        margin-top: 15px;
        .grey_button {
          a { color: white}
        }
      }
    }
  }
}

input.read_only { cursor: text; }

input.input-text { background-color: #f5f5f5; }

input.input-text, textarea {
  border-color: #fff;
  box-shadow: 0 0 3px 0 #D7D7D7;
  color: #757575;
  padding: 4px 10px;
}

input.input-text {
  height: 26px;
}

.btn[data-toggle=dropdown] {
  background: #e8eced;
  border-color: #fff;
  border-radius: 0;
  color: #757575;
  .btn-group > & {
    border-radius: 0;
  }
  div {
    float: left;
    margin-left: 5px;
    display: inline;
  }
  .caret { float:right; }
}

/* =============================================================================
Typo
========================================================================== */

h1, h2, h3, h4, h5, h6 {
  color: $medium_gray;
  font-weight: bold;
  font-family: inherit;
  text-rendering: optimizelegibility;
  margin: 0;
}
h1 {
  font-size: 30px;
  font-weight: normal;
  line-height: 36px;
}
h2 {
  font-size: 24px;
  line-height: 36px;
}
h3 {
  font-size: 18px;
  line-height: 27px;
}
h4, h5, h6 {
  line-height: 18px;
}
h4 {
  font-size: 14px;
}
h5 {
  font-size: 1.2em;
  margin-bottom: 3px;
}
h6 {
  line-height: 1.4em;
  border-bottom: 1px solid $light_gray;
  margin-bottom: 10px;
}
p {
  font-size: 13px;
  line-height: 18px;
  margin: 0 0 9px;
}

hr {
  margin: 18px 0;
  border: 0;
  border-top: 1px solid #DDD;
  border-bottom: 1px solid white;
}
/* =============================================================================
Layout
========================================================================== */

#wrap {
  min-height: 100%;
}

#main {
  padding-bottom: 85px;
}

#header {
  background: #0e0e0e; /* Old browsers */
  background: -moz-linear-gradient(top,  #0e0e0e 0%, #7d7e7d 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0e0e0e), color-stop(100%,#7d7e7d)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #0e0e0e 0%,#7d7e7d 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #0e0e0e 0%,#7d7e7d 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #0e0e0e 0%,#7d7e7d 100%); /* IE10+ */
  background: linear-gradient(top,  #0e0e0e 0%,#7d7e7d 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0e0e0e', endColorstr='#7d7e7d',GradientType=0 ); /* IE6-9 */
  color: white;
  div#row-1 {
    padding: 15px 0 0;
    dl#menu {
      margin: 0;
      dd {
        display: inline;
        font-weight: bold;
        a {
          color: white;
          font-weight: normal;
        }
        a:visited {
          color: white;
          font-weight: normal;
        }
        a:hover {
          color: white;
          font-weight: normal;
        }
        a:focus {
          color: white;
          font-weight: normal;
        }
      }
    }
  }
  h1#title {
    height: 37px;
    text-indent: -999em;
    overflow: hidden;
    margin: 0;
    padding: 0;
  }
  h1.logo {
    width: 173px;
    background: image-url("logo_beanstock.png") no-repeat;
  }
}

div#beanstock-content {
  padding: 0 0 20px 0;
}

#footer {
  position: relative;
  clear: both;
  padding: 30px 0;
  background: image-url("backgrounds/background_footer.png") repeat-x #181717;
  color: white;
  .nav {
    dl {
      margin: 0;
      dd {
        display: inline;
        padding-left: 20px;
        a {
          color: white;
        }
        a:visited {
          color: white;
        }
        a:hover {
          color: white;
        }
        a:focus {
          color: white;
        }
      }
    }
  }
}

@media only screen and (min-width : 767px) {
  #header {
    height: 105px;
    div#row-1 {
      height: 55px;
      dl#menu {
        padding-top: 10px;
        dd {
          padding: 0 15px 0 19px;
        }
        dd#profile {
          font-size: 12px;
          background: image-url("icons/icon_profile.png") no-repeat 0 1px;
        }
        dd#settings {
          font-size: 12px;
          background: image-url("icons/icon_settings.png") no-repeat 0 1px;
        }
        dd#logout {
          font-size: 12px;
          background: image-url("icons/icon_logout.png") no-repeat 0 1px;
        }
      }
    }
    .nav {
      height: 37px;
    }
  }
  #footer {
    height: 25px;
  }
}

/* =============================================================================
Messages and Notificaitons
========================================================================== */

div.alert-box {
  overflow: hidden;
}
.alert-box.notice {
  background-color: $dark_green;
  color: white;
  text-shadow: 0 -1px rgba(0,0,0,0.3);
}
.alert-box.alert {
  background-color: $dark_red;
  color: white;
  text-shadow: 0 -1px rgba(0,0,0,0.3);
}

ul.dropdown-menu.messages-dropdown {
 min-width: 410px;
}

ul.dropdown-menu {
  background-color: #EEEEEE;
  @include border_radius(0);
  margin-top: -2px;
  right: 0;
  z-index: 1;
  li {
    a {
      font-size: 13px;
      color: #757575;
      &:hover {
        background: none repeat scroll 0 0 transparent;
        color: #6b6b6b;
      }
      &:visited { color: #989898; }
    }
    margin: 0;
  }
  .divider {
    margin: 3px 1px;
    border-color: #efefef;
  }
}

/* --------------------------------------------------
:: Tables
-------------------------------------------------- */

table {
  background: white;
  margin: 0 0 10px;
  border: none;
}
table tbody tr.even,
table tbody tr.alt {
  background: $light_gray;
}
table tbody tr td {
  color: black;
  padding: 9px 10px;
  vertical-align: top;
  border: none;
}
table tr td:first-child { border-left: none; }
table tr td:last-child { border-right: none; }

table tr.selected td{
  background: $dark_red;
  color: white;
  font-weight: bold;
  a {
   color: white;
  }
}

/* --------------------------------------------------
Tabs
-------------------------------------------------- */

dl.tabs dd:first-child a {
  -webkit-border-top-left-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
dl.tabs dd:last-child a {
  -webkit-border-top-right-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -moz-border-radius-topright: 10px;
  -moz-border-radius-bottomright: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* --------------------------------------------------
Buttons
-------------------------------------------------- */

.gray.button { background-color: $medium_gray; border: 1px solid #767676 }
.red.button { background-color: $dark_red; }
.blue.label {
  background-color: $light_blue;
}
.red.label {
  background-color: $dark_red;
}
.gray.label {
  background-color: $medium_gray;
}
a.blue {
  color: white;
}
a.red {
  color: white;
}
a.gray {
  color: white;
}

/* bootstrap buttons */

.btn { text-shadow: none; color: #333; @include border_radius(0); }

.btn-primary, .btn-primary:hover, .btn-warning, .btn-warning:hover, .btn-danger, .btn-danger:hover, .btn-success, .btn-success:hover, .btn-info, .btn-info:hover, .btn-inverse, .btn-inverse:hover {
  color: white;
}

.btn-inverse:hover, .btn-inverse:active, .btn-inverse.active, .btn-inverse.disabled, .btn-inverse[disabled] {
  background-color: #405A6A;
}

.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
  background-color: #3F3F3F;
}

.btn-inverse {
  @include gradient(top, #4A687A, #405A6A);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4a687a', endColorstr='#405a6a', GradientType=0);
  border-color: #405A6A #405A6A #23323A;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}

.btn-primary {
  @include gradient(top, #9fadbf, #a7aec2);
  background-repeat: repeat-x;
  border-color: #3F3F3F #3F3F3F #191919;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-left: none;
  border-top: none;
  text-shadow: 1px 1px #868891;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}

.btn-primary:hover {
  @include gradient(top, #dadce3, #c3c8d4);
}

.btn-primary.disabled {
  @include gradient(top, #9fadbf, #a7aec2);
}

.btn-cancel {
  @include gradient(top, #d6d6d4, #d4d4d4);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d6d6d4', endColorstr='#d4d4d4', GradientType=0);
  border-color: #d6d6d4 #d6d6d4 #d4d4d4;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-left: none;
  border-top: none;
  text-shadow: 1px 1px #c2c2c2;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}

.btn-danger {
  color: #ed9595;
  border-color: #f2dcdc;
  text-shadow: 1px 1px 0 #fff;
  @include gradient(top, #f2e6e6, #f2e6e6);
}

.btn-danger:hover,
.btn-danger:active,
.btn-danger.active,
.btn-danger.disabled,
.btn-danger[disabled] {
  background-color: #f2e6e6;
  *background-color: #f2e6e6;
  text-shadow: 1px 1px 0 #fff;
}

.btn-danger:active,
.btn-danger.active {
  background-color: #f2e6e6 \9;
}

/* -----------------------------------------
Standard Forms
----------------------------------------- */

input.input-text.oversize, textarea.oversize {
  font-size: 12px !important;
  padding: 7px 5px !important;
}
input.input-text.oversize {
  padding: 2px 5px !important;
}

/* -----------------------------------------
Modal Window
----------------------------------------- */

.reveal-modal {
  top: 100px;
  left: 50%;
  margin-left: -400px;
  width: 770px;
  background: white;
  position: absolute;
  z-index: 101;
  padding: 15px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0 0 10px rgba(0,0,0,.4);
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,.4);
  box-shadow: 0 0 10px rgba(0,0,0,.4);
  border: 2px solid $dark_red;
  visibility: hidden;
}

#close-modal-button {
  color: white;
  position: relative;
  top: 0;
  right: 0;
  font-size: 11px;
  line-height: 1em;
}

/* -----------------------------------------
Globals
----------------------------------------- */

.text-grayLight {
  color: #999;
}

.typeahead li {
  margin-bottom: 0;
}

.bold {
  font-weight: bold;
}

.whitebox {
  position: relative;
  overflow: hidden;
  background: white;
  -moz-box-shadow: 0px 0px 5px 5px $light_gray;
  -webkit-box-shadow: 0px 0px 5px 5px $light_gray;
  box-shadow: 0px 0px 5px 5px $light_gray;
  padding: 10px;
  margin-bottom: 15px;
  table {
    width: 100%;
    td {
     border-right: 2px solid white;
    }
    thead {
      th {
        text-align: left;
        text-transform: uppercase;
        background: #ccc;
        border-right: 2px solid white;
        font-size: 12px;
      }
    }
  }
}

.container-box {
  position: relative;
  .container-box-header {
    h2 {
     color: $dark_gray;
    }

    div.people_buttons {
      .badge {
        position: absolute;
        right: -7px;
        top: -8px;
        z-index: 10;
      }
    }
  }
  .container-box-body {
    background: $light_gray;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 10px;
    .whitebox {
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
    }
    .gray_gradient {
      background-image: linear-gradient(top, #E9E9E9 37%, #FFFFFF 90%);
      background-image: -o-linear-gradient(top, #E9E9E9 37%, #FFFFFF 90%);
      background-image: -moz-linear-gradient(top, #E9E9E9 37%, #FFFFFF 90%);
      background-image: -webkit-linear-gradient(top, #E9E9E9 37%, #FFFFFF 90%);
      background-image: -ms-linear-gradient(top, #E9E9E9 37%, #FFFFFF 90%);
      background-image: -webkit-gradient(
        linear,
        right top,
        right bottom,
        color-stop(0.37, #E9E9E9),
        color-stop(0.9, #FFFFFF)
      );
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E9E9E9', endColorstr='#FFFFFF');
      -webkit-border-top-left-radius: 10px;
      -webkit-border-top-right-radius: 10px;
      -moz-border-radius-topleft: 10px;
      -moz-border-radius-topright: 10px;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      padding: 0 10px 10px;
    }
  }
}

.graybox {
  position: relative;
  overflow: hidden;
  background: $light_gray;
  padding: 10px;
  margin-bottom: 10px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  h4 {
    margin: 0 0 10px;
  }
  h5 {
    position:absolute;
    top:-10px;
    left:-10px;
    background: #990000;
    color: #fff;
    padding: 7px 20px 7px 15px;
    border: 10px solid white;
    font-size: 2em;
  }
}

.graybox.padded {
  padding: 70px 10px 10px;
}

ul.sort-by {
  position: absolute;
  top: 20px;
  li {
    display: inline;
    list-style-type: none;
    padding-right: 10px;
    a {
     color: $light_blue;
    }
    a.selected {
      font-weight: bold;
    }
  }
}

.padded-box {
  padding-top: 50px;
  position: relative;
}

input.submit-link {
  -webkit-appearance: none;
  -webkit-font-smoothing: antialiased;
  background-attachment: scroll;
  background-clip: border-box;
  background-color: transparent;
  background-image: none;
  background-origin: padding-box;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  color: $dark_red;
  cursor: pointer;
  display: inline;
  font-size: 11px;
  line-height: 18px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: -2px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
}

form label {
  display: block;
  margin-bottom: 5px;
}

/* bootstrap globals */

.translation_missing { background-color: red; }

.leftFloat {
  float: left;
  margin-right: 10px;
}

.rightFloat {
  float: right;
  margin-left: 10px;
}

body {
  background-color: white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: $dark_gray;
  height: 100%;
  margin: 0;
  line-height: 18px;
  font-size: 13px;
  .container-fluid {
    margin: 0 auto;
    max-width: 1170px;
    #beanstock-content {
      min-width: 1170px;
      max-width: 1170px;
      min-height: 800px;
    }
  }
}

button.all-rounded { border-radius: 4px !important; }

.label {
  border-radius: 3px 3px 3px 3px;
  padding: 1px 4px 2px;
}

.label-important, .badge-important { background-color: #B94A48; }

.icon-white { background-image: image-url("glyphicons-halflings-white.png"); }

.icon-tasks { background-position: -384px -144px; }

dl dd { margin-left: 0; }

.btn, a.btn, .btn a { color: #333; }

.btn-primary, .btn-primary:hover, .btn-primary:visited, .btn-primary:active, .btn-warning, .btn-warning:hover, .btn-danger, .btn-danger:hover, .btn-success, .btn-success:hover,
.btn-info, .btn-info:hover, .btn-inverse, .btn-inverse:hover, a.btn-primary, a.btn-warning, a.btn-danger, a.btn-success, a.btn-info, a.btn-inverse, .btn-cancel, .btn-cancel:hover,
.btn-cancel:visited, a.btn-cancel, a.btn-cancel:active {
  color: white;
}

.btn-inverse:hover, .btn-inverse:active, .btn-inverse.active, .btn-inverse.disabled, .btn-inverse[disabled] {
  background-color: #405A6A;
}

.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
  background-color: #9fadbf;
}

.btn-cancel:hover, .btn-cancel:active, .btn-cancel.active, .btn-cancel.disabled, .btn-cancel[disabled] {
  background-color: #d6d6d6;
}

.btn-danger, .btn-danger:hover, a.btn-danger, a.btn-danger:active {
  color: #ed9595;
}

.options_wrapper {
  background-color: #F5F5F5;
  border: 1px solid #DDD;
  @include border_radius(3px);
  margin: 10px 0 10px 30px;
  .options {
    padding: 20px;
    .row-fluid {
      margin-left: 30px;
      max-width: 1170px;
      .span12 {
        margin-left: -30px;
        .span3 { width: 259px; }
        .form-search { margin-left: 30px; }
      }
    }
  }
}

input[type="search"] {
  @include border_radius(3px);
  padding: 4px;
}

.row { margin: 0 auto; }
ul { list-style: none; }

.offset4 { margin-left: 430px; }

.footer {
  background: none repeat scroll 0 0 #FFFFFF;
  color: #666666;
  padding: 10px 10px 4px;
}

.hidden { display: none; }

#section-body {
  padding: 9px 0;
  #update-post-status {
    text-shadow: none;
  }
  .btn-primary { text-shadow: none; }
  #discover_items .table._thead { margin-top: 0; }
}

#menu-left {
  &.with_top_padding {
    padding-top: 9px;
  }
  .nav-list li { margin: 0; }
  .nav-list a {
    background-color: white;
    border: 1px solid #DDD;
    color: #666;
    padding: 12px 10px;
    text-shadow: none;
    &.current {
      background-color: #666;
      color: white;
    }
    span {
      border-left: 1px solid #DDD;
      margin-left: 6px;
      padding-left: 6px;
    }
  }
}

.top_tooltip {
  &:before {
    border-bottom: 11px solid white;
    border-left: 13px solid transparent;
    content: "";
    left: 0;
    position: absolute;
    top: -12px;
  }
  .qtip-wrapper {
    top: -25px;
    left: 13px;
  }
}

.middle_tooltip {
   &:before {  border-bottom: 10px solid transparent;
    border-right: 10px solid white;
    border-top: 10px solid transparent;
    content: "";
    left: -2px;
    position: absolute;
    top: 11px;
    z-index: 6040;
  }
 .qtip-wrapper {
    top: -1px;
    left: 7px;
  }
}

.away-status, .do-not-disturb-status, .offline-status, .online-status, .invisible-status {
  background: url(icons/online-statuses.png) no-repeat top left;
  height: 16px;
  width: 16px;
}

.away-status { background-position: 0 0; }
.do-not-disturb-status { background-position: 0 -66px; }
.invisible-status { background-position: 0 -132px; }
.offline-status { background-position: 0 -132px; }
.online-status { background-position: 0 -198px; }

body.with_fluid_container, body.search {
  background: none repeat scroll 0 0 #ebebeb;
  .container-fluid {
    max-width: none;
  }
}

div.loading { padding: 10px; }

.author {
  font-size: 120%;
}

span.user-role {
  padding: 2px 7px;
  background-color: #e7e7e7;
  font-size: 80%;

  &.seller { color: #65bc7d; }
  &.buyer { color: #7babc3; }
  &.publisher { color: #B94A48 }
}

div.search-results, table#messages {
  td {
    img {
      padding: 2px;
      border: 1px solid #999;
      float: left;
    }
  }
}

.move-right { float: right; }

.move-left { float: left; }

.clear-both { clear: both; }

.offline_status { color: #969696; }
.online_status { color: #a7c2b1; }
.away_status { color: #F3CE6A; }
.disturb_status { color: red; }

input, textarea, select, a, button { outline: none !important; }

.no-padding { padding: 0; }
.max-width-none { max-width: none; }
.min-width-250 { min-width: 250px; }
.invisible { visibility: hidden; }

.date-picker {
  span.add-on {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    i.icon-th {
      background-position: 0 0;
      height: 21px;
      width: 21px;
      background-image: url("calendar.png");
    }
  }
}
