@import "shared/mixins";

$base_message_color: #737373;

#menu-left .accordion-group {
  border: 0;
  .accordion-heading {
    border-bottom: 0 none;
    a.accordion-toggle {
      @include detail_border_radius(5px, 5px, 0, 0);
      text-decoration: none;
      background: none repeat scroll 0 0 #222222;
      color: #FFFFFF;
      font-size: 13px;
      font-weight: bold;
      overflow: auto;
    }
  }
  #market-stream.accordion-body {
    overflow: visible;
    .accordion-inner {
      height: 639px;
      outline: none;
      overflow: hidden;
      padding: 0;
      border: 0;
      position: relative;
      &.bottom-border {
        border-bottom: 1px solid #DDDDDD;
      }
      table {
        margin: 0;
        table-layout: fixed;
        tr {
          border-width: 0 1px 1px;
          border-color: #DDDDDD;
          border-style: solid;
          &:hover td {
            background-color: #e3e3e3;
            &.close_button button { visibility: visible; }
          }
          td {
            border: 0;
            background-color: white;
            padding: 7px 0 5px 10px;
            &.close_button {
              padding: 0 5px 5px;
              button {
                position: relative;
                z-index: 6040;
                visibility: hidden;
              }
              width: 12px;
            }
            &.icon {
              width: 14px;
            }
            &.message {
              div { word-wrap: break-word; }
              color: $base_message_color;
              .message_body {
                float: left;
                width: 100%;
                .truncated-text { max-height: 165px; }
              }
              a.message {
                color: $base_message_color;
                text-decoration: underline;
              }
              div.header {
                margin-right: 5px;
                a {
                  font-weight: bold;
                  &:hover { text-decoration: underline; }
                }
              }
              div.logo {
                float: left;
                margin-right: 10px;
              }
            }

          }
          &.package_updated td.message {
            .message_body {
              width: 75%;
            }
          }
        }
      }
    }
    .select-type {
      border: 1px solid #DDDDDD;
      background-color: #EEEEEE;
      color: #989898;
      padding: 9px;
      .btn-group {
        margin-top: 3px;
        .btn {
          height: 30px;
          width: 100%;
          text-align: left;
          padding-left: 12px;
          color: #989898;
          z-index: 2;
          span { float: right; }
          .current-value { display: inline-block; }
        }
      }
    }
  }
}

.hide_promt {
  a {
    font-size: 12px;
    text-decoration: none;
    color: $base_message_color;
    &:hover {
      cursor: pointer;
      span.text {
        text-decoration: underline;
      }
    }
    button.close {
      float: left;
      margin: -2px 5px 0 0;
      opacity: 1;
      &.grey {
        color: #a2a2a2;
      }
      &.blue {
        color: #6ba5c2;
      }
      &.red {
        color: #cb7776;
      }
    }
  }
}

.popup_content, .simple_popup_content {
  .user_avatar {
    background-color: white;
    border: 1px solid #d3d3d3;
    padding: 2px;
    float: left;
    margin-right: 10px;
  }
}

.popup_content {
  .comment {
    padding: 10px;
    .comment_body {
      float: left;
      width: 80%;
      .action {
        color: $base_message_color;
        word-wrap: break-word;
      }
      .comment_footer {
        margin-top: 5px;
        .time_place_info {
          float: left;
          margin-right: 15px;
        }
        .actions {
          float: left;
          margin-top: 5px;
          a {
            background-repeat: no-repeat;
            background-image: url("activity_feed/icons_sprite.png");
            width: 9px;
            float: left;
            margin-right: 10px;
            &.comment_action {
              margin-top: 1px;
              height: 8px;
            }
            &.like_action {
              background-position: 0 -9px;
              height: 9px;
            }
            &.share_action {
              margin-top: 1px;
              background-position: 0 -18px;
              height: 7px;
            }
          }
        }
      }
    }
  }
  .like_count {
    background-color: #f4f4f4;
    height: 21px;
    padding: 2px 0 0 12px;
    color: #BDBDBD;
    font-size: 11px;
    .like_icon {
      background-repeat: no-repeat;
      background-image: url("activity_feed/icons_sprite.png");
      width: 9px;
      background-position: 0 -26px;
      height: 9px;
      margin-right: 10px;
      float: left;
      margin-top: 5px;
    }
  }
  .write_comment {
    height: 60px;
    padding: 10px 0 10px 10px;
    margin-top: 10px;
    background-color: #dfdfdf;
    .comment_box textarea {
      height: 50px;
    }
  }
  .see_more_link {
    float: left;
    margin-left: 10px;
  }
}

.simple_popup_content {
  .comment {
    padding: 10px;
    .comment_body {
      float: left;
      width: 80%;
      .action {
        color: $base_message_color;
      }
      .links {
        float: right;
        margin-top: 10px;
        font-size: 11px;
        span {
          display: block;
          float: left;
          &.icon {
            background-image: url("activity_feed/icons_sprite.png");
            background-repeat: no-repeat;
            margin-right: 5px;
            width: 10px;
            &.views {
              margin-top: 4px;
              height: 10px;
              background-position: 0 -35px;
            }
            &.responses {
              margin-top: 5px;
              height: 8px;
              background-position: 0 -45px;
            }
          }
          &.with-right-margin {
            margin-right: 10px;
          }
        }
      }
    }
  }
  .buttons {
    padding: 10px;
    background-color: #f4f4f4;
    a {
      width: 90px;
      height: 18px;
      padding-top: 1px;
      padding-bottom: 1px;
      &.left_btn {
        margin-right: 15px;
      }
      &.package_btn {
        width: 150px;
      }
    }
    &.right_align {
      text-align: right;
    }
  }
}

.time_place_info {
  color: #BDBDBD;
  font-size: 11px;
}

.active-field {
  background-color: #e3e3e3 !important;
}

#items_loader {
  background-color: #E2E2E2;
  padding: 5px;
  text-align: center;
  img { width: 22px; }
}
