#my_marketplace_widget {
  .user_status {
    background-color: #E2E2E2;
    display: inline-table;
    padding: 4px 0;
    width: 100%;
    .user_name {
      display: block;
      float: left;
      margin: 11px 10px 0 5px;
    }
    .user_select { float: left; margin: 0; }
  }
  .btn-group {
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #E2E2E2;
    .btn {
      color: #989898;
      height: 30px;
      padding-right: 5px;
      text-align: left;
      width: 110%;
      z-index: 1;
      span { float: right; }
      .current-value {
        display: -moz-inline-box;
        div { float: left; margin: 0 5px; }
      }
    }
    .dropdown-menu {
      margin-top: -2px;
      min-width: 113px;
      z-index: 20;
      li {
        height: 22px;
        a {
          display: -moz-inline-box;
          padding: 3px 0;
          img { margin: 0 5px}
          div { float: left; width: 20px; }
        }
        margin: 0 5px;
      }
      .divider {
        height: 1px;
      }
    }
  }
  border: 1px solid lightgray;
  a { text-decoration: none; }
  .accordion-heading {
    .accordion-toggle {
      background: black;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      color: white;
      font-size: 13px;
      font-weight: bold;
      overflow: auto;
      span { margin-left: 6px; padding-left: 6px; }
    }
  }
  #my_marketplace {
    .no_connections {
      padding: 25px 0;
      text-align: center;
    }
    background: white;
    .accordion-inner {
      padding: 0;
      .filter-form, .search-form {
        margin: 0;
        padding: 10px 0 0;
        text-align: center;
      }
      .search-form {
        background-color: #e2e2e2;
        .search-query { margin-bottom: 0; }
        input[type='text'] {
          background: url("icons/search-bg.png") no-repeat scroll 2px 3px white;
          float: left;
          margin-left: 5px;
          padding-left: 25px;
        }
      }
      .filter-form {
        background-color: #f3f3f3;
        padding: 10px 0;
      }
      .nav-list {
        max-height: 480px;
        padding-left: 0;
        padding-right: 0;
        .friend_row {
          border-top: 1px solid lightgray;
          .friend_logo {
            padding: 16px 0 0 10px;
            .status_icon { position: relative; }
          }
          .friend_info {
            padding: 5px 0;
            p { margin: 5px 0; min-height: 18px; }
            .last_seen { color: gray; }
            .new_connections {
              cursor: pointer;
              text-decoration: underline;
            }
            .friends_popup { display: none; }
          }
          .friend_message {
            padding-top: 8%;
            .message-icon, .message-icon-new { cursor: pointer; display: inline-block; height: 24px; width: 24px; }
            .message-icon { background-image: image-url("icons/message-icon.png"); background-position: 0 0; }
            .message-icon-new { background-image: image-url("icons/message-icon-new.png"); background-position: 0 0; }
            .indicator_container {
              display: inline-block;
              position: relative;
              span.badge {
                background-color: gray;
                display: none;
                margin-left: -10px;
                padding: 0 7px;
                position: absolute;
                top: -20px;
              }
            }
          }
          &.unread { background-color: #e3e3e3; }
        }
      }
    }
  }
}

.friend_logo {
  padding: 16px 0 0 10px;
  .status_icon {
    margin-top: -10px;
    margin-left: 62%;
    z-index: 11;
  }
}

.friends_popup .friend { padding: 5px; }

.friend_preview {
  z-index: 10;
  .header_part {
    .friend_logo { margin-right: 5px; }
    background-color: transparent;
    .last_seen { color: gray; }
    .friend_info {
      margin: 15px 0 5px 0;
      .status_icon {
        float: left;
        margin-right: 5px;
      }
    }
    p { margin: 0; }
    .comment_footer {
      margin-top: 5px;
      .actions {
        float: left;
        margin-top: 5px;
        a {
          background-repeat: no-repeat;
          background-image: url("activity_feed/icons_sprite.png");
          float: left;
          margin-right: 10px;
          width: 9px;
          &.comment_action {
            height: 8px;
            margin-top: 1px;
          }
          &.like_action {
            height: 9px;
            background-position: 0 -9px;
          }
          &.share_action {
            background-position: 0 -18px;
            height: 7px;
            margin-top: 1px;
          }
        }
      }
    }
  }
  .likes_part {
    background-color: #f4f4f4;
    height: 21px;
    color: #BDBDBD;
    font-size: 11px;
    .like_icon {
      background-repeat: no-repeat;
      background-image: url("activity_feed/icons_sprite.png");
      background-position: 0 -26px;
      float: left;
      height: 9px;
      margin: 5px 10px 0 12px;
      width: 9px;
    }
  }
  .messages_part {
    background-color: #dfdfdf;
    padding-bottom: 5px;
    text-align: right;
    textarea {
      border-radius: 0;
      border: 1px solid lightgray;
      height: 40px;
      margin: 10px 2% 0 0;
      padding: {
        bottom: 0;
        top: 0;
      };
    }
    .user-avatar {
      margin: 10px 5px 0 8px;
    }
    a {
      color: #b9b9b9;
      font-size: 10px;
      margin-right: 2%;
      text-decoration: underline;
    }
  }
  .arrow-right {
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid lightgray;
    height: 0;
    position: absolute;
    width: 0;
    top: 11px;
    right: -10px;
  }
  .arrow-right div {
    margin: -9px 0 0 -10px;
    border-top: 9px solid transparent;
    border-bottom: 9px solid transparent;
    border-left: 9px solid white;
    height: 0;
    width: 0;
  }
}

.friend_chat {
  background-color: #222222;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  bottom: 0;
  display: none;
  float: right;
  position: fixed;
  width: 285px;
  z-index: 1000;
  .operate_part {
    padding: 5px 0 0 0;
    .friend_name, .unread-msg {
      color: white;
      display: none;
      float: left;
      margin-left: 10px;
      margin-top: 1px;
    }
    .minimize-chat, .maximize-chat, .to-window, .close-chat {
      background-image: image-url("icons/chat_operations.png");
      background-color: transparent;
      background-repeat: no-repeat;
      cursor: pointer;
      float: right;
      margin: 5px 5px 5px 0;
      height: 16px;
      width: 16px;
    }
    .minimize-chat { background-position: -32px -0px; }
    .maximize-chat { background-position: -0px -0px; }
    .to-window { background-position: -64px -0px; }
    .close-chat { background-position: -16px -0px; }
  }
  .header_part {
    .friend_logo { margin-right: 5px; padding-top: 0; }
    .last_seen { color: gray; }
    .friend_info {
      color: white;
      margin: 0 0 5px 0;
      p.friend_name {
        color: white;
        display: inline-block;
        font-weight: bold;
      }
      p { padding-left: 5px; }
      .friend_status { display: inline-block; margin-left: 5px; }
    }
    p { margin: 0; }
  }
  .conversations_part {
    background-color: white;
    height: 180px;
    overflow-y: auto;
    .chat_message {
      border-bottom: 1px solid lightgray;
      .message_header, .message_text { padding: 6px; }
      .message_owner {
        float: left;
        font-weight: bold;
        &.friend_message { color: red; }
        &.self_message { color: gray; }
      }
      .message_time { float: right; }
      .message_text { clear: both; }
    }
  }
  .messages_part {
    background-color: #f5f5f5;
    padding-bottom: 5px;
    text-align: right;
    textarea {
      border-radius: 0;
      border: 1px solid lightgray;
      float: left;
      height: 36px;
      padding-left: 0;
      padding-right: 0;
      width: 99%;
    }
    a {
      color: #b9b9b9;
      font-size: 10px;
      margin-right: 2%;
      text-decoration: underline;
    }
  }
}
.friend-preview-pop-max-width { max-width:280px; }
