@import "shared/mixins";

.navbar {
  margin-bottom: 23px;
  .btn { margin-top: 9px; }
  .brand {
    margin: 0;
    padding: 10px 0;
  }
  .navbar-inner {
    box-shadow: none;
    color: #9b8b8b;
    padding: 10px 0 0 0;
    position: relative;
    @include gradient(top, #f2f2f2, #eeeeee);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2f2f2', endColorstr='#eeeeee');
    .container-fluid {
      max-width: none;
      .nav {
        li.menu-item {
          .menu-triger {
            font-size: 14px;
            padding: 20px 10px;
            min-width: 100px;
            text-align: center;
            text-shadow: none;
            color: #9b8b8b;
          }
          .min-width {
            text-align: center;
            min-width: 80px;
          }
          .width-menu { width: 99%; }
          .sub-menu {
            border: 1px solid #d1c1c1;
            border-top: none;
            background: #eee;
            border-radius: 0;
            margin: 0;
            min-width: 50px;
            padding: 0;
            right: 0;
            &:after, &:before {
              content: none;
            }
            a {
              color: #9b8b8b;
              position: relative;
              &:hover {
                background: #f8f2f2;
                color: #9b8b8b;
              }
              &:before, &:after {
                position: absolute;
                height: 1px;
                background: black;
                content: '';
                display: block;
                top: 0;
                left: 0;
                width: 100%;
                @include gradient(left, #d1c1c1, #eae8e8);
              }
              &:before {
                top: -1px;
                @include gradient(left, #fff, #eae8e8);
              }
              padding: 10px 15px;
            }
          }
          &:hover {
            position: relative;
            &:before, &:after {
              @include gradient(top, #f2f2f2, #d1c1c1);
              content: '';
              width: 1px;
              position: absolute;
              height: 59px;
              top: 0;
            }
            &:before { left: 0; }
            &:after { right: 0; }
            .dropdown-menu { display: block; }
            .menu-triger {
              color: #838a9c;
              &:hover { background: transparent; }
              &:before, &:after {
                @include gradient(top, #f2f2f2, #ffffff);
                content: '';
                width: 1px;
                position: absolute;
                height: 58px;
                top: 0;
              }
              &:before { left: 1px; }
              &:after { right: -1px; }
            }
          }
        }
        a[data-toggle*="dropdown"] {
          color: #9b8b8b;
          text-shadow: none;
          padding: 20px 10px;
          &:hover {
            color: #838a9c;
          }
        }
        a.notice-icon {
          color: #9d6263;
          i { opacity: 0.7; }
        }
        a#messages-dropdown,
        a#notification-dropdown {
          padding: 20px 10px;
        }
      }
    }
    &:after {
      content: '';
      bottom: 3px;
      left: 5%;
      right: 5%;
      box-shadow: 0 0 15px #000;
      border-radius: 1000px/10px;
      position: absolute;
      height: 14px;
      z-index: -1;
    }
  }
  a, a:active, a:focus { outline: none; }
  a:focus { -moz-outline-style: none; }
  button:focus { outline: none; }
}

.nav-collapse .dropdown-menu a:hover {
  background: transparent;
  color: #4572A7;
}

div#navigation-search {
  position: relative;
  display: inline-block;
  float: right;

  form#inline-navigation-search {
    position: relative;

     div.navigation-autocomplete-results {
       position: absolute;
       right: 0;
       top: 43px;
       left: -8px;
       background-color: #FFF;
       border-radius: 0 0 3px 3px;
       overflow: hidden;
       box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
       ul.popup-results {
         padding:0;
         margin:0;
         li {
           padding: 0;
           margin: 0;
           text-align: right;
           a {
             display: block;
             padding: 3px 5px;
             margin: 0;
             cursor: pointer;
             &:hover, &.bg { background-color: #0088CC; color: #FFF; text-decoration:none; }
           }
         }
       }
     }

    input[type='text']#search, div#select-search-type {
      float:left;
      margin-top: 8px;
      ul.dropdown-menu {
        margin-left: 5px;
        margin-top: -10px;
        z-index: 85;

        &>li { margin-top: 10px; }
        &>li+li { margin-top: 0; }

        li {

          a:hover {
            background-color: #0088CC;
            color: #FFF
          }
        }

      }
    }

    input[type='text']#search {
      background: url("icons/search-bg.png") no-repeat scroll 5px 3px #f7f7f7;
      border: 1px solid white;
      border-radius: 1px;
      box-shadow: inset 0px 0px 3px 0px #D7D7D7;
      height: 20px;
      margin: 13px 0 0 -8px;
      padding-left: 28px;
    }

  }

}

.ui-autocomplete {
  z-index: 1050!important; //over fixnavbar  
}
