/* News Ribbon on user dashboard */
@import "shared/mixins";

a.news-nav {
  display: block;
  width: 32px;
  height: 130px;
  background-repeat: no-repeat;
  text-indent: -9999px;
}

a.news-nav.left {
  background-image: image-url("arrow_left.png");
  background-position: 0 50%;
  float: left;
  outline: none;
}

a.news-nav.right {
  background-image: image-url("arrow_right.png");
  background-position: 100% 50%;
  float: right;
  outline: none;
}

#news-ribbon {
  height: 120px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding: 5px 5px 5px 10px;
  background: white;
  float: left;
  overflow: hidden;
  #news-slider {
    width: 880px;
    .news-item {
      width: 220px;
      margin: 0;
      background-color: white;
      background-position: 0 0;
      background-repeat: no-repeat;
      padding-top: 74px;
      height: 46px;
      .overlay {
        margin-right: 5px;
        height: 36px;
        padding: 5px;
        background: #333;
        font-size: 10px;
        line-height: 12px;
        font-weight: bold;
        opacity: 0.9;
        filter: alpha(opacity=90); /* For IE8 and earlier */
        overflow: hidden;
      }
    }
  }
}

.right-sidebar {
  margin: 9px 0;
}

#news_widget {
  margin-top: 10px;
  .accordion-heading {
    box-shadow: 0 4px 9px #9A9A9A;
    .accordion-toggle {
      background: #222222;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      color: white;
      font-size: 13px;
      font-weight: bold;
      overflow: auto;
      span {
        margin-left: 6px;
        padding-left: 6px;
      }
      .icon-news {
        background: url("newsfeed.png") no-repeat 0;
      }
    }
  }
}

#news {
  min-height: 100px;
  @include border_radius(0 0 10px 10px);
  background-color: #EEEEEE;
  border: 1px solid #A4A4A4;
  border-top: 0;
  box-shadow: 0 5px 7px #9A9A9A;
  .accordion-inner {
    border-top: none;
    margin: 0 18px;
    padding: 0;
    background-color: #9A9A9A;
    .item {
      .news_image {
        height: 200px;
        text-align: center;
      }
    }
    .carousel { margin-bottom: 0; }
    .carousel-caption {
      word-wrap: break-word;
      overflow: hidden;
      position: absolute;
      background-color: rgba(255, 255, 255, 0.54);
      color: #333333;
      padding: 5px 5px 4px;
      height: 48px;
      .row {
        min-width: 20px;
      }
      .news_logo {
        width: 20%;
        float: left;
        margin-right: 5px;
        text-align: center;
      }
      .news_caption {
        width: 77%;
        height: 50px;
        margin-top: -2px;
        float: left;
        .short_title { text-shadow: 1px 1px 0 white, 0 0 1em white }
      }
    }
    .left {
      img { left: 2px }
      box-shadow: 0 0 7px 6px #9A9A9A;
    }
    .right {
      img { left: 3px }
      box-shadow: 1px 0 7px 6px #9A9A9A;
    }
    .carousel-control {
      background-color: transparent;
      opacity: 1;
      border: none;
      border-radius: 0px;
      height: 100%;
      width: 17px;
      margin: 0 -15px;
      top: 0px;
      overflow: hidden;
      outline: none;
      img {
        position: absolute;
        top: 44%;
      }
    }
  }
}

.filter {
  background-color: #F5F5F5;
  position: relative;
  box-shadow: 0 8px 13px #F1F1F1;
  z-index: 20;
  border-bottom: 2px solid #E9E8E8;
  padding: 15px 0 14px 10px;
  .title {
    color: #7C7A7B;
    font-size: 24px;
    text-shadow: 1px 1px 0 white;
  }
}

.main_news_container {
  #news_container {
    border: 1px solid #CEC6C6;
    overflow: hidden;
    word-wrap: break-word;
  }
}

#loader {
  display: none;
  background-color: #E2E2E2;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  margin-left: 27%;
  margin-top: -50px;
  position: absolute;
  padding: 5px;
  text-align: center;
  img {
    width: 22px;
  }
}

#news_reader {
  height: 711px;
  overflow: hidden;
  padding-left: 0;
  .news_day_block, .news_container, .news_item {
    float: left;
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #efefef 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #efefef));
    background: -webkit-linear-gradient(top, #ffffff 0%, #efefef 100%);
    background: -o-linear-gradient(top, #ffffff 0%, #efefef 100%);
    background: -ms-linear-gradient(top, #ffffff 0%, #efefef 100%);
    background: linear-gradient(to bottom, #ffffff 0%, #efefef 100%);
  }
  .news_container {
    background: white;
    margin-left: 0px;
    width: 90%;
    float: left;
    position: relative;
    &::before {
      box-shadow: 8px -4px 7px 1px #E1DFDF;
      content: "";
      display: block;
      height: 110%;
      margin-left: -9px;
      margin-top: -4px;
      overflow: hidden;
      position: absolute;
      width: 10px;
      z-index: 22;
    }
    .news_info {
      margin: -4px 1% 0 1.5%;
      width: 9%;
      float: left;
      color: grey;
      .feed-type-activities, .feed-type-news {
        background: #E7E7E7;
        text-align: center;
        box-shadow: 1px 1px 0 #B0B0B0;
      }
      .feed-type-news { color: #BF5D5C }
      .feed-type-activities { color: #5BB976 }
      img { margin: 7px 0 }
    }

  }
  .news_date {
    font-size: 26px;
    line-height: 26px;
    text-align: center;
    margin: 2% 1%;
    color: #9096A7;
    width: 8%;
    float: left;
  }
  .news_day_block {
    border-bottom: 2px solid #DDDCDC;
    margin: -1px;
    width: 100%;
    overflow: hidden;
  }
  .active_date { background-color: #EBEBEB }
  .news_item {
    min-height: 70px;
    width: 97%;
    border-bottom: 2px solid #ECEBEB;
    border-left: 1px solid white;
    padding: 14px 20px 10px 10px;
    .span1 {
      color: #A2A2A2;
      margin-top: -5px;
    }
    .news_description {
      width: 88%;
      float: left;
      .title {
        margin: 0 8px 6px 0;
        .name {
          font-size: 16px;
          font-weight: bold;
          width: 100%;
          color: #AB7473;
          text-shadow: 1px 1px 0 white, 0 0 1em white;
        }
      }
      .description {
        width: 100%;
      }
    }
    .news_description img {
      padding: 2px;
      margin-right: 8px;
      border: 1px solid #D7D7D7;
      max-height: 110px;
      width: auto;
      align: left;
    }
  }
  .even { background: white }
  .odd { background: #F4F2F2 }
  .active_item { background: #DBDBDB }
}