@import "shared/mixins";

.navbar .nav > li > .dropdown-menu.notifications:after,
.navbar .nav > li > .dropdown-menu.messages-dropdown:after {
  border-bottom-color: #8d95aa;
}

ul.dropdown-menu.notifications {
  min-width: 400px;
}

ul.dropdown-menu.messages-dropdown,
ul.dropdown-menu.notifications {
  padding-bottom: 0px;
  max-width: 420px;
  padding-top: 0px;
  border: 1px solid #b1a8a8;
  a {
    white-space: pre-line;
    padding: 0px;
    display: inline;
  }
  li.messages_header {
    padding-top: 4px;
    div, a { line-height: 37px; }
    .title {
      color: #fff;
      margin-left: 15px;
      font-weight: bold;
    }
    .new_message {
      a, a:visited, a:hover, a:active {
        color: #fff;
        text-decoration: underline;
        margin-right: 15px;
      }
    }
    height: 37px;
    background-color: #8d95aa;
    border-bottom: 2px solid #f4f4f4;
  }
  li.show_all {
    background-color: #f1efef;
    text-align: center;
    a {
      line-height: 30px;
      color: #c4baba;
      display: block;
    }
  }
}

.notifications_list {
  p {
    font-weight: bold;
    margin-top: 15px;
    text-align: center;
  }
}

.notifications_list,
ul.dropdown-menu.messages-dropdown,
ul.dropdown-menu.notifications {
  table {
    width: 100%;
    margin: 0px;
    tr {
      td {
        padding: 12px 0px 8px 0px;
        a, a:hover, a:visited, a:active {
          font-weight: bold;
          color: #998a8a;
        }
        .description {
          color: #9e9d9d;
          .header {
            display: inline;
            margin-right: 4px;
            a, a:hover, a:visited, a:active {
              color: #9c6261;
            }
          }
        }
        .info {
          .sender {
            a, a:hover, a:visited, a:active {
              color: #9c6261;
            }
          }
          .subject {
            a {
              white-space: normal;
              color: #9e9d9d;
              &:hover, &:visted, &:active { color: #9e9d9d; }
            }
          }
        }
        .created_at {
          color: #b2b2b2;
          .when { margin-top: 5px; }
        }
      }
      td.actor{
        div {
          overflow: hidden;
          width: 44px;
          height: 44px;
          word-wrap: break-word;
          img {
            border: 1px solid #999999;
            float: left;
            padding: 2px;
            width: 38px;
            height: 38px;
          }
        }
        padding-left: 14px;
        padding-right: 14px;
        width: 48px;
      }
      td.icon {
        width: 10px;
        padding-left: 0px;
        padding-right: 12px;
        padding-top: 26px;
      }
      td.close_button {
        padding-top: 6px;
        width: 24px;
        i {
          display: none;
          cursor: pointer;
          position: absolute;
       }
      }
      min-height: 72px;
      border-top: 1px solid #ededed;
    }
    tr.date_sent {
      background-color: #e3e3e3;
      color: #3f3f3f;
      height: 30px;
      font-weight: bold;
      span {
        position: absolute;
        white-space: nowrap;
        margin-left: 15px;
        margin-top: -5px;
      }
    }
    tr.unread {
      background-color: #f2f3f4;
      a, a:visited, a:hover, a:active {
        color: #8d95aa;
      }
    }
    tr:hover {
      background-color: #e9ecef;
      td.close_button {
        i { display:block; }
      }
    }
  }
}

.hide_notification_popup {
  min-width: 150px;
  .arrow-left {
    height: 0;
    position: absolute;
    width: 0;
    top: 11px;
    left: -10px;
    div {
      margin: 0px 0 0 1px;
      border-top: 9px solid transparent;
      border-bottom: 9px solid transparent;
      border-right: 9px solid white;
      height: 0;
      width: 0;
    }
  }
  button.close {
    float: left;
    margin: -2px 5px 0 0;
    opacity: 1;
    &.grey { color: #a2a2a2; }
    &.blue { color: #6ba5c2; }
    &.red { color: #cb7776; }
  }
}

.notifications_header {
  background-color: #F4F4F4;
  padding: 20px 30px;
  text-align: right;
}
