/* -----------------------------------------
Opportunities Index
----------------------------------------- */

dl.opportunities-subnav {
  margin-top: 5px;
  text-transform: uppercase;
  font-size: 12px;
  dd {
   margin-right: 5px; 
  }
}

div.search-result {
  margin-bottom: 10px;
  a.name {
    font-size: 14px;
    display: block;
  }
  div.title {
    color: #555;
    font-size: 12px;
    line-height: 14px;
  }
  div.location {
    color: #555;
    font-size: 10px;
    line-height: 12px;
  }
}

/* -----------------------------------------
Modal Window
----------------------------------------- */

div#opportunity-create {
  text-align: center;
}

div#opportunity-detail {
  table {
   width: 100%;
  }
  textarea {
    width: 100%;
    height: 100px;
  }
  h5 {
    font-size: 12px;
  }
  div.nav-buttons {
    margin-bottom: 15px;
  }
}

.small.button.prev_button {
  padding: 8px 20px 10px 25px;
	img {
	 position:absolute;
	 left:10px;
	 top:10px;
	}
}

.small.button.next_button {
  padding: 8px 25px 10px 20px;
  img {
	 position:absolute;
	 right:10px;
	 top:10px;
	}
}

/* -----------------------------------------
Demo create opportunitiy navigation
----------------------------------------- */

.opportunity-next-step {
  width: 90px;
  height: 35px;
  position: absolute;
  bottom: 12px;
  right: 240px;
}

.opportunity-publish {
  width: 90px;
  height: 35px;
  position: absolute;
  bottom: 7px;
  right: 152px;
}