@import "shared/mixins";

#package_items {
  background-color: #F5F5F5;
  border: 1px solid #DDD;
  @include border_radius(3px);
  margin-top: 10px;
  .package_item {
    background-color: white;
    border: 1px solid #DDD;
    @include border_radius(3px);
    margin: 10px;
    padding: 4px;
    z-index: 2;
    &.shadow {
      -moz-box-shadow: 3px 3px 2px #dddddd;
      -webkit-box-shadow: 3px 3px 2px #dddddd;
      box-shadow: 3px 3px 2px #dddddd;
    }
    .package_icon { float: left; }
    .package_overview {
      background-color: white;
      float: left;
      height: 100px;
      width: 250px;
      h4 { font-size: 14px; margin: 4px 0 4px 10px; }
      p {
        margin: 0 0 2px 10px;
        color: #333;
      }
    }
  }
}

.package_modal#bootstrap_modal {
  font-size: inherit;
  margin-left: -450px;
  width: 900px;
  fieldset {
    border: none;
    margin: 0;
    padding: 0;
  }
  .modal-body {
    overflow-y: auto;
    max-height: 367px;
    .nav { margin-bottom: 0; }
    .tab-content .active {
      border: 1px solid #DDD;
      border-top: none;
      padding-top: 18px;
      padding-bottom: 18px;
    }
    .nice-container {
      background-color: #F5F5F5;
      border: 1px solid #DDD;
      border-radius: 3px;
      margin-top: 10px;
    }
    .ads-in-package {
      padding: 10px;
    }
    h4.empty-package {
      color: gray;
      text-align: center;
    }
  }
}
