@import "shared/mixins";

.modal {
  border-radius: 0;
  overflow: hidden;
  font-size: 18px;
  line-height: 27px;
  background-color: #F5F5F5;
  width: auto;  

  #error_explanation {
    font-size: 13px;
    h2 {
      font-size: 15px;
    }
    margin-bottom: 5px;
  }

  .modal-header {
    border: 0 none;
    padding: 0;
    button.close {
      margin: 7px 11px 0 0;
      font-size: 22px;
      font-weight: normal;
    }
    h3 {
      color: #686868;
      padding: 15px 25px;
    }
  }

  .modal-body {
    padding: 0 25px 15px;
  }

  .modal-footer {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    box-shadow: none;
    padding: 14px 25px 15px;
    a, button, input {
      float: left;
    }
    .violet {
      margin-right: 10px;
    }
    .btn-primary {
      background-color: #707070;
      background-image: -moz-linear-gradient(center top , #909090, #3F3F3F);
      background-repeat: repeat-x;
      border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
      color: #FFFFFF !important;
      text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
      &:hover {
        background-color: #3F3F3F;
        background-position: 0 -15px;
      }
    }
  }
}
