/* Questions show page */

#liked-by-users {
  margin: 0;
  ul {
    margin: 0;
    padding: 0;
    li {
      margin-bottom: 0;
    }
  }
}

#other-questions .whitebox{
  margin-top: 10px;
  margin-bottom: 0px;
}

.question-detail {
  margin-top: 20px;
  .question-text {
    word-wrap: break-word;
    padding: 0 10px 10px 0;
    h4 {
      color: #cc0000;
    }
  }
}

.question-time-ago {
  position: absolute;
  top: 5px;
  right: 10px;
}

#answer-list {
  padding-top: 20px;
}

.answer { word-wrap: break-word }

.answer-like-cnt {
  background: #ccc;
  font-size: 2em;
  line-height: 1em;
  padding: 4px 12px;
  -moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	width: 15px;
	margin: 10px auto;
}

.like-arrow-up {
	width: 0;
	height: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-bottom: 15px solid green;
	margin: 0 auto;
}

.like-arrow-down {
	width: 0;
	height: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-top: 15px solid red;
	margin: 0 auto;
}

#add-answer {
  width: 510px;
  height: 60px;
}

#post_visibility_input {
  padding-bottom: 0;
  a {
    background: url(share_with.png) no-repeat;
    margin: 3px 0 3px 10px;
    padding: 0 0 0 20px;
    height: 14px;
  }
  ul { z-index: 3; }
  button {
    width: 100%;
    div {
      background: url(share_with.png) no-repeat;
      margin: 3px 0;
      padding: 0 0 0 20px;
      height: 14px;
    }
  }
  .private-visibility { background-position: 0 -42px;  }
  .connections-visibility { background-position: 0 -14px;  }
  .custom-visibility { background-position: 0 -28px;  }
}
