.mod-requests {
  padding: 20px 10px;
  min-height: 300px;
  .mod-filter {
    .row-fluid:first-child {
      margin: 0 0 20px;
      .incoming, .outgoing {
        font-weight: bold;
        height: 30px;
        line-height: 30px;
        margin: 0 10px 0 0;
      }
      .incoming span, .outgoing span {
        background: image-url("incoming.png") no-repeat 100% 40%;
        padding: 0 30px 0 0;
      }
      .outgoing span {
        background: image-url("outgoing.png") no-repeat 100% 40%;
      }
    }
    input[type="text"] {
      width: 95%;
    }
    .btn-group button {
      height: 38px;
      width: 95%;
    }
  }
}

.mod-connections {
  table#requests {
    tbody {
      tr.odd { background: #f2f2f2; }
      tr.even { background: #fff; }
    }
    border: 1px solid #cfcfcf;
    th {
      color: #9a9fab;
      cursor: default;
      min-height: 10px;
      padding: 0 10px;
      text-align: left;
      &.head {
        background-color: #fff;
        height: 10px;
      }
    }
    tr {
      td {
        &.user {
          .block_user {
            background: image-url("block.png") no-repeat 0 0;
            display: none;
            height: 20px;
            vertical-align: middle;
            width: 20px;
          }
          .user a {
            color: #9096a6;
            line-height: 24px;
          }
        }
        &.location {
          color: #a4aaba;
          text-align: right;
          .row-separator {
            font-size: 11px;
            padding: 0 10px;
          }
        }
        &.options {
          width: 15%;
          .btn {
            font-weight: bold;
            width: 76%;
          }
        }
      }
    }
    tr:hover {
      td {
        &.user {
          .block_user {
            display: inline-block;
          }
        }
      }
    }

  }
}
