body.search {
  div.container-fluid {

    a.btn:hover {
      text-decoration: none !important;
    }
    div.row-fluid {
      div#menu-left { padding: 12px 0; }

      div#content {
        position: relative;
        padding: 20px;
        margin-top: 12px;
        border-radius: 7px;
        border: 1px solid #999;
        background-color: #FFF;

        div#section-body {
          padding:0;
          margin:0;

          div.search-header {
            .search-glass { margin-top: -5px; }
          
            h3 { padding-top: 0; margin-top: 0; }

            h3+p { color: #999; padding: 15px 19px; }
          }

          div.inline-search-form {

            select#filter { width: 80px; float: left; }

            input#search {
              float: left; width: 200px;
              margin: 1px 0 0 10px;
              padding-left: 30px;
              background: transparent url("icons/search-bg.png") 5px 3px no-repeat;
            }

            div#select-search-type {
              float: left;

              ul.dropdown-menu {
                margin-top: -5px;
                z-index: 90;
                width: 156px !important;

                li { margin-top:5px; }
                li+li { margin: 0; }
              }
            }

            button.dropdown-toggle-search {
              width: 162px;
              float: left;
              height: 30px;
              position: relative;
              z-index: 100;
              span.caret { float: right; }
              div.current-value { text-align: left; }
            }
          }

          div.search-results {
            margin: 15px -10px;

            table {
              width: 100%;

              tbody {
                tr {
                  margin-bottom: 10px;
                  border-bottom: 10px solid transparent;

                  td { 
                    width: 70%;

                    div.connection-details {
                      display: inline-block;
                      float: left;
                      width: 80%;
                      margin: -5px 0 0 25px;

                      div.divider { width: 100%; clear: both; }
                      div.status { color: #999; }
                      div.description { color: #999; font-size: 110%; padding-top: 5px; }
                    }
                  }
                  td+td { width: 25% }
                }
                tr.found-people, tr.found-posts, tr.found-agencies, tr.found-companies {
                  td {

                    a { 
                      color: #000;

                      &:hover { text-decoration: underline; }
                    }
                  }
                  td+td {
                    a {
                      float: left;

                      &.btn-primary { color: #FFF; margin-left: 5px; }
                    }
                  }
                }
                tr.found-brands {
                  td {

                    a { 
                      color: #3aad55;
                      float: left;

                      &:hover { text-decoration: underline; }
                    }
                  }
                  td+td {
                    a {
                      color: #000;

                      &.btn-primary { color: #FFF; margin-left: 5px; }
                    }
                  }
                }
                tr.found-agencies {
                  td {

                    a { 
                      color: #d45b02;
                      float: left;

                      &:hover { text-decoration: underline; }
                    }
                  }
                  td+td {
                    a {
                      color: #000;
                      &.btn-primary { color: #FFF; margin-left: 5px; }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    div#widget {
      margin-top: 3px;
    }
  }
}
