// Place all the styles related to the Settings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$red_beanstock: #840000; //oxblood, used in H? 
$gray_light:    #e6e6e6; //light gray or 
$saturated_blue: #1E90FF;
#admin{
  border: 10px solid $red_beanstock;
  padding: 20px;
}
#settings{
  position: relative;

  h1, h2 {
    color: $red_beanstock;
  }
  h1{
    font-size: 3em; //38pt;
    text-transform: none;
  }

  .light-graybox, .light-graybox-panel{
    background: none repeat scroll 0 0 $gray_light;
    overflow: hidden;
    position: relative;
  }
  .light-graybox-panel{
    margin: 0 3em;
    padding: 2em 5em;
  }
  .field{
    width: 500px;
    display: block;
    clear: left;
    label{
      float: left;
      text-align: right;
      width: 100px;
      margin-right: 10px;
    }
    input{
      //width: 200px;
    }
  }
  ul#setting-tabs{
    position: absolute;
    top: 18px;
    left: 160px;
    margin-left: 0px;
    li{
      display: inline;
      list-style-type: none;
      padding-right: 20px;
    }
    a {
      font-size: 1.2em;
      color: $saturated_blue;
    }
   } 
}