@import "shared/mixins";

[class*="signup"] {
  .span12 { min-height: 800px; }
  .process-head {
    h1 { margin-top: 35px; }
  }
  h4.signup-subtext {
    margin: 15px;
  }
  fieldset {
    padding: 0;
    margin: 0;
    border: 0;
    .controls select {
      display: inline-block;
      min-width: 170px;
    }
  }

  .progress-striped .bar {
    background-color: #149BDF;
    @include signup_backgroud_image;
    @include background_size(40px, 40px);
  }

  .icon-my-question {
    background: image-url("icons/circle_question_mark.png") 0 0;
    width: 20px;
    height: 20px;
  }

  .exp p { margin-bottom: 0; }

  .add-connection-tile {
    background-color: white;
    height: 70px;
    margin-bottom: 20px;
    border-radius: 3px;
    float: left;
    p { margin: 15px 0px; }
    .add-connection-checkbox {
      padding-top: 30px;
      padding-left: 10px;
    }
  }
  .span2 { width: 170px; }
  .span6 { width: 570px; }

  .user-pic-small {
    width: 50px;
    height: 50px;
    background-color: #555;
    margin-top: 10px;
    margin-right: 10px;
  }

  p.leftFloat {
    margin-top: 25px;
  }

  #skill-list { min-height: 18px; }
  #connections { margin-top: 15px; }
}
