#suggested_users_widget {
  border: 1px solid lightgray;
  border-radius: 5px;
  margin-bottom: 18px;
  .heading {
    padding: 8px 15px;
    background: #222222;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    color: white;
    font-size: 13px;
    font-weight: bold;
    i.icon-th { background-position: -217px -121px; }
    span {
      margin-left: 6px;
      padding-left: 6px;
    }
  }
  #suggestedUsersCarousel {
    background: #222222;
    margin: 0;
    padding: 10px 0;
    .item { width: 100%; }
    .carousel-inner {
      margin: 0 20px;
      text-align: center;
      width: auto;
    }
    .carousel-control {
      border: none;
      background: transparent;
      height: 85%;
      top: 25%;
      font-size: 48px;
      color: white;
      width: 9%;
      &.left { left: 0; }
      &.right { right: 0; }
      span {
        position: absolute;
        top: 30%;
        &.align_left { left: 30%; }
        &.align_right { right: 30%; }
      }
    }
    .ava {
      border: 1px solid black;
      display: inline;
      cursor: pointer;
      background-color: white;
      margin: 7px 1%;
      width: 20%;
      &.current {
        overflow: visible;
        border: 1px solid yellow;
        -moz-box-shadow: 0 0 5px 1px white;
        -webkit-box-shadow: 0 0 5px 1px white;
        box-shadow: 0 0 5px 1px white;
      }
    }
  }
  #suggestedUserCarousel {
    position: relative;
    .item { width: 100%; display: none; }
    background-color: white;
    margin: 0 20px;
    padding: 10px;
    .carousel-inner { width: auto; }
    .carousel-control {
      border: none;
      background: transparent;
      top: 50%;
      font-size: 32px;
      color: gray;
      cursor:pointer;
      height: 100%;
      top: 20px;
      width: 20px;
      span { position: absolute; top: 43%; left: 25%; }
      &.left { left: -20px; }
      &.right { right: -20px; }
    }
    .user-ava {
      float: left;
      margin-right: 3%;
      width: 40%;
    }
    .user-info {
      float: left;
      width: 57%;
      h4 { color: #b64240; }
      h5 { font-size: 13px; }
      p { margin: 0 0 5px 0; }
    }
    .buttons {
      clear: both;
      text-align: right;
      width: 100%;
    }
  }
}

.suggested-users-list {
  margin: 0;
  max-height: 900px;
  min-height: 100px;
  overflow: auto;
  li {
    padding: 10px;
    border-bottom: 1px solid lightgray;
    .actions {
      text-align: right;
    }
  }
}

#profile_type {
  float: left;
  .dropdown-menu {
    background-color: #E8ECED;
    margin-left: 1px;
    min-width: 110px;
    li a { text-align: left; }
  }
  .dropdown-toggle-search {
    min-width: 118px;
  }
}

#actions_bar {
  #suggested_users_search {
    background: url("icons/search-bg.png") no-repeat scroll 5px 3px white;
    padding-left: 28px;
  }
}
