@import "shared/vars";

.tab_cards_container {
  height: 440px;
  overflow: hidden;
  .tab_card {
    float: left;
    border: 1px solid $border_color;
    background-color: #f0f0f0;
    margin: 9px 0 0 9px;
    padding: 11px;
    &:last-child {
      margin-bottom: 9px;
    }
    &:first-child {
      margin-left: 9px;
    }
    .logo {
      float: left;  
      margin: 2px 14px 2px 0;
      padding: 3px;
      background-color: white;
      border: 1px solid $border_color;
    }
    .name, .title, .city_and_country, .company-name {
      margin-bottom: 1px;
    }
    .name {
      font-size: 19px;
    }
    .title, .city_and_country, .company-name {
      font-weight: bold;
    }
    .description {
      color: #A9A9A9;
      font-size: 11px;
    }
  }
}
