@import "shared/mixins";

.mod-connections {
  color: #a1a1a1;
  table:first-child {
    z-index: 1;
  }
  .scrolling_inner {
    border: 1px solid #bababa !important;
    margin: 7px 0 0;
  }
  table {
    margin: 1px 0 0;
    width: 100%;
    thead tr th:not(.section-search) {
      background-color: #f5f5f5;
      color: #b3b2b8;
      font-size: 13px;
      height: 26px;
      padding: 0 5px;
      text-align: center;
      vertical-align: middle;
    }
    th, td {
      padding: 0;
      &.user { width: 30%; }
      &.location { width: 49%; }
      &.options { width: 18%; }
    }
    .header:not(.section-search) {
      cursor: pointer;
    }
    .header span:after {
      border-color: #bdbdbd transparent;
      border-style: solid;
      border-width: 0 4px 4px;
      content: "";
      display: inline-block;
      margin: 0 0 3px 5px;
      visibility: hidden;
    }
    .header:not(.section-search):hover {
      span:after { visibility: visible; }
    }
    .headerSortDown span:after, .headerSortDown span:hover:after {
      opacity: 0.6;
      visibility: visible;
    }
    .headerSortUp span:after {
      border-color: #bdbdbd transparent;
      border-style: solid solid none;
      border-width: 4px 4px medium;
      opacity: 0.6;
      visibility: visible;
    }
    .section-search {
      height: 60px;
      vertical-align: middle;
      input[type="text"] {
        margin: 0 0 0 7%;
        width: 90%;
      }
      .span10 { width: 82%; }
      .span2 {
        padding-right: 0.5%;
        margin-left: 0;
        width: 18%;
      }
      #nice_filter {
        padding-left: 0;
        padding-right: 0;
        float: right;
      }
      .dropdown-toggle-search {
        height: 35px;
      }
      .btn-primary {
        font-size: 12px;
        font-weight: normal;
        line-height: 18px;
        min-height: 18px;
        text-shadow: none;
        width: 100%;
      }
    }
    .section-connections {
      div.row-separator {
        border-right: 2px solid #dbdbdb;
        min-height: 73px;
      }
    }
  }
  table.table {
    tbody {
      tr:nth-child(2n+1) { background-color: #f5f5f5; }
      tr:nth-child(2n) { background-color: #f0f0f0; }
      tr:hover td { background-color: #f0f0f0; }
      td {
        color: #8a8a8a;
        padding: 10px 5px;
        p {
          font-size: 12px;
          margin: 1px 0;
        }
        &.user {
          color: #b8b8b8;
          .span3 {
            text-align: center;
          }
          span {
            vertical-align: top;
            &.agency, &.brand, &.publisher,
            &.user, &.advertiser {
              font-size: 15px;
              font-weight: bold;
            }
            &.agency a { color: #95cfa3; }
            &.brand a { color: #de8f57; }
            &.publisher a { color: #7bafc7; }
            &.user a { color: #cf8686; }
            &.advirtaser a { color: red; }
          }
          p { font-weight: bold; }
        }
        &.location{
          p {
            color: #bfbfbf;
            &.company_name {
              color: #919191;
              font-size: 13px;
              font-weight: bold;
              text-decoration: underline;
            }
          }
        }
        &.options {
          vertical-align: middle;
          .btn {
            margin: 5px 0;
            width: 87%;
          }
        }
      }
    }
  }
}

.btn_small {
  font-size: 11px;
  line-height: 16px;
  padding: 5px 9px;
}
ul.ui-autocomplete {
  font-size: 13px;
  border-radius: 0;
  position: absolute;
  list-style: none;
  margin: 0;
  padding: 0;
  border: solid 1px #999;
  cursor: default;
  li {
    border-radius: 0;
    background-color: #fff;
    border-top: solid 1px #ddd;
    margin: 0;
    padding: 0;
    a {
      border-radius: 0;
      color: #000;
      display: block;
      padding: 3px;
    }
    a.ui-state-hover, a.ui-state-active {
      background-color: #fffcb2;
    }
  }
}

.accordion-group {
  border: none;
  a { text-decoration: none; }
  .accordion-heading {
    .accordion-toggle {
      background: black;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      color: white;
      font-size: 13px;
      font-weight: bold;
      span {
        margin-left: 6px;
        padding-left: 6px;
      }
    }
  }
}

.friends_popup .friend { padding: 5px; }

.default-cursor { cursor: default }

 #update_module.span12 {
   #spinner{
     margin-left: 50%;
     margin-top: 1%;
   }
  .row-fluid { position: relative; }
}
#add_new_entry {
  width: 700px;

  select {
    margin-right: 10px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px;
  }

  input {
    color: #555555;
    font-size: 13px;
  }

  textarea {
    width: 270px;
    height: 200px;
  }

  .modal-header {
    .rightFloat {
      float: right;
      margin-left: 10px;
    }
  }

  .modal-body {
    div.form_container {
      display: none;
      &.visible_form {
        display: block;
      }
      form {
        margin: 0 0 18px;
        .nav-tabs {
          margin: 0;
          li {
            a {
              font-size: 13px;
              line-height: 18px;
              padding: 8px 12px;
              color: #4183C4;
            }
            &.active a {color: #555555;}
          }
        }
        .tab-content {
          height: 310px;
          overflow: auto;
          h4 { margin: 10px; }
          input, select, textarea { margin: 0}
          .active {
            border-color: #DDDDDD #DDDDDD;
            border-right: 1px solid #DDDDDD;
            border-style: none solid solid;
            border-width: medium 1px 1px;
            padding-bottom: 18px;
            padding-top: 18px;
            .control-group {
              .control-label {
                float: left;
                padding-top: 5px;
                text-align: right;
                width: 140px;
              }
              .controls {
                margin-left: 160px;
              }
              .link {
                color: #4183C4;
                text-decoration: none;
                font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
                font-size: 13px;
                &:hover {
                  cursor: pointer;
                  text-decoration: underline;
                }
                &.inline_block {
                  display: inline-block;
                }
              }
            }
          }
          .associations {
            .controls {
              margin-bottom: 0;
              .association{
                input {
                  margin: 0 20px 18px 0;
                }
                .delete_association {
                  vertical-align: top;
                  margin-top: 4px;
                  float: none;
                  font-size: 20px;
                  opacity: 0.6;
                }
              }
              &.link {
                margin-bottom: 18px;
              }
              .help_block {
                color: #555555;
                padding-top: 6px;
                font-size: 13px;
              }
            }
          }
          .ad_types {
            .ad-type-accepted-cat {
              background-color: #F5F5F5;
              border: 1px solid rgba(0, 0, 0, 0.05);
              @include border_radius(4px);
              box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
              float: left;
              margin: 10px;
              min-height: 20px;
              padding: 19px;
              width: 240px;
              .checkbox input {
                margin-left: -18px;
                margin-top: 3px;
              }
            }
          }
          #error_explanation {
            font-size: 13px;
            padding-left: 20px;
            h2 {font-size: 18px;}
          }
          .description {
            .control-group .controls { margin-bottom: 9px; }
          }
        }
      }
    }
  }

}
.loader {
  background: url("/assets/spinner.gif") no-repeat scroll 50% center rgba(0, 0, 15, 0.1);
  height: 80% ;
  position: absolute;
  width: 100% ;
}