@import "shared/mixins";
@import "shared/vars";

/* Pop-up profile */

.qtip-wrapper {
  -webkit-box-shadow: 9px -1px 12px rgba(50, 50, 50, 0.36);
  -moz-box-shadow:    9px -1px 12px rgba(50, 50, 50, 0.36);
  box-shadow:         9px -1px 12px rgba(50, 50, 50, 0.36);
}

.popup-profile {
  h2 {
    font-size: 1.4em;
    line-height: 1em;
    margin: 0;
    padding: 0;
  }
  p {
    margin: 0;
    padding: 0;
  }
}

.view_profiles .view_activity.options_wrapper {
  background-color: white;
}

#update_module #spinner{
  margin-left: 50%;
  margin-bottom: 2%;
}

.profile_main_content {
  border: 1px solid $border_color;
  a {
    color: #9c6261;
    &.button {
      color: white;
    }
  }
  .profile_header {
    border-bottom: 1px solid #fafafa;
    padding: 10px 10px 10px 18px;
    height: 46px;
    @include gradient(top, #fdfcfc, #ededed);
    .profile_name {
      float: left;
      font-size: 19px;
      padding-top: 4px;
    }
    .right_actions {
      float: right;
      .social_networks {
        float: left;
        margin: 1px 0 0;
        li {
          float: left;
          margin-right: 10px;
        }
      }
      a.button {
        float: left;
        margin-top: 2px;
        &.with_right_margin {
          margin-right: 10px;
        }
      }
    }
  }
  .profile_content {
    @include gradient(top, #eaeaea, #f4f4f4);
    padding: 11px;
    .user_logo {
      float: left;
      border: 1px solid #a1a1a1;
      margin-right: 11px;
      padding: 2px;
      .edit_photo_buttons {
        display: none;
        position: absolute;
        padding: 40px 8px;
        .fileinput-button input { -moz-transform: translate(-427px, 0) scale(4); }
        .button:first-child {
          margin: 0 0 5px;
          float: none;
        }
      }
      &:hover .edit_photo_buttons {
        display: block;
      }
    }
    .title, .location, .about_me, .company-name {
      font-weight: bold;
      margin-bottom: 5px;
    }
    .location, .about_me {
      font-size: 12px;
    }
    .description {
      color: $text_color;
      font-size: 11px;
      width: 75%;
      margin-bottom: 5px;
    }
  }
  .tabs {
    ul.nav {
      margin: 0;
      border-bottom-color: $border_color;
      border-top: 1px solid #dbd6d7;
      @include gradient(top, #e0dfdf, #f3f3f3);
      padding-top: 8px;
      li {
        margin-left: 11px;
        a {
          border-radius: 0;
          font-size: 11px;
          height: 16px;
          padding: 5px 16px 5px;
          color: #b9a4a4;
          border-color: #d9d9d9 #d9d9d9 $border-color;
          @include gradient(top, white, #f8f8f8);
          &:hover {
            @include gradient(top, #f8f8f8, white);
          }
        }
        &.active {
          a {
            @include gradient(top, #f8f8f8, white);
            border-color: $border_color $border_color white;
            font-weight: bold;
          }
        }
      }
    }
    .tab-content {
      background-color: white;
      .tab-pane {
        background-color: white;
      }
      #profile_achievements {
        div.achivement_content {
          height: 436px;
          overflow: hidden;
          outline: none;
          #activity_achievements, #all_achievements {
            .left {
              min-height: 1px !important;
              float: left !important;
            }
            .min-height-none { min-height: 0 !important; }
            .span12.none-margin { padding: 8px 0 8px 0; }
            .margin-padding {
              padding: 10px;
              margin-left: 0;
            }
            .name, .description {
              min-height: 0;
              margin-bottom: 5px;
            }
            .name {
              font-size: 17px;
              color: #9ca1ac;
            }
            .name_activity {
              font-size: 11px;
              font-weight: bold;
            }
            .progress.progress-striped {
              @include gradient(top, #e4e4e4, #b2b2b2);
              @include border_radius(14px);
              height: 11px;
              margin-top: 2px;
              margin-bottom: 0;
              .bar {
                @include border_radius(14px);
                height: 11px;
              }
              .red_color_bar { @include gradient(top, #cfb1b2, #a27476); }
              .blue_color_bar { @include gradient(top, #a2aabd, #636d89); }
              .grey_color_bar { @include gradient(top, #c6c6c6, #7f7c7c); }
              .violet_color_bar { @include gradient(top, #cabfcf, #846e90); }
            }
            .description {
              color: #A9A9A9;
              font-size: 11px;
            }
          }
        }
      }
      .no_items {
        margin: 10px;
      }
      #profile_connections .tab_cards_container {
        margin-bottom: 10px;
        outline: none;
      }
      #profile_experience {
        padding: 6px 0 12px;
        .add_experience {
          float: right;
          margin: 0 6px;
        }
        .with_scroll {
          margin-top: 6px;
          height: 450px;
          overflow: hidden;
          outline: none;
          border-top: 1px solid $border_color;
          border-bottom: 1px solid $border_color;
          .one_experience {
            width: 100%;
            margin: 0;
            height: 175px;
            border-bottom: 1px solid $border_color;
            td {
              padding: 0;
              border-bottom: 1px solid $border_color;
            }
            .date_range {
              color: #9298a8;
              border-right: 1px solid $border_color;
              @include gradient(top, white, #efefef);
              filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ebebeb');
              text-align: center;
              font-weight: bold;
              width: 75px;
              table {
                background: transparent;
                width: 100%;
                height: 100%;
                margin: 0;
                td {
                  text-align: center;
                  border: 0;
                  .month {
                    font-size: 11px;
                  }
                  .year {
                    font-size: 16px;
                  }
                }
                tr.start_date td {
                  vertical-align: bottom;
                  padding-bottom: 10px;
                }
                tr.end_date td {
                  padding-top: 7px;
                }
              }
            }
            .info {
              color: #7a7a7a;
              &:hover {
                .action_buttons {
                  display: block;
                }
              }
              .action_buttons {
                position: absolute;
                top: 0;
                right: 0;
                float: right;
                display: none;
                padding: 9px;
              }
              .content {
                padding: 16px 25px;
                position: relative;
                .main-info, .period {
                  margin-bottom: 7px;
                }
                .main-info {
                  .company_logo {
                    padding: 2px;
                    border: 1px solid $border_color;
                    float: left;
                    margin-right: 15px;
                  }
                  .position {
                    font-size: 16px;
                    margin-bottom: 8px;
                  }
                  .company {
                    font-size: 15px;
                    margin-bottom: 5px;
                  }
                  .company_title {
                    font-size: 11px;
                    color: #A9A9A9;
                  }
                }
                .period, .description {
                  font-size: 11px;
                }
                .description {
                  color: #969696;
                }
              }
            }
            &:nth-child(odd) .info {
              @include partial_gradient(left, #e3e3e3, white, 2%);
              &.active-mode:hover {
                @include partial_gradient(left, #e3e3e3, #f4f2f2, 2%);
              }
            }
            &:nth-child(even) .info {
              @include partial_gradient(left, #dbdbdb, #f7f7f7, 2%);
              &.active-mode:hover {
                @include partial_gradient(left, #dbdbdb, #f4f2f2, 2%);
              }
            }
          }
        }
      }
      .switcher {
        @include gradient(top, #f9f9f9, #efefef);
        border: 1px solid $border_color;
        border-left-width: 0;
        border-right-width: 0;
        color: $text_color;
        font-size: 11px;
        padding: 2px 0 2px 15px;
        margin-top: 12px;
        a {
          color: $text_color;
          &:hover, &.active {
            color: #898989;
          }
          &.active {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

.user_profile_popup, .experience_popup {
  overflow: visible;
  width: 480px;
  input, textarea { width: 325px; }
  textarea {
    height: 115px;
  }
  .dropdown, .dropdown-menu {
    width: 348px;
  }
  input, .dropdown {
    height: 22px;
  }
  .dropdown {
    height: 30px;
    margin-bottom: 9px;
  }
  .dropdown-menu {
    height: 120px;
    overflow-y: hidden;
    a {
      height: 18px;
    }
  }
  .company_name {
    font-size: 13px;
    font-weight: bold;
    padding-top: 2px;
  }
  .label_info {
    font-size: 13px;
    padding-right: 7px;
    font-weight: bold;
    table {
      background: none repeat scroll 0 0 transparent;
      width: 100%;
      td {
        height: 32px;
        line-height: 16px;
        padding: 0;
        text-align: right;
        vertical-align: middle;
      }
    }
  }
}

.experience_popup {
  width: 550px;
  input, textarea { width: 90%; }
  .browse_button {
    margin: 4px 0 0;
    input {
      cursor: pointer;
      right: -25px;
      height: 200px;
      width: 220px;
    }
  }
  .date input {
    width: 54%;
  }
  .dash {
    float: left;
    font-size: 20px;
    font-weight: bold;
    margin-top: -6px;
    margin-left: 9px;
  }
  .field_with_errors {
    display: inline;
  }
  .current-experience {
    input, label { float: left; }
    label { margin: 1px 0 0 5px; }
    input {
      width: auto;
      height: 14px;
    }
  }
}
.user_profiles #update_module {
  position: relative;
}
