@import "shared/mixins";

$red_beanstock: #840000; //oxblood, used in H?
$dodger_blue: #1E90FF;
$dark_red: #900;
$medium_gray: #767676;
$dark_gray: #333;

.container-box {
  h2.left {
    margin-right: 1.75em;
    margin-top: -10px;
  }
  .btn-group { margin-left: 0px; }
  .container-box-body { margin-top: 10px; }
}

#homepage-activity-container{
  width: 870px;
}

ul#as-layout-toggle {
  margin: 0;
  li {
    display: inline;
    list-style-type: none;
    padding-right: 5px;
  }
}

#timeline-container {
  width: 90px;
  margin-left: 5px;
}

#activity-timeline {
  background: $dark_gray;
  color: white;
  font-weight: bold;
  padding: 10px 5px 15px;
  @include border_radius(5px);
  a {
    color: white;
  }
  div#current-day {
    margin: 5px 10px;
    font-size: 2em;
    background: white;
    padding: 15px 10px;
    @include border_radius(5px);
    a {
      color: $dark_gray;
    }
  }
  ul#toggle-dates {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      background: white;
      margin: 5px 0 0;
      padding: 10px 5px;
      border-radius: 5px;
      a {
        color: $dark_red;
        font-size: 11px;
      }
    }
  }
}

/* status update */

a.sublink-blue, a:visited.sublink-blue {
  color: $dodger_blue;
  font-size: 0.8em;
  padding-right: 5px;
}

a:hover.sublink-blue  {
  color: $red_beanstock;
}

form.status_update {
  textarea, input[type=text] {
    width: 360px;
  }
}

/* --------------------------------------------------
Social network Tabs
-------------------------------------------------- */

ul.social-tabs { display: block; margin: 0; padding: 0; border-bottom: none; font-size: 16px }
ul.tabs li { display: block; width: auto; padding: 3px 5px; float: left; margin: 0; height: 16px}

div.stat-box {
  text-align: center;
  font-weight: bold;
  color: $medium_gray;
  line-height: 15px;
  a {
    color: $medium_gray;
  }
  div.stat-count {
    background: white;
    border: 3px solid $medium_gray;
    @include border_radius(20px);
    line-height: 60px;
    font-size: 1.8em;
    color: $dark_red;
    margin-bottom: 5px;
  }
}

.border-container {
  margin-bottom: 18px;
  border: 1px solid white;
  @include border_radius(2px);
  #new_post {
    margin: 0;
    .mentions-input-box {
      padding-right: 7px;
      .ui-autocomplete { display: none; }
    }
    #update-status, #ask-question, #update-post-status {
      border-radius: 0;
      color: #ffffff;
      font-weight: bold;
      float: left;
      text-shadow: 1px 1px #9F9F9F;
      padding-bottom: 5px;
      padding-top: 5px;
    }
    .not-active { background: #dee2e6; }
    #update-post-status {
      text-shadow: none;
      width: 100%;
    }
    #auto-title {
      background-size: cover;
      border-color: #dadada;
      margin: 0;
      line-height: 20px;
      overflow: hidden;
      padding: 5px 0 15px 5px;
      word-wrap: break-word;
      width: 100%;
    }
    .background-color {
      background: #e9ecef;
      a:first-child, a:last-child {
        border-color: #fff;
        border-bottom-width: 0px;
      }
    }
  }
  .btn-group { padding-bottom: 5px; }
}
