@import "shared/mixins";

.view_profiles {
  .options_wrapper {
    background-color: #E9E9E9;
    border: none;
    border-radius: 4px;
    padding: 10px;
  }

  .btn-group, .edit_link {
    float: right;
    margin: 5px 0 0;
    a#edit-summary-info {
      float: left;
      margin-left: 30px;
      line-height: 28px;
    }
  }

  .view_basic_info {
    height: 220px;
    max-height: 220px;
    overflow: auto;
    input[type="file"] {
      width: 265px;
    }
    div.profile-buttons {
      margin-top: 5px;
    }
  }
  .view_basic_info:first-child {
    img {
      height: 175px;
      width: 175px;
    }
  }
  .view_summary #experience,
  .view_summary #description {
    max-height: 185px;
    overflow: auto;
  }

  .view_achievements,
  .view_connections,
  .view_company_associations {
    height: 170px;
    max-height: 170px;
    overflow: auto;
    .company_overview {
      float: left;
      padding-top: 5px;
      p.company_name {
        color: gray;
        font-size: 12px;
        font-weight: bold;
      }
      p { margin-bottom: 0; }
    }
  }

  .view_activity {
    padding: 10px 0;
    margin: 10px 0;
  }

  .carousel_control {
    background: none repeat scroll 0 0 #222222;
    border: 3px solid #FFFFFF;
    @include border_radius(23px);
    color: #FFFFFF;
    font-size: 60px;
    font-weight: 100;
    left: 15px;
    line-height: 30px;
    opacity: 0.5;
    text-align: center;
    top: 45%;
    padding-bottom: 25px;
    padding-top: 20px;
    width: 20px;
  }

  .carousel_control:hover {
    color: #FFFFFF;
    opacity: 0.9;
    text-decoration: none;
  }

  .carousel .carousel-inner {
    float: left;
    height: 140px;
    width: 100%;
    img { margin: 10px; }
    .item #news-ribbon {
      padding: 5px;
      width: 88%;
      #news-slider .news-item {
        width: 127px;
      }
    }
  }

  .ad-content {
    background-color: #FFFFFF;
    height: 140px;
    margin-bottom: 0;
    .carousel-nav-div {
      float: left;
      padding: 25px 0;
      a { color: white; }
    }
    .slider_item {
      float: left;
      width: 33%;
      z-index: 2;
      .slider_icon {
        float: left;
        padding: 10px 0 0 5px;
        img { margin: 0; }
      }
    }
  }
  .ad-footer { float: right; }

  div#basic-info-form, div#summary-info-form {
    margin: -250px 0 0 -185px;
    width: 370px;
    .row-fluid div { line-height: 31px; }
    input[type=text] { width: 220px; }
    .label_info {
      font-size: 13px;
      font-weight: bold;
      text-align: right;
    }
  }

  div#summary-info-form {
    margin: -250px 0 0 -250px;
    width: 500px;
    textarea{
      width: 350px;
      margin-bottom: 10px;
    }
  }

}

.carousel-scroll{
   overflow: auto;
}
