@import "shared/mixins";

.button {
  display: block;
  @include shadow(1px, 1px, 1px, 0, #b8b1b1);
  text-shadow: 1px 1px 1px #b1b0b4;
  background-color: #d9d6d6;
  color: white;
  padding: 3px 16px 0;
  font-size: 10px;
  font-weight: bold;
  line-height: 19px;
  text-align: center;
  &:visited { color: white; }
  &:hover, &:focus {
    background-color: #d9d6d6;
    color: white;
    text-decoration: none;
    cursor: pointer;
  }
  &.violet {
    @include shadow(1px, 1px, 1px, 0, #858a99);
    background-color: #a6adc0;
    &:hover, &:focus {
      background-color: #a6adc0;
    }
  }
}

input.button {
  height: 22px;
  border: 0;
}
