<div id="add-associations-brand" class="tab-pane associations">
  <div class="control-group">
    <%= label_tag "agency_brands__name", t('.agencies'), :class => 'control-label' %>
    <div class="controls">
      <div class="inputs">
        <%= f.fields_for :agency_brands do |brand_agency| %>
          <div class="brand_agency association">
            <%= brand_agency.hidden_field :agency_id, :class => "object_id" %>
            <%= brand_agency.hidden_field :_destroy, "data-type" => "destroy_input" %>
            <%= brand_agency.text_field :agency_name, :class => "input-large object_name", :data => {:autocomplete_source => autocomplete_agencies_path} %>
            <div class="delete_association link inline_block close">×</div>
          </div>
        <% end %>
      </div>
      <p class="help_block"><%= t('.agency_info') %></p>
    </div>
    <div class="controls link" id="add_brand_agency">
      <%= t('.add_another_agency') %>
    </div>
  </div>

  <div class="control-group">
    <%= label_tag "brand_advertisers__name", t('.advertisers'), :class => 'control-label' %>
    <div class="controls">
      <div class="inputs">
        <%= f.fields_for :brand_advertisers do |brand_advertiser| %>
          <div class="brand_advertiser association">
            <%= brand_advertiser.hidden_field :advertiser_id, :class => "object_id" %>
            <%= brand_advertiser.hidden_field :_destroy, "data-type" => "destroy_input" %>
            <%= brand_advertiser.text_field :advertiser_name, :class => "input-large object_name", :data => {:autocomplete_source => autocomplete_advertisers_path} %>
            <div class="delete_association link inline_block close">×</div>
          </div>
        <% end %>
      </div>
      <p class="help_block"><%= t('.advertiser_info') %></p>
    </div>
    <div class="controls link" id="add_brand_advertiser">
      <%= t('.add_another_advertiser') %>
    </div>
  </div>
</div>

<script type="text/javascript">
  process_associations(['brand_advertiser', 'brand_agency']);
</script>
