<%= form_for(@brand, :html => { :class => "brand nice", :remote => true }, :builder => StandartBuilder) do |f| %>
  <%= render :partial => 'brands/navigation' %>
  <div class="tab-content">
    <%= render :partial => 'tools/basic', :locals => { :f => f, :company => @brand } %>
    <%= render :partial => 'brands/associations', :locals => { :f => f } %>
    <%= render :partial => 'tools/description', :locals => { :f => f, :company => @brand } %>
  </div>
<%end%>