<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#add-basic-brand"><%= t('.basic_details') %></a></li>
  <li><a data-toggle="tab" href="#add-associations-brand"><%= t('.associations') %></a></li>
  <li><a data-toggle="tab" href="#add-description-brand"><%= t('.other_details') %></a></li>
</ul>