
= form_for @authorization do |f|
  -if @authorization.errors.any?
    #error_explanation
      %h2= "#{pluralize(@authorization.errors.count, "error")} prohibited this authorization from being saved:"
      %ul
        - @authorization.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :user_id
    = f.number_field :user_id
  .field
    = f.label :provider
    = f.number_field :provider
  .field
    = f.label :posting_default
    = f.check_box :posting_default
  .field
    = f.label :username
    = f.text_field :username
  .field
    = f.label :uid
    = f.text_field :uid
  .field
    = f.label :oauth_token
    = f.text_field :oauth_token
  .field
    = f.label :oauth_token_secret
    = f.text_field :oauth_token_secret
  .actions
    = f.submit 'Save'
