%h1 Listing authorizations

%table
  %tr
    %th User
    %th Social network
    %th Posting default
    %th Username
    %th Uid
    %th Oauth token
    %th Oauth token secret
    %th
    %th
    %th

  - @authorizations.each do |authorization|
    %tr
      %td= "#{authorization.user.first_name} (#{authorization.user.id})"
      %td= "#{authorization.social_network.name} (#{authorization.social_network.id})"
      %td= authorization.posting_default
      %td= authorization.username
      %td= authorization.uid
      %td= authorization.oauth_token
      %td= authorization.oauth_token_secret
      %td= link_to 'Show', authorization
      %td= link_to 'Edit', edit_authorization_path(authorization)
      %td= link_to 'Destroy', authorization, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Authorization', new_user_authorization_path
