%h1 
  = "Authorize #{@social_network.name}"

%p
  = "Please log into your #{@social_network.name} account to connect #{@social_network.name} to Beanstock"
%p
  = link_to "log into  #{@social_network.name}", "/auth/#{@social_network.provider}"
  
  

= link_to 'Back', user_authorizations_path
