%p#notice= notice

%p
  %b User:
  = @authorization.user_id
%p
  %b Social network:
  = @authorization.provider
%p
  %b Posting default:
  = @authorization.posting_default
%p
  %b Username:
  = @authorization.username
%p
  %b Uid:
  = @authorization.uid
%p
  %b Oauth token:
  = @authorization.oauth_token
%p
  %b Oauth token secret:
  = @authorization.oauth_token_secret

= link_to 'Edit', edit_user_authorization_path(@authorization)
\|
= link_to 'Back', user_authorizations_path
