<%= render :layout => "signup/progress_bar_layout", :locals => { :title => t(".invite_contacts"), :step => t(".step6"), :progress_percentage => 100 } do %>
  <%= render :partial => 'signup/beanstock_connections/search_box', :locals => {:title => t(".select_contacts")} %>
  <div class="row-fluid">
    <div class="offset2 well leftFloat" id="connections" data-connections="<%= @connections.to_json(:only => [:id, :first_name, :last_name]) %>">
      <%= form_tag signup_linkedin_connections_path(:id => current_user.uid), :id => "linkedin_connections", :class => "span6" do %>
        <% @connections.each_slice(3) do |cg| %>
          <div row="row-fluid">
            <%- cg.each do |c| %>
              <div class="add-connection-tile span2">
                <div class="add-connection-checkbox leftFloat">
                  <%= check_box_tag 'connections[]', c.id, nil, :id => "user_#{c.id}" %>
                </div>
                <div class="user-pic-small leftFloat">
                  <%= image_tag c.picture_url, :size => "50x50" if c.picture_url %>
                </div>
                <p>
                  <%= link_to "#{c.first_name} #{c.last_name}", (c.site_standard_profile_request ? c.site_standard_profile_request.url : "#") %>
                </p>
              </div>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span6 offset2">
      <div class="rightFloat">
        <%= link_to t("back"), signup_beanstock_connections_path(:id => current_user.uid), :class => "btn-large btn leftFloat" %>
        <%= link_to t(".import_contacts"), "#", :onclick => "$('#linkedin_connections').submit();", :class => "btn btn-large btn-primary leftFloat" %>
      </div>
    </div>
  </div>
<% end %>
