<div class="filter_part">
  <form accept-charset="UTF-8" action="/discover/fine_fetch" data-remote="true" method="post">
    <div id="filter_type" class="btn-group">
      <button class="btn dropdown-toggle-search all-rounded" data-toggle="dropdown" href="">
        <div class="current-value">Publisher</div>
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="" data-type="publisher">Publisher</a></li>
        <li><a href="" data-type="person">Person</a></li>
      </ul>
    </div>
    <input id="search_type" name="search[type]" type="hidden">
    <div class="checkboxes">
      <div class="person">
        <span class="icon-plus trigger" data-toggle=".search_roles"></span>
        <input class="parent" id="search_roles" name="search[role_ids][]" title="All Roles" type="checkbox" value="all">
        <label for="search_roles">Role</label>
        <ul class="search_roles" style="display:none">
          <li>
            <input id="role_1" name="search[role_ids][]" title="publisher" type="checkbox" value="1">
            <label for="role_1">publisher</label>
          </li>
        </ul>
      </div>
    </div>
  </form>
</div>
<div class="result_part">
  <div class="checkboxes">
    <ul id="filters"></ul>
  </div>
  <div class="inline-filter">
    <input id="search_name" type="text" class="filter" placeholder="type your search here">
  </div>
  <div class="search-results">
    <table>
      <tr data-like="Strosin-Ledner Bay Area N/A">
        <td>
          <div class="site">
            <img src="/assets/icons/publisher.png" size="32x32">
            <a href="javascript:void(false)" title="Strosin-Ledner">Strosin-Ledner</a>
          </div>
        </td>
        <td>Bay Area</td>
        <td>N/A</td>
        <td>
          <a href="/discover/4" class="btn btn-small">View Profile</a>

        </td>
      </tr>
      <tr data-like="Rogahn-Jakubowski Bay Area N/A">
        <td>
          <div class="site">
            <img src="/assets/icons/publisher.png" size="32x32">
            <a href="javascript:void(false)" title="Rogahn-Jakubowski">Rogahn-Jakubowski</a>
          </div>
        </td>
        <td>Bay Area</td>
        <td>N/A</td>
        <td>
          <a href="/discover/5" class="btn btn-small">View Profile</a>
        </td>
      </tr>
    </table>
  </div>
</div>
