<div id="friend_chat_68" class="friend_chat" data-message-url="http://localhost:3000/messages/add_chat_message" data-friend-id="68" style="right: 0px; display: block;">
  <div class="row-fluid operate_part">
    <div class="friend_name">Alex Galushka</div>
    <div class="close-chat"></div>
    <div class="to-window"></div>
    <div class="minimize-chat"></div>
  </div>
  <div class="row-fluid header_part">
    <div class="span2 friend_logo">
      <a href="/user_profiles/68"><img alt="Generic_avatar" class="friend_avatar" height="40" src="/assets/generic_avatar.png" width="40"></a>
    </div>
    <div class="span10 friend_info">
      <p class="friend_name">
        Alex Galushka
      </p>
      <div class="offline friend_status"></div>
      <p class="last_seen">
        Last seen about 2 hours ago
      </p>
    </div>
  </div>
  <div class="conversations_part">
  </div>
  <div class="messages_part">
    <textarea id="chat_message" name="chat_message" placeholder="type message here..."></textarea>
    <a href="/messages/chat_history?friend_id=68" data-remote="true">messages history</a>
  </div>
</div>
