<div class="accordion-group" id="my_marketplace_widget">
  <div class="accordion-heading">
    <a href="JavaScript:void(0);" class="accordion-toggle" data-original="title" data-toggle="collapse">
      <i class="icon-th icon-white"></i><span>My Marketplace</span>
    </a>
  </div>
  <div id="my_marketplace" class="accordion-body collapse in">
    <div class="accordion-inner">
      <ul class="nav nav-list">
        <div id="friend_row_68" class="row-fluid friend_row" data-friend-id="68">
          <div class="span2 friend_logo" data-id="68">
            <a href="/user_profiles/68"><img alt="Generic_avatar" class="friend_avatar" height="40" src="/assets/generic_avatar.png" width="40"></a>
            <div class="offline-status status_icon"></div>
          </div>
          <div class="span8 friend_info">
            <h4>Alex Galushka</h4>
            <p class="last_seen">
              Last seen about 2 hours ago
            </p>
            <p>
            </p>
            <div class="friends_popup">
            </div>
          </div>
          <div class="span2 friend_message">
            <i class="message-icon"></i>
            <div class="new_messages indicator_container">
              <span class="badge">0</span>
            </div>
          </div>
        </div>
        <div id="friend_row_3" class="row-fluid friend_row" data-friend-id="3">
          <div class="span2 friend_logo" data-id="3">
            <a href="/user_profiles/3"><img alt="Thumb_gordi" class="friend_avatar" height="40" src="/system/uploads/user_profile/avatar/3/thumb_Gordi.jpg" width="40"></a>
            <div class="offline-status status_icon"></div>
          </div>
          <div class="span8 friend_info">
            <h4>Tracey Geronimo</h4>
            <p class="last_seen">
              Last seen 21 days ago
            </p>
            <p>
            </p>
            <div class="friends_popup">
            </div>
          </div>
          <div class="span2 friend_message">
            <i class="message-icon"></i>
            <div class="new_messages indicator_container">
              <span class="badge">0</span>
            </div>
          </div>
        </div>
      </ul>
    </div>
  </div>
  <div id="friend_68" class="row-fluid friend_preview" data-message-url="http://localhost:3000/messages/add_chat_message" data-friend-id="68">
    <div class="row-fluid header_part">
      <div class="span2 friend_logo">
        <a href="/user_profiles/68"><img alt="Generic_avatar" class="friend_avatar" height="40" src="/assets/generic_avatar.png" width="40"></a>
      </div>
      <div class="span10 friend_info">
        <div class="offline-status status_icon"></div>
        <h4><a href="/user_profiles/68">Alex Galushka</a></h4>
        <p class="last_seen">
          Last seen about 2 hours ago
        </p>
      </div>
    </div>
    <div class="row-fluid messages_part">
      <img alt="Generic_avatar" class="user-avatar" height="40" src="/assets/generic_avatar.png" width="40">
      <textarea id="message" name="message" placeholder="type message here..."></textarea>
      <a href="/messages/chat_history?friend_id=68" class="chat_history" data-remote="true">messages history</a>
    </div>
  </div>
  <div id="friend_3" class="row-fluid friend_preview" data-message-url="http://localhost:3000/messages/add_chat_message" data-friend-id="3">
    <div class="row-fluid header_part">
      <div class="span2 friend_logo">
        <a href="/user_profiles/3"><img alt="Thumb_gordi" class="friend_avatar" height="40" src="/system/uploads/user_profile/avatar/3/thumb_Gordi.jpg" width="40"></a>
      </div>
      <div class="span10 friend_info">
        <div class="offline-status status_icon"></div>
        <h4><a href="/user_profiles/3">Tracey Geronimo</a></h4>
        <p class="last_seen">
          Last seen 21 days ago
        </p>
        <div class="comment_footer">
          <div class="actions">
            <a href="/posts/232/likes" class="like_action" data-method="post" data-remote="true" rel="nofollow"></a>
            <a href="/posts/232" class="comment_action"></a>
            <a href="#" class="share_action"></a>
          </div>
        </div>
      </div>
    </div>
    <div class="row-fluid likes_part" data-event="event_popup_578">
      <span class="like_icon"></span>
      <span class="like_count_value">1</span>
      people liked it
    </div>
    <div class="row-fluid messages_part">
      <img alt="Generic_avatar" class="user-avatar" height="40" src="/assets/generic_avatar.png" width="40">
      <textarea id="message" name="message" placeholder="type message here..."></textarea>
      <a href="/messages/chat_history?friend_id=3" class="chat_history" data-remote="true">messages history</a>
    </div>
  </div>
</div>
