<div class="profile_main_content">
  <div class="tabs">
    <ul class="nav nav-tabs">
      <li>
        <a href="#profile_experience" data-toggle="tab">Experience</a>
      </li>
      <li class="">
        <a href="#profile_achievements" data-toggle="tab">Achievements</a>
      </li>
      <li class="active">
        <a href="#profile_connections" data-toggle="tab">Connections</a>
      </li>
    </ul>
    <div class="tab-content">
      <div id="profile_connections" class="tab-pane active">
        <div class="role_switcher">
          <a class="active" data-role="all" href="#">All</a>
          |
          <a class="" data-role="seller" href="#">Seller</a>
          |
          <a class="" data-role="publisher" href="#">Publisher</a>
        </div>
        <div class="tab_cards_container with_scroll">
          <div class="tab_card" data-role="seller">
            <div class="logo"><img width="105" height="105" src="/assets/icons/seller.png" alt="Seller"></div>
            <div class="name">Test Test</div>
            <div class="city_and_country"></div>
            <div class="title"></div>
            <div class="description"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
