<div class="activity-item activity-date text-center" style="width:865px">
	<div class="row">
		<div class="left" style="width:45%"><hr></div>
		<div class="left bold text-center" style="width:10%"><%= datetime.strftime('%D') %></div>
		<div class="right" style="width:45%"><hr></div>
	</div>
</div>