<% @activity_feed.each_with_index do |item, i| %>
  <% if item_from_another_day?(item, i)  %>
    <%= render :partial => "activities/activity_date", :locals => { :datetime => item.created_at } %>
  <% end %>
  <% if item.midb_activity? %>
    <%= render :partial => "activities/activity_midb", :locals => { :a => item} %>
  <% else %>
    <%= render :partial => item, :as => :a %>
  <% end %>
<% end %>