<div class='activity-item update' data-ident="<%= a.id %>">
  <div class="activity-header" class="clearfix">
    <div class="avatar">
      <%= link_to image_tag(a.actor.user_profile.avatar.thumb.url, :size => "48x48"), user_profile_path(a.actor.user_profile), :class => "user-profile-img" %>
    </div>
    <div class="details" class="clearfix">
      <div class="name">
        <div class="bold">
          <%= shared_by a %>
        </div>
        <p><%= a.status %></p>
      </div>
    </div>
    <div class="time-and-type">
      <div class="time-ago"><%= time_ago_in_words(a.created_at) %> <%= t('.ago') %></div>
      <div class="type-icon"><%= image_tag "activity_feed/midb.png" %></div>
    </div>
  </div>
  <i class="spinePointer"></i>
  <div class="activity-body" class="clearfix">
    <div class="row-fluid">
      <p><%= a.message %></p>
    </div>
  </div>
</div>
