<div class="activity-item news" data-ident="<%= a.id %>" data-time="<%= a.created_at.to_i %>" data-likes="<%= a.subject_clickable.cached_votes_total %>">
  <div class="activity-header" class="clearfix">
    <div class="avatar">
      <%= link_to image_tag(a.actor.user_profile.avatar.thumb.url, :size => "48x48"), user_profile_path(a.actor.user_profile), :class => "user-profile-img" %>
    </div>
    <div class="details" class="clearfix">
      <div class="name">
        <div class="bold">
          <%= shared_by a %>
        </div>
      </div>
    </div>
    <div class="time-and-type">
      <div class="time-ago"><%= time_ago_in_words(a.created_at) %> <%= t('.ago') %></div>
      <div class="type-icon"><%= image_tag "activity_feed/type_news.png" %></div>
    </div>
  </div>
  <i class="spinePointer"></i>
  <div class="activity-body" class="clearfix">
    <div class="row-fluid">
      <p>
      <%= link_to a.subject_clickable.title.truncate(85, :separator => ' '), a.subject_clickable.url, :class => "trackable", "data-click-type" => a.subject_clickable.class, "data-click-id" => a.subject_clickable.id, :target => "_blank" %>
      </p>
    </div>
    <div class="row-fluid">
      <div style="overflow:hidden; text-align:center;">
        <%= image_tag a.subject_clickable.image_url %>
      </div>
    </div>
    <div class="row-fluid">
      <%= render :partial => 'comments/activity_feed_comments', :locals => { :comments => a.subject_clickable.comments, :subject => a.subject_clickable, :post_owner => a.actor } %>
    </div>
    <div class="row-fluid">
      <div class="activity-feed-actions left">
        <%= link_to t('.comment'), '#', :class => 'show_inline_comment' %> &bull;
        <% if generate_presenter(a.subject_clickable).like_link_is_displayable? %>
          <%= render :partial => "likes/like_button", :locals => { :likeable => a.subject_clickable } %> &bull;
        <% end %>
        <%= link_to t('.share'), shares_path(:user => current_user, :activity => a.subject, :event => a, :type => a.subject.clickable_type, :next => 'someurl'), :class => 'ajax', :remote => true, :method => :post %>
        <%= inline_loader(:id => a.id) %>
      </div>
      <div class="activity-feed-actions right clearfix">
        <%= render :partial => "likes/like_count", :locals => { :likeable => a.subject_clickable } %>
      </div>
    </div>
    <div class="row-fluid">
      <div class="inline_comment_container">
        <%= form_for([a.subject_clickable, a.subject_clickable.comments.build], :html => { :remote => true }) do |f| %>
          <%= hidden_field_tag :commentable_id, a.subject_clickable.id %>
          <%= hidden_field_tag :commentable_type, a.subject_clickable.tableized_class_name %>
          <div class="row-fluid">
            <div class="left add_inline_comment_container">
              <%= f.text_area :comment, :id => "add_inline_comment_for_#{element_identifier(a.subject_clickable)}", :class => 'add_inline_comment', :placeholder => 'Comment on this...', :rows => 2 %>
            </div>
            <div class="right">
              <%= f.submit t('comments.comment.submit'), :class => 'btn btn-primary', :style => 'margin-right: 1em' %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
