<div class="activity-item question" data-ident="<%= a.id %>" data-time="<%= a.created_at.to_i %>" data-views="<%= a.subject.views_count %>" data-shares="<%= a.subject.shares_count %>" data-likes="<%= a.subject.cached_votes_total %>" data-comments="<%= a.subject.comments_count %>">
  <div class="activity-header" class="clearfix">
    <div class="avatar">
      <%= link_to image_tag(a.actor.user_profile.avatar.thumb.url, :size => "48x48"), user_profile_path(a.actor.user_profile), :class => "user-profile-img" %>
    </div>
    <div class="details" class="clearfix">
      <div class="name">
        <div class="bold">
          <%= shared_by a %>
        </div>
      </div>
    </div>
    <div class="time-and-type">
      <div class="time-ago"><%= time_ago_in_words(a.created_at) %> <%= t('.ago') %></div>
      <div class="type-icon"><%= image_tag "activity_feed/type_status.png" %></div>
    </div>
  </div>
  <i class="spinePointer"></i>
  <div class="activity-body" class="clearfix">
    <div class="row-fluid">
      <p><%= replace_user_name_with_link_in_post(a.subject, @stream_friends).html_safe %></p>
    </div>
    <div class="row">
      <p><%= a.subject.description %> <%= link_to raw("read &rarr;"), a.subject, :class => "view-more" %></p>
    </div>
    <div class="row-fluid">
      <div style="overflow:hidden">
        <%= render partial: 'shared/url_preview', locals: { item: a.subject } %>
      </div>
    </div>
    <% if a.subject.answers.size > 0 %>
      <div class="row-fluid">
        <p class="bold" style="margin-top: 10px">Answers:</p>
        <% a.subject.answers[0,2].each do |answer| %>
          <p>
            <b><%= link_to answer.user.abbrev_name, user_profile_path(answer.user.user_profile), class: 'user-profile' %> says:</b> <%= answer.answer %>
          </p>
        <% end %>
      </div>
    <% end %>
    <div class="row-fluid">
      <div class="activity-feed-actions left">
        <%= link_to t('.answer'), post_path(a.subject) %> &bull;
        <% if generate_presenter(a.subject).like_link_is_displayable? %>
          <%= render :partial => "likes/like_button", :locals => { :likeable => a.subject } %> &bull;
        <% end %>
        <%= link_to t('.share'), shares_path(:user => current_user, :activity => a.subject, :event => a, :next => 'someurl'), :class => 'ajax', :remote => true, :method => :post %>
        <%= inline_loader(:id => a.id) %>
      </div>
      <div class="activity-feed-actions right clearfix">
        <%= render :partial => "likes/like_count", :locals => { :likeable => a.subject } %>
        <span id="comments-count-<%= a.subject_id %>" class="social-count">
          <%= link_to post_path(a.subject) do %>
            <%= raw("#{a.subject.answers.size} #{image_tag('activity_feed/icon_commentedOFF.png')}") %>
          <% end %>
        </span>
      </div>
    </div>
  </div>
</div>
