<span class='popup_container'>
  and 
  <a href='#' class='clearboth' alt='<%= t('.who_shared_this_item') %>'>(<%= shared_by.user_shares.size %> more)</a>
  shared this <%= shared_by.shared_subject_type %>
  <span class='popup_details'>
    <% shared_by.user_shares.each do |user| %>
      <p>
        <%= link_to user_profile_path(user.user_profile) do %>
          <%= image_tag(user.avatar.thumb.url, :size => "32x32") %>
          <span class='username'><%= user.abbrev_name %></span>
        <% end %>
      </p>
    <% end%>
  </span>
</span>
