<div class="activity-item update" data-ident="<%= a.id %>" data-time="<%= a.created_at.to_i %>" data-views="<%= a.subject.views_count %>" data-shares="<%= a.subject.shares_count %>" data-likes="<%= a.subject.cached_votes_total %>" data-comments="<%= a.subject.comments_count %>">
  <div class="activity-header" class="clearfix">
    <div class="avatar">
      <%= link_to image_tag(a.actor.user_profile.avatar.thumb.url, :size => "48x48"), user_profile_path(a.actor.user_profile), :class => "user-profile-img" %>
    </div>
    <div class="details" class="clearfix">
      <div class="name">
        <div class="bold">
          <%= shared_by a %>
        </div>
      </div>
    </div>
    <div class="time-and-type">
      <div class="time-ago"><%= time_ago_in_words(a.created_at) %> <%= t('.ago') %></div>
      <div class="type-icon"><%= image_tag "activity_feed/type_status.png" %></div>
    </div>
  </div>
  <i class="spinePointer"></i>
  <div class="activity-body" class="clearfix">
    <div class="row-fluid">
      <p><%= replace_user_name_with_link_in_post(a.subject, @stream_friends).html_safe %></p>
    </div>
    <div class="row-fluid">
      <div style="overflow:hidden">
        <%= render partial: 'shared/url_preview', locals: { item: a.subject } %>
      </div>
    </div>
    <div class="row-fluid">
      <%= render :partial => 'comments/activity_feed_comments', :locals => { :comments => a.subject.comments, :subject => a.subject, :post_owner => a.actor } %>
    </div>
    <div class="row-fluid">
      <div class="activity-feed-actions left">
        <%= link_to t('.comment'), "#", :class => 'show_inline_comment' %> &bull;
        <% if generate_presenter(a.subject).like_link_is_displayable? %>
          <%= render :partial => "likes/like_button", :locals => { :likeable => a.subject } %> &bull;
        <% end %>
        <%= link_to t('.share'), shares_path(:user => current_user, :activity => a.subject, :event => a, :next => 'someurl'), :class => 'ajax', :remote => true, :method => :post %>
        <%= inline_loader(:id => a.id) %>
      </div>
      <div class="activity-feed-actions right clearfix">
        <%= render :partial => "likes/like_count", :locals => { :likeable => a.subject } %>
        <span id="comments-count-<%= a.subject_id %>" class="social-count">
          <%= link_to post_path(a.subject) do %>
            <%= raw("#{a.subject.comments_count} #{image_tag('activity_feed/icon_commentedOFF.png')}") %>
          <% end %>
        </span>
      </div>
    </div>
    <div class="row-fluid">
      <div class="inline_comment_container">
        <%= form_for([a.subject, a.subject.comments.build], :html => { :remote => true }) do |f| %>
          <%= hidden_field_tag :commentable_id, a.subject.id %>
          <%= hidden_field_tag :commentable_type, a.subject.class.name.tableize %>
          <div class="row-fluid">
            <div class="left add_inline_comment_container">
              <%= f.text_area :comment, :id => "add_inline_comment_for_#{element_identifier(a.subject)}", :class => 'add_inline_comment', :placeholder => 'Comment on this...', :rows => 2 %>
            </div>
            <div class="right">
              <%= f.submit t('comments.comment.submit'), :class => 'btn btn-primary', :style => 'margin-right: 1em' %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

