<div class="manage_connections">
  <div class="span6 left_arrea">
    <table id="my_connections">
      <%= render :partial => "connection", :collection => @friends, :as => :connection %>
    </table>
  </div>
  <div class="span6 right_arrea">
  </div>
</div>