<tr class="connection" data-connection-id="<%= connection.id %>">
  <td class="user_avatar">
    <%= link_to image_tag(connection.user_profile.avatar, :size => "50x50", :alt => t('.no_image')), user_profile_path(connection) %>
  </td>
  <td class="user_info">
    <div class="user_name">
      <h4><%= connection.fullname %></h4>
    </div>
    <span class="user-role <%= connection.role.name %> leftFloat"><%= connection.role.name %></span>
    <%= link_to image_tag("flag_active.png", :title => t('.flag_this_user')), "#", :class => "flag_user" %>
    <%= link_to image_tag("block.png", :title => t('.block_this_user')), block_user_blocked_connections_path(:friend_id => connection), :class => "block_user" %>
    <div class="user_description"><%= connection.title %></div>
  </td>
  <td class="actions">
    <%= link_to t(".send_message"), new_conversation_path(:recipient_id => connection), :class => "btn new_message rightFloat" %>
  </td>
</tr>