<div class="mutual_connections">
  <h4><%= t('.mutual_connections_title') %></h4>
  <% if @mutual_connections.any? %>
    <div class="connections">
      <%= render :partial => "mutual_connection", :collection => @mutual_connections %>
    </div>
  <% else %>
    <%= t('.no_connections') %>
  <% end %>
</div>