<div class="suggested_users">
  <h4><%= t('.similar_profiles') %></h4>
  <% if @suggested_users.any? %>
    <div class="connections">
      <%= render :partial => "suggested_user", :collection => @suggested_users %>
    </div>
  <% else %>
    <%= t('.no_connections') %>
  <% end %>
</div>