<div class="connections_categories row-fluid">
  <div class="btn-group main_menu leftFloat">
    <%= link_to all_connections_my_connections_path, :class => "btn active", :remote => true do %>
      <i class="my_connections_icon"></i>
      <%= t('.my_connections') %>
    <% end %>
    <%= link_to blocked_connections_path, :class => "btn", :remote => true do %>
      <i class="blocked_users_icon"></i>
      <%= t('.blocked_users') %>
    <% end %>
  </div>
  <%= link_to manage_connections_path, :class => "btn btn-small add_conn_butt rightFloat" do %>
    <i class="add_connections_icon"></i>
    <%= t('.add_connections') %>
  <% end %>
</div>