<div class="user_profile row-fluid" data-user-id="<%= connection.id %>">
  <div class="span3 friend_logo">
    <%= link_to image_tag(connection.user_profile.avatar.thumb.url, :size => "114x114", :class => "friend_avatar" ), user_profile_path(connection.user_profile) %>
  </div>
  <div class="span9 friend_info">
    <h4><%= link_to connection.fullname.truncate(19), user_profile_path(connection.user_profile) %></h4>
    <p class="last_seen">
      <%= last_seen(connection) %>
    </p>
    <div class="profile_details"><%= t('.company', :company_name => connection.user_profile.company_name) %></div>
    <div class="profile_details"><%= connection.short_address %></div>
    <div class="profile_details"><%= connection.email %></div>
    <p>
      <%- if connection.has_new_friends? %>
        <i class='icon-user icon-black'></i>
        <span>
          <%- if connection.has_one_new_friend_for_seven_days? %>
            <%= t('.added_one_friend', :last_friend => connection.last_added_friend_name_for_seven_days) %>
          <% else %>
            <%= t('.added_friends', :last_friend => connection.last_added_friend_name_for_seven_days, :count => connection.friends_for_seven_days.size-1) %>
            <span class='new_connections'><%= t(".others") %></span>
          <% end %>
        </span>
      <% end %>
    </p>
    <%= link_to t(".view_profile").html_safe, user_profile_path(connection.user_profile), :class => "btn btn-small" %>
    <%= link_to t(".send_message"), new_conversation_path(:recipient_id => connection), :class => "btn btn-small btn-primary", :remote => true %>
  </div>
</div>
<%= render :partial => "suggested_users" %>
<%= render :partial => "mutual_connections" %>
