var my_connections = '<%= escape_javascript(render :partial => "all_connections") %>';
$("#blocked_users_container").getNiceScroll().remove();
$('#connections_container .manage_connections').empty();
$('#connections_container .manage_connections').append(my_connections);

$(function(){
  manage_connections();
});