<h3><%= t('.connections', :fullname => current_user.fullname) %></h3>
</br>
<div id="connections_container" class="connections">
  <div class="connections_menu">
    <%= render :partial => "search_bar" %>
    <%= render :partial => "top_menu" %>
  </div>
  <% if @friends.any? %>
    <%= render :partial => "all_connections" %>
  <% else %>
    <div class="manage_connections">
      <div class="row-fluid no_friends_description">
        <h3><%= t('.no_connections') %></h3>
        <%= t('.get_started') %>
      </div>
    </div>
  <% end  %>
</div>
<script type="text/javascript">
  my_connections("<%= full_user_profile_my_connections_path %>");
  manage_connections();
</script>