<li id="suggested_user_<%= suggested_user.role_id %>_<%= suggested_user.id %>">
  <div class="row-fluid">
    <div class="span1 suggested_user_logo">
      <%= image_tag(suggested_user.avatar.thumb.url, :size => "40x40") %>
    </div>
    <div class="span5 suggested_user_details">
      <div>
        <h4><%= suggested_user.fullname %></h4>
        <span class='user-role <%= suggested_user.user_type %>'><%= suggested_user.humanable_role %></span>
      </div>
      <p class="<%= suggested_user.online_status %>_status"><%= suggested_user.online_status %></p>
    </div>
    <div class="span6 actions">
      <%= link_to t(".view_profile"), user_profile_path(suggested_user), :class => "btn btn-small" %>
      <%= request_connection_link(suggested_user) %>
    </div>
  </div>

</li>
