<%= render :partial => 'shared/inbox_tabs' %>
<div class="tab-content inbox_tab_content">
  <div class="tab-pane active" >
    <div id="actions_bar" data-items="<%= @data_for_autocomplete %>">
      <div id="profile_type" class="btn-group">
        <button class="btn dropdown-toggle-search" data-toggle="dropdown" href="#">
          <div class="current-value" data-value=""><%= t('.all_user_types') %></div>
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li>
            <a data-value=""><%= t('.all_user_types') %></a>
          </li>
          <% @roles.each do |r| %>
            <li>
              <a href="#" data-value="<%= r.id %>"><%= r.name.titleize %></a>
            </li>
          <% end %>
        </ul>
      </div>
      <input id="suggested_users_search" type="text" placeholder="<%= t(".search_placeholder")%>">
    </div>
    <ul class="suggested-users-list">
      <%= render :partial => 'suggested_user', :collection => @suggested_users %>
    </ul>
  </div>
</div>
