<div class="row">
  <div class="container-box">
		<div class="row">
			<div class="container-box-header" class="clearfix">
				<h2 class="left">Delete Group</h2>
			</div>
		</div>
		<div class="row">
			<div class="container-box-body">
				<div class="whitebox">
					<h4 class="text-center">
						Are you sure you want to delete the group <span style="color:#990000"><%= @circle.name %>?</span>
					</h4>
					<h4 class="text-center">
						This group has <%= @circle.users.size %> members
					</h4>
				</div>
				<div class="text-right">
          <%= link_to "Cancel", "#", :class => "btn", 'data-dismiss'=> 'modal' %>
          <%= link_to "Delete", @circle, :method => :delete, :class => "btn btn-primary", :remote => true %>
				</div>
			</div>
		</div>
  </div>
</div>
