<%= form_for(@circle, :html => { :class => :nice, :remote => true }) do |f| %>
	<div class="whitebox">
		  <% if @circle.errors.any? %>
		    <div id="error_explanation">
		      <h2><%= pluralize(@circle.errors.count, "error") %> prohibited this Group from being saved:</h2>
		      <ul>
		      <% @circle.errors.full_messages.each do |msg| %>
		        <li><%= msg %></li>
		      <% end %>
		      </ul>
		    </div>
		  <% end %>
			<div class="row">
				<div class="two column" style="padding-top:5px">
					Group Name:
				</div>
				<div class="ten columns">
					<%= f.text_field :name, :class => "input-text" %>
				</div>
			</div>
			<div class="row">
				<div class="two column" style="padding-top:5px">
					Description:
				</div>
				<div class="ten columns">
					<%= f.text_field :description, :class => "input-text" %>
				</div>
			</div>
	</div>
	<div class="text-right">
		<%= link_to "Cancel", "#", :class => "close-reveal-modal small round gray button", :id => "close-modal-button" %>
		<%= f.submit "Submit", :class => "small round red button" %>
	</div>
<% end %>