<% @circles.each_with_index do |circle, i| %>
  <div class="group-box" id="<%= circle.id %>">
    <%= link_to "X", confirm_delete_circle_path(circle), :class => "delete-group", :remote => true, :style => "display:none" %>
    <h4>
      <%= best_in_place circle, :name, :display_with => :truncate, :helper_options => { :length => 35 } %>
      <span class="members" id="circle-<%= circle.id %>-cnt">(<%= circle.users.size %>)</span>
    </h4>
    <div id="circle-<%= circle.id %>-members">
      <%= render :partial => "circles/show_members", :locals => { :circle => circle } %>
    </div>
    <div class="activity-feed-actions">
      <%= link_to t(".view_all_members_and_details"), show_expanded_circle_path(circle), :remote => true %>
    </div>
  </div>
<% end %>
