<div id="group-new" class="modal-header">
  <button class="close" data-dismiss="modal" type="button">×</button>
  <h3><%= t(".create_new_group") %></h3>
</div>
<%= form_for(@circle, :html => { :class => :nice, :remote => true }, :builder => StandartBuilder ) do |f| %>
  <div class="modal-body">
    <div class="row-fluid">
      <div class="span12">
        <div class="row-fluid">
          <%= f.error_messages %>
        </div>
        <div class="row-fluid">
          <div class="span4"><%= t(".group_name") %></div>
          <div class="span8"><%= f.text_field :name, :class => "input-text" %></div>
        </div>
        <div class="row-fluid">
          <div class="span4"><%= t(".description") %></div>
          <div class="span8"><%= f.text_field :description, :class => "input-text" %></div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <%= f.submit t("save"), :class => "button violet" %>
    <%= link_to t("close"), "#", :class => "button", "data-dismiss" => "modal" %>
  </div>
<% end %>
