<% if defined? show_expanded %>
  <ul class="block-grid two-up">
    <% circle.users.each do |user| %>
      <li>
        <div class="connection-detail expanded-group-member" data-friend-id="<%= user.id %>" id="<%= user.id %>" >
          <div class="row-fluid">
            <div class="span3">
              <%= link_to image_tag(user.avatar.thumb.url), user_profile_path(user.user_profile), :class => "user-profile-img" %>
            </div>
            <div class="span9">
              <%= link_to user.fullname.truncate(19), user_profile_path(user.user_profile), :class => "name user-profile" %>
              <div class="title"><%= user.title.try(:truncate, 25) %></div>
              <div class="company"><%= user.user_profile.company_name.truncate(25) %></div>
            </div>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
<% else %>
  <div class="row-fluid">
    <% circle.users[0,12].each do |user| %>
      <div class="group-member icon" data-friend-id="<%= user.id %>" id ="<%= user.id %>">
        <%= link_to image_tag(user.avatar.thumb.url), user_profile_path(user.user_profile), :class => "name user-profile" %>
      </div>
    <% end %>
  </div>
<% end %>
