<div class="whitebox group-box expanded-group-box" id="<%= @circle.id %>">
	<%= link_to "X", confirm_delete_circle_path(@circle), :class => "delete-group", :remote => true, :style => "display:none" %>
	<h4>
		<%= best_in_place @circle, :name, :display_with => :truncate, :helper_options => { :length => 40 } %> 
		<span class="members" id="circle-<%= @circle.id %>-cnt">(<%= @circle.users.size %>)</span>
	</h4>
	<div id="circle-<%= @circle.id %>-members">
		<%= render :partial => "circles/show_members", :locals => { :circle => @circle, :show_expanded => true } %>
	</div>
	<div class="activity-feed-actions">
		<%= link_to "Collapse", collapse_expanded_circles_path, :remote => true %>
	</div>
</div>
