$("#expanded-group").html("");
$("#group-list").html("<%= escape_javascript(render('list')) %>")
resetDraggable();
initGroupDeleteLink();
initializeUserProfilePopups();
$('#group-list').masonry('reload');