<% if @expanded %>
  $("#circle-<%= @circle.id %>-members").html("<%= escape_javascript(render :partial => 'show_members', :locals => { :circle => @circle, :show_expanded => true })%>");
<% else %>
  $("#circle-<%= @circle.id %>-members").html("<%= escape_javascript(render :partial => 'show_members', :locals => { :circle => @circle })%>");
<% end %>
$("#circle-<%= @circle.id %>-cnt").html("(<%= @circle.users.size %>)");
initGroupDraggable();
initializeUserProfilePopups();

