var item_id = <%= params[:id] %>
$('#bootstrap_modal').modal('hide')
$('#group-list').masonry( 'remove', $('#'+item_id) );
resetDraggable();
initGroupDeleteLink();
initializeUserProfilePopups();
$('#group-list').masonry('reload');
