$("#expanded-group").html("<%= escape_javascript(render('show_expanded')) %>");
$("#group-list").html("<%= escape_javascript(render('list')) %>")
resetDraggable();
initGroupDeleteLink();
initializeUserProfilePopups();
$('#group-list').masonry('reload');