<script id="confirmation_modal" type="text/x-jquery-tmpl">
  <div class="modal hide fade" data-id="confirmation">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h3><%= t('confirmation') %></h3>
    </div>
    <div class="modal-body"></div>
    <div class="modal-footer">
      <a href=${url} class="button violet" data-remote="true"><%= t('confirm') %></a>
      <a class="button" data-dismiss="modal" aria-hidden="true"><%= t('close') %></a>
    </div>
  </div>
</script>
