<%= render :partial => "shared/templates" %>
<div class="accordion-group">
  <div class="accordion-heading">
    <a class="accordion-toggle" href="JavaScript:void(0);" id="collapse-market-stream">
      <i class="icon-bullhorn icon-white "></i>
      <span><%= activity_feed_name(for_one_user) %></span>
    </a>
  </div>
  <div style="height: auto; " id="market-stream" class="accordion-body">
    <div class="select-type">
      <div><%= t('.select_update_type') %></div>
      <div id="select-update-type" class="btn-group">
        <button class="btn dropdown-toggle" data-toggle="dropdown" href="#">
          <div class="current-value" data-type="all"><%= t('.all') %></div>
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <%= render_update_type_items %>
        </ul>
      </div>
    </div>
    <div class="accordion-inner bottom-border">
      <div id="items_loader">
        <%= t(".please_wait") %>
        <%= image_tag "/assets/spinner.gif" %>
      </div>
      <table class="table table-striped">
        <tbody>
        </tbody>
      </table>
    </div>
  </div>
</div>

<script type="text/javascript">
  ActivityFeed.loadData("<%= activity_feeds_path %>", "<%= params[:controller] == 'user_profiles' && params[:action] == 'show' %>", "<%= params[:id] %>");
</script>
