<dl id="menu">
  <dd>Welcome, <%= current_user.first_name.truncate(19) %></dd>
  <dd id="profile"><%= link_to "view profile", user_profile_path(current_user.user_profile) %></dd>
  <dd id="settings"><%= link_to "settings", edit_setting_path(current_user) %></dd>
  <dd id="logout"><%= link_to "logout", logout_path, :method => :delete %></dd>
</dl>