<%= render 'shared/faye_client'%>
<div class="accordion-heading">
  <%= link_to "JavaScript:void(0);", :class => "accordion-toggle", :data => { :toggle => "collapse", :original => "title" } do %>
    <i class='icon-th icon-white'></i>
    <span><%= t('.my_marketplace') %></span>
  <% end %>
</div>
<div id="my_marketplace" class="accordion-body collapse in">
  <div class="accordion-inner">
    <%= form_tag(search_friends_users_path, :remote => true, :method => :get, :class => "search-form row-fluid") do %>
      <input type="text" class="input-large search-query span9" results="0" name="search_name" value="<%= params[:search_name] %>" placeholder="<%= t('.type_your_search_here') %>">
      <input type="submit" class="btn span3" value="<%= t('search') %>">
    <% end %>
    <%= render :partial => "shared/user_status", :locals => {:status => current_user.user_status.status} %>
    <div class="filter-form">
      <%= link_to search_friends_users_path(:search_name => params[:search_name], :first_name_order => params[:first_name_order] == "ASC" ? "DESC" : "ASC"), :class => "btn", :remote => true do %>
        <%= raw("#{t(".first_name")} #{params[:first_name_order] == 'ASC' ? '&#x25b4' : '&#x25be' }") %>
      <% end %>
      <%= link_to search_friends_users_path(:search_name => params[:search_name], :last_name_order => params[:last_name_order] == "DESC" ? "ASC" : "DESC"), :class => "btn", :remote => true do %>
        <%= raw("#{t(".last_name")} #{params[:last_name_order] == 'DESC' ? '&#x25be' : '&#x25b4' }") %>
      <% end %>
    </div>
    <ul class="nav nav-list">
      <% if @my_friends.any? %>
        <% content_for :friend_chats do %>
          <%= render :partial => 'layouts/my_marketplace/friend_chat', :collection => @my_friends, :as => :friend %>
        <% end %>
        <%- @my_friends.each do |friend| %>
          <div id="friend_row_<%= friend.id %>" class="row-fluid friend_row" data-friend-id="<%= friend.id %>">
            <div class="span2 friend_logo" data-id="<%= friend.id %>">
              <%= link_to image_tag(friend.user_profile.avatar.thumb.url, :size => "40x40", :class => "friend_avatar"), user_profile_path(friend.user_profile) %>
              <div class="<%= status_class(friend.online_status) %> status_icon"></div>
            </div>
            <div class="span8 friend_info">
              <h4><%= friend.fullname.truncate(19) %></h4>
              <p class="last_seen">
                <%= last_seen(friend) %>
              </p>
              <p>
                <%- if friend.has_new_friends? %>
                  <i class='icon-user icon-black'></i>
                  <span>
                    <%- if friend.has_one_new_friend_for_seven_days? %>
                      <%= t('.added_one_friend', :last_friend => friend.last_added_friend_name_for_seven_days) %>
                    <% else %>
                      <%= t('.added_friends', :last_friend => friend.last_added_friend_name_for_seven_days, :count => friend.friends_for_seven_days.size-1) %>
                      <span class='new_connections'><%= t(".others") %></span>
                    <% end %>
                  </span>
                <% end %>
              </p>
              <%= render :partial => "layouts/my_marketplace/friend_row", :locals => { :user => friend } %>
            </div>
            <div class="span2 friend_message">
              <i class='message-icon'></i>
              <div class="new_messages indicator_container">
                <span class="badge" data-badge="0">0</span>
              </div>
            </div>
          </div>
        <% end %>
      <% else %>
        <div class="no_connections">
          <h4><%= t('.no_connections_found') %></h4>
        </div>
      <% end %>
    </ul>
  </div>
</div>

<%= hidden_field_tag 'friend_preview_popup_path', friend_preview_popup_conversations_path %>

<script type="text/javascript">
  user_status("<%= update_status_users_path %>");
</script>
