<ul class="nav nav-list">
  <li>
    <%= link_to tools_path, :class => ('current' if params[:controller] == 'tools') do %>
      <i class='icon-home'></i><span><%= t('.home') %></span>
    <% end %>
  </li>
  <li>
    <%= link_to conversations_path, :class => ('current' if params[:controller] == 'conversations') do %>
      <i class='icon-th'></i><span><%= t('.inbox') %></span>
    <% end %>
  </li>
  <li>
    <%= link_to "#" do %>
      <i class='icon-th'></i><span><%= t('.build_marketplace') %></span>
    <% end %>
  </li>
  <li>
    <%= link_to connections_path, :class => ('current' if params[:controller] == 'connections') do %>
      <i class='icon-th'></i><span><%= t('.my_invitations') %></span>
    <% end %>
  </li>
</ul>
