<ul class="nav">
  <li class="dropdown menu-item">
    <%= link_to t('.connections'), tools_path, :class => 'menu-triger' %>
    <ul class="dropdown-menu sub-menu">
      <li><%= link_to t('.add'), manage_connections_path %></li>
      <li><%= link_to t('.manage'), my_connections_path %></li>
    </ul>
  </li>
  <li class="menu-item">
    <%= link_to t('.orders'), '#', :class => 'menu-triger', :rel => 'popover', :title => t('layouts.nav.comming_soon_title'), :"data-content" => t('layouts.nav.comming_soon_description') %>
    <ul class="dropdown-menu sub-menu">
      <li><%= link_to t('.rfps'), '#', :rel => 'popover', :title => t('layouts.nav.comming_soon_title'), :"data-content" => t('layouts.nav.comming_soon_description') %></li>
      <li><%= link_to t('.proposals'), '#', :rel => 'popover', :title => t('layouts.nav.comming_soon_title'), :"data-content" => t('layouts.nav.comming_soon_description') %></li>
      <li><%= link_to t('.campaigns'), '#', :rel => 'popover', :title => t('layouts.nav.comming_soon_title'), :"data-content" => t('layouts.nav.comming_soon_description') %></li>
    </ul>
  </li>
  <li class="menu-item">
    <%= link_to t('.inventory'), '#', :class => 'menu-triger', :rel => 'popover', :title => t('layouts.nav.comming_soon_title'), :"data-content" => t('layouts.nav.comming_soon_description') %>
    <ul class="dropdown-menu sub-menu">
      <li><%= link_to t('.properties'), '#', :rel => 'popover', :title => t('layouts.nav.comming_soon_title'), :"data-content" => t('layouts.nav.comming_soon_description') %></li>
      <li><%= link_to t('.utils'), '#', :rel => 'popover', :title => t('layouts.nav.comming_soon_title'), :"data-content" => t('layouts.nav.comming_soon_description') %></li>
      <li><%= link_to t('.rates'), '#', :rel => 'popover', :title => t('layouts.nav.comming_soon_title'), :"data-content" => t('layouts.nav.comming_soon_description') %></li>
    </ul>
  </li>
  <li class="dropdown menu-item">
    <%= link_to t('.reports'), '#', :class => 'menu-triger' %>
    <ul class="dropdown-menu sub-menu">
      <li><%= link_to t('.suggest_report'), new_feature_requests_path, :remote => true %></li>
    </ul>
  </li>
  <li class="dropdown menu-item">
    <%= link_to t('.feeds'), feeds_path, :class => 'menu-triger' %>
    <ul class="dropdown-menu sub-menu">
      <li><%= link_to t('.activities'), feeds_path(:feed_type => "activities") %></li>
      <li><%= link_to t('.news'), feeds_path(:feed_type => "news") %></li>
      <li><%= link_to t('.events'), '' %></li>
      <li><%= link_to t('.jobs'), '' %></li>
    </ul>
  </li>
</ul>
