<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <%= link_to(image_tag('logo-small.png'), current_user ? user_profile_path(current_user.user_profile) : "#", :class => "brand", :id => "beanstock_logo") %>
      <div class="group-menu nav-collapse">
        <% if current_user %>
          <%= render :partial => "layouts/nav_links" %>
          <%= render :partial => 'shared/users_right_menu' %>
        <% else %>
          <ul class="nav pull-right">
            <li class="menu-item"><%= link_to t(".log_in"), '/auth/linkedin', :class => 'menu-triger' %></li>
          </ul>
        <% end %>
      </div>
    </div>
  </div>
</div>
