<div class="accordion-heading">
  <div class = "accordion-toggle">
    <i class='icon-th icon-news'></i>
    <span><%= t('.newsfeed') %></span>
  </div>
</div>
<div id="news_container">
  <div class="accordion-group">
    <div id="news" class="accordion-body collapse in">
      <div class="accordion-inner no-padding-bottom">
        <div class="carousel slide" id="myCarousel">
          <div class="carousel-inner">
            <%= render :partial => "news/news_item", :collection => @slider_news, :as => :news %>
          </div>
          <input id="slider_page" type="hidden" value="1"></input>
        </div>
        <a data-slide="prev" href="#myCarousel" class="left carousel-control" data-original-title="">
          <%= image_tag "left_arrow.png" %>
        </a>
        <a data-slide="next" href="#myCarousel" class="right carousel-control" data-original-title="">
          <%= image_tag "right_arrow.png" %>
        </a>
      </div>
    </div>
  </div>
</div>