<div id="suggested_users_widget" >
  <div class="heading">
    <i class='icon-th icon-white'></i>
    <span><%= t('.suggested_users') %></span>
  </div>
  <div id="suggestedUsersCarousel" class="carousel slide">
    <div class="carousel-inner">
      <% @suggested_users.each_slice(4) do |users_block| %>
        <div class="item">
          <% users_block.each do |user| %>
            <%= image_tag user.logo, :id => "user_ava_#{user.id}", :class => 'ava', 'data-user-id' => user.id %>
          <% end %>
        </div>
      <% end %>
    </div>
    <a class="carousel-control left" href="#suggestedUsersCarousel" data-slide="prev"><span class="align_left">&lsaquo;</span></a>
    <a class="carousel-control right" href="#suggestedUsersCarousel" data-slide="next"><span class="align_right">&rsaquo;</span></a>
  </div>
  <div id="suggestedUserCarousel" data-interval="false">
    <div class="carousel-inner">
      <% @suggested_users.each do |user| %>
        <div id="suggested_user_<%= user.id %>" class="item" data-user-id="<%= user.id %>">
          <div class="suggested-user-body">
            <%= image_tag user.logo, 'data-user-id' => user.id, :class => 'user-ava' %>
            <div class="user-info">
              <h4><%= user.fullname %></h4>
              <h5><%= user.title %></h5>
              <p><b><%= t('.company') %>: </b><%= user.user_profile.company_name %></p>
              <p><%= user.short_address %></p>
            </div>
          </div>
          <div class="buttons">
            <%= link_to t('.connect'), new_connection_path(:friend_id => user), :class => 'btn btn-small', :remote => true %>
            <%= link_to t(".message"), new_conversation_path(:recipient_id => user), :remote => true, :class => "btn btn-small btn-primary" %>
          </div>
        </div>
      <% end %>
    </div>
    <a class="carousel-control left"><span>&lsaquo;</span></a>
    <a class="carousel-control right"><span>&rsaquo;</span></a>
  </div>
</div>
