<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <title>Beanstock</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="author" href="humans.txt" />
  <meta name="author" content="humans.txt">
  <link rel="icon" type="image/png" href="/beanstock-favicon.png">

  <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application", "http://#{request.host}:9292/faye.js" %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= body_class %> with_fluid_container">
  <%= render :partial => 'layouts/nav' %>
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span2" id="menu-left">
        <div class="sidebar-nav">
          <%= render :partial => "layouts/navigation_bar" %>
        </div>
        <%= render :partial => "layouts/market_ticker", :locals => {:for_one_user => false} %>
      </div>
      <div class="span7	section-body" id="content">
        <div id="section-body">
          <%= flash_helper %>
          <%= yield %>
        </div>
      </div>
      <%= render "layouts/widget" %>
    </div>
    <%= yield :friend_chats %>
    <%= render "layouts/discover_footer" %>
  </div>
  <!-- Prompt IE 6 users to install Chrome Frame. Remove this if you want to support IE 6.
  chromium.org/developers/how-tos/chrome-frame-getting-started -->
  <!--[if lt IE 7 ]>
  <script defer src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
  <script defer>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
  <![endif]-->
  <div id="bootstrap_modal" class="modal hide fade"></div>
  <div id="add_new_entry" class="modal hide fade"></div>
  <%= render "layouts/confirmation_template" %>
  <% if Rails.env.production? %>
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-30449054-1']);
      _gaq.push(['_setDomainName', 'beanstock.com']);
      _gaq.push(['_trackPageview']);

      (function() {
       var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
       ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
       })();

    </script>
  <% end %>
</body>
</html>
